<div class="money-con mt-list">
        <h3>数据总览：</h3>
        <input type="button" value="导出" class="money-btn" onclick="exportDetailData();">
    </div>
    <!--列表-->
<table class="money-data mb-30 mt-10">
    <thead>
        <tr>
            <th>日期</th>
            <th>累计用户</th>
            <th>启动用户</th>
            <th>新增用户</th>
            <th>启动次数</th>
            <th>充值用户</th>
            <th>充值额度(元)</th>
            <th>消费总用户</th>
            <th>消费真钱用户</th>
            <th>消费真钱</th>
            <th>消费铜币</th>
            <th>消费代金券</th>
            <th>阅读图书</th>
            <th>阅读章节</th>
            <th>启动留存率</th>
            <th>新增留存率</th>
            <th>渠道详情</th>
        </tr>
     </thead>
     <tbody id="tableBody">
     </tbody>        
</table>
<div class="tcdPageCode">
</div>
<link rel="stylesheet" href="${rc.contextPath}/static/css/page.css">
<script src="${rc.contextPath}/static/js/jquery.page.js"></script>
<script>

    function drawSummaryPage(){
        var params = {
            startTime: $("#startTime").val(),
            endTime: $("#endTime").val(),
            cnids: $("#cnids").val()
        };
        setSummaryPageData(1);//加载后即展示第一页数据
        createSummaryPageWidget(params);
    }
    
    //创建分页插件, 只应该调用一次
    function createSummaryPageWidget(params){
        var totalPage = 0;
        //获取总页数
        $.ajax({
            url: "${rc.contextPath}/zwsc/channel/getSummaryPageCnt.json",
            type: "POST",
            data: params,
            success: function(returnData){
                if(returnData.code == 1){
                    totalPage = returnData.data;
                    $(".tcdPageCode").createPage({
                        pageCount: totalPage,
                        current:1,
                        backFn: function(p){//p为当前页号
                            setSummaryPageData(p);
                        }
                    });
                } else{
                    alert(returnData.info);
                    return;
                }
            }
        });      
    }
    
    function setSummaryPageData(pageNo){
        var params = {
            startTime: $("#startTime").val(),
            endTime: $("#endTime").val(),
            cnids: $("#cnids").val(),
            pageNo: pageNo
        };
        $.ajax({
            url: "${rc.contextPath}/zwsc/channel/getSummaryPageData.json",
            type: "POST",
            data: params,
            success: function(returnData){
                if(returnData.code == 1){
                    var tableData = "";
                    $.each(returnData.data, function(i, item){
                        tableData += "<tr><td>"
                           +item.dt +"</td><td>"
                           + item.accumUsers + "</td><td>"
                           + item.qdUsers +"</td><td>"
                           + item.newUsers + "</td><td>"
                           + item.qdTimes + "</td><td>"
                           + item.chargeUsers +"</td><td>"
                           + item.chargeMoney  +"</td><td>"
                           + item.consumeUsers +"</td><td>"
                           + item.consumerMoneyUser +"</td><td>"
                           + item.realMoney +"</td><td>"
                           + item.copperCoin +"</td><td>"
                           + item.vouchers +"</td><td>"
                           + item.bookNum +"</td><td>"
                           + item.chapterNum +"</td><td>"
                           + item.qdRemain +"%</td><td>"
                           + item.addRemain +"%</td><td>"
                               + "<a href='${rc.contextPath}/zwsc/channel/detail?dt="+item.dt+"'>详细</a></td></tr>";
                    });
                    $("#tableBody").html(tableData);
                } else{
                    alert(returnData.info);
                }
            }
        });
    }
    
    function exportDetailData(){
        var startTime = $("#startTime").val();
        var endTime = $("#endTime").val();
        var version = $("#versionSel").val();
        var cnids = $("#cnids").val();
        window.location.href="/zwsc/channel/exportSummaryPageData.json?startTime="+startTime+"" +
                "&endTime="+endTime+"&version="+version+"&cnids="+cnids+"";
    }
</script>