
## css文件引入和css代码块
#define($cssblock)
#end



<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">

            ## 查询条件
            ## 示例（查询条件）
            <div class="ibox float-e-margins">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active" lid="1"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 全年预算</a>
                        </li>
                        <li class="" lid="2"><a data-toggle="tab" href="#tab-2" aria-expanded="false">半年预算</a>
                        </li>
                        <li class="" lid="3"><a data-toggle="tab" href="#tab-3" aria-expanded="false">季度预算</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <form class="form-horizontal m-t">
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <input placeholder="开始日期" class="laydate-icon form-control layer-date startDate" id="startDate1">
                                        </div>

                                        <div class="col-sm-4 m-b-xs text-right">
                                            <a href="javascript:;" class="btn btn-success button_view"><i class="fa fa-search "></i> 查询 </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <form class="form-horizontal m-t">
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <input placeholder="开始日期" class="laydate-icon form-control layer-date startDate" id="startDate2">
                                        </div>

                                        <div class="col-sm-4 m-b-xs text-right">
                                            <div data-toggle="buttons" class="btn-group">
                                                <label class="btn btn-sm btn-white active">
                                                    <input type="radio" id="option1" name="options" value="1">上半年</label>
                                                <label class="btn btn-sm btn-white">
                                                    <input type="radio" id="option2" name="options" value="2">下半年</label>
                                            </div>
                                            <a href="javascript:;" class="btn btn-success button_view"><i class="fa fa-search "></i> 查询 </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <form class="form-horizontal m-t">
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <input placeholder="开始日期" class="laydate-icon form-control layer-date startDate" id="startDate3">
                                        </div>

                                        <div class="col-sm-4 m-b-xs text-right">
                                            <div data-toggle="buttons" class="btn-group">
                                                <label class="btn btn-sm btn-white active">
                                                    <input type="radio" id="option1" name="options" value="1">一季度</label>
                                                <label class="btn btn-sm btn-white">
                                                    <input type="radio" id="option2" name="options" value="2">二季度</label>
                                                <label class="btn btn-sm btn-white">
                                                    <input type="radio" id="option3" name="options" value="3">三季度</label>
                                                <label class="btn btn-sm btn-white">
                                                    <input type="radio" id="option4" name="options" value="4">四季度</label>
                                            </div>
                                            <a href="javascript:;" class="btn btn-success button_view"><i class="fa fa-search "></i> 查询 </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            ## 查询结果
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div id="echart-container" style="height:400px;" ></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




## js文件引入和js代码块
#define($jsblock)
<script src="#springUrl("")/static/js/plugins/echarts/echarts-3.6.2.min.js?$!application.getAttribute('/static/js/plugins/echarts/echarts-3.6.2.min.js')" type="text/javascript" language="javascript"></script>
##<script src="#springUrl("")/static/js/plugins/echarts/echarts.js?$!application.getAttribute('/static/js/plugins/echarts/echarts.js')" type="text/javascript" language="javascript"></script>
<script src="#springUrl("")/static/js/plugins/layer/laydate/laydate.js?$!application.getAttribute('/static/js/plugins/layer/laydate/laydate.js')" type="text/javascript" language="javascript"></script>
<script>
    $(function() {
        // 初始化日期控件
        initLaydate();
        //载入图表
        initChart();
    })

    ## 示例（开始日期、结束日期）
    function initLaydate(){
        var start1 = {
            elem: "#startDate1",
//            format: "YYYY/MM/DD hh:mm:ss",
            format: "YYYY",
//            min: laydate.now(),
            max: "2099-06-16 23:59:59",
//            istime: true,
            istoday: true
        };
        var start2 = {
            elem: "#startDate2",
//            format: "YYYY/MM/DD hh:mm:ss",
            format: "YYYY",
//            min: laydate.now(),
            max: "2099-06-16 23:59:59",
//            istime: true,
            istoday: true
        };
        var start3 = {
            elem: "#startDate3",
//            format: "YYYY/MM/DD hh:mm:ss",
            format: "YYYY",
//            min: laydate.now(),
            max: "2099-06-16 23:59:59",
//            istime: true,
            istoday: true
        };
        laydate(start1);
        laydate(start2);
        laydate(start3);
    }



    // 基于准备好的dom，初始化echarts实例
    var chart = echarts.init(document.getElementById('echart-container'));

    //查询
    function initChart() {
        chart.clear();
        chart.showLoading({text: '正在努力的读取数据中...'});
        var lid = $(".nav-tabs li.active").attr("lid");
        var startDate = $(".tab-content div.active .startDate").val();
        var endDate = $(".tab-content div.active .endDate").val();
        var type = $(".tab-content div.active .btn-group label.active input").val();

        $.ajax({
            url:"/report/area/budget/query.json",
            type:"post",
            async: false,
            data:{
                lid:lid,
                startDate:startDate,
                endDate:endDate,
                type:type
            },
            success: function(returnData){
                chart.hideLoading();
                if (returnData.code == '1') {
                    chart.setOption(returnData.data, true);
//                    chart.setOption(test, true);
                } else {
                    console.log("返回结果有误");
                }
            }
        });
    }

    $(".button_view").click(function () {
        initChart();
    })




    var test = {
    }
</script>
#end