
#define($cssblock)
##树状展示
<link href="#springUrl("")/static/css/plugins/treeview/bootstrap-treeview.css?$!application.getAttribute('/static/css/plugins/treeview/bootstrap-treeview.css')" rel="stylesheet">

#end

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div id="parent_div" class="form-group">
                        <label class="col-sm-2 control-label">上级区域</label>
                        <div id="parent_content"  class="col-sm-10">
                            <input id="parent_id" hidden>
                            <input id="parent_name" name="parent_name" type="text" class="form-control col-sm-6"
                                #if(!${parentTreeJson})
                                   disabled
                                #end
                                   onclick="showDeptList(); return false;" onfocus=this.blur() >
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-w-m btn-primary"><i class="fa fa-plus "></i> 添加</button>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>区域</th>
                            <th>所属区域</th>
                            <th>状态</th>
                            <th>管理</th>
                        </tr>
                        </thead>
                        <tbody id="list_tbody">
                        #foreach($data in $dataList)
                            <tr class="gradeX">
                                <td>$!{data.name}</td>

                                <td>
                                    #if($data.parentName)
                                        $data.parentName
                                    #else
                                        -
                                    #end
                                </td>
                                <td>
                                    #if($!{data.itemStatus} == "0") 启用
                                    #else 停用
                                    #end
                                </td>
                                <td class="right">
                                    <input type="hidden" value="$!{data.id}">
                                    <a href="javascript:;" class="btn btn-info btn-sm button_view_pd"><i class="fa fa-pencil "></i> 修改 </a>
                                    <a href="javascript:;" class="btn btn-danger btn-sm button_view_pd"><i class="fa fa-trash "></i> 删除 </a>
                                    <a href="javascript:;" class="btn btn-default btn-sm button_view_pd"><i class="fa fa-search "></i> 查看 </a>
                                </td>
                            </tr>
                        #end
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="parent_tree_content" class="col-sm-9 ibox-content" style="display:none; position: absolute;">
    <div id="parent_tree" class="test" ></div>
    <div id="clear_content">
        <a  href="javascript:;" id="clear"  class="btn btn-success btn-sm button_view_pd"><i class="fa fa-remove "></i> 清空 </a>
    </div>
</div>

#define($jsblock)

## 树状展示
<script type="text/javascript" src="#springUrl("")/static/js/plugins/treeview/bootstrap-treeview.js?$!application.getAttribute('/static/js/plugins/treeview/bootstrap-treeview.js')"></script>


<script>

    function parentChange(parent_id) {
        $.ajax({
            url:"/area/list.json?parentId=" + parent_id,
            type:"get",
            async: false,
            success: function(returnData){
                console.log(returnData);
                $("#list_tbody").html(returnData);
            }
        });
    };

    ## 上级公司展示
    function onBodyDown(event) {
        if (!(event.target.id == "parent_id" || event.target.id == "parent_tree_content" || $(event.target).parents("#parent_tree_content").length>0)) {
            hideMenu();
        }
    }
    function hideMenu() {
        $("#parent_tree_content").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }
    ##显示部门列表（上级部门）
    function showDeptList() {
        var parent_name = $("#parent_name");
        var parent_content_offSet = $("#parent_content").offset();
        var parent_name_offSet = parent_name.offset();
        $("#parent_tree_content").css({left:parent_name_offSet.left + "px", top:parent_content_offSet.top + parent_name.outerHeight() + "px"}).slideDown("fast");
        $("body").bind("mousedown", onBodyDown);
    };
    ## 上级公司展示
    $().ready(
            function(){
                var treeData = '${parentTreeJson}';
            ## 生成部门树（上级部门）
                $("#parent_tree").treeview({
                    showBorder: !1,
                    levels:1,
                    data: treeData,
                    onNodeSelected: function (e, o) {
                        $("#parent_id").val(o.value);
                        $("#parent_name").val(o.text);
                        $("#parent_tree_content").fadeOut("fast");
                        parentChange($("#parent_id").val());
                    }
                });

            }
    );
    // 添加
    $(".btn-primary").click(function(){
        window.location.href = "${rc.contextPath}/area/toAdd?parentId=" + $("#parent_id").val();
    })
    // 修改
    $("#list_tbody").on("click",".btn-info",
            function(){
                var id = $(this).parent().children(":first").val();
                window.location.href = "${rc.contextPath}/area/toUpdate?id=" + id;
            }
    );
    // 查看
    $("#list_tbody").on("click",".btn-default",
            function(){
                var id = $(this).parent().children(":first").val();
                window.location.href = "${rc.contextPath}/area/toRefer?id=" + id;
            }
    );

    $("#clear_content").on("click",".btn-success",function(){
        $("#parent_id").val("");
        $("#parent_name").val("");
        parentChange($("#parent_id").val());
        hideMenu();

    });

    // 删除
    $("#list_tbody").on("click",".btn-danger",
            function(){
                var id = $(this).parent().children(":first").val();
                delItem(function(){
                    $.ajax({
                        url:"/area/remove.json",
                        type:"post",
                        data:{
                            "id":id
                        },
                        success: function(returnData){
                            if(returnData.code == 1){
                                popMsg('删除成功!', "/area/index");
                            } else{
                                layer.msg(returnData.info);
                            }
                        }

                    });
                });
            }
    );


</script>
#end