## 引入css
#define($cssblock)
<link href="#springUrl("")/static/css/plugins/switchery/switchery.css?$!application.getAttribute('/static/css/plugins/switchery/switchery.css')" rel="stylesheet">
##树状展示
<link href="#springUrl("")/static/css/plugins/treeview/bootstrap-treeview.css?$!application.getAttribute('/static/css/plugins/treeview/bootstrap-treeview.css')" rel="stylesheet">

#end

<div class="ibox-content">
    <form class="form-horizontal m-t" id="commentForm">
        <input type="hidden" id="id" name="id" value="$baseArea.id">
        <div class="form-group">
            <label class="col-sm-3 control-label">上级区域</label>
            <div id="parent_content"  class="col-sm-8">
                <input id="parent_id" hidden value="$!{baseArea.parentId}">
                <input value="$!{parentAreaName}" id="parent_name" name="parent_name" type="text" class="form-control"
                    #if(!${parentTreeJson})
                       disabled
                    #end
                       onclick="showDeptList(); return false;" onfocus=this.blur()>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">区域名称:</label>
            <div class="col-sm-8">
                <input value="$!{baseArea.name}" id="area_name" name="area_name" maxlength="50" type="text" class="form-control" required="" aria-required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">区域编号</label>
            <div class="col-sm-8">
                <input value="$!{baseArea.code}" id="code" name="code" maxlength="50" type="text" class="form-control" required="" aria-required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">房租成本</label>
            <div class="col-sm-8">
                <input value="$!{baseArea.roomPay}" id="room_pay" name="room_pay" maxlength="50" type="text" class="form-control" required="" aria-required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
                <input value="$!{baseArea.remark}" id="remark" name="remark" maxlength="50" type="text" class="form-control" required="" aria-required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">启用:</label>
            <div class="col-sm-8">
                <input id="item_status" name="item_status" type="checkbox" class="js-switch"
                    #if($!{baseArea.itemStatus} == "0")
                       checked
                    #end
                />
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> 保存</button>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <button class="btn btn-default" type="button"><i class="fa fa-reply"></i> 取消</button>
            </div>
        </div>
    </form>
</div>

<div id="parent_tree_content" class="col-sm-8 ibox-content" style="display:none; position: absolute;">
    <div id="parent_tree" class="test" ></div>
</div>


## 引入js
#define($jsblock)
<script type="text/javascript" src="#springUrl("")/static/js/plugins/switchery/switchery.js?$!application.getAttribute('/static/js/plugins/switchery/switchery.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/jquery.validate.min.js?$!application.getAttribute('/static/js/plugins/validate/jquery.validate.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/messages_zh.min.js?$!application.getAttribute('/static/js/plugins/validate/messages_zh.min.js')"></script>

##树状展示
<script type="text/javascript" src="#springUrl("")/static/js/plugins/treeview/bootstrap-treeview.js?$!application.getAttribute('/static/js/plugins/treeview/bootstrap-treeview.js')"></script>

<script>

    ##显示公司树状列表（上级部门）start
    function onBodyDown(event) {
        if (!(event.target.id == "parent_id" || event.target.id == "parent_tree_content" || $(event.target).parents("#parent_tree_content").length>0)) {
            hideMenu();
        }
    }
    function hideMenu() {
        $("#parent_tree_content").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }
    function showDeptList() {
        var parent_name = $("#parent_name");
        var parent_content_offSet = $("#parent_content").offset();
        var parent_name_offSet = parent_name.offset();
        $("#parent_tree_content").css({left:parent_name_offSet.left + "px", top:parent_content_offSet.top + parent_name.outerHeight() + "px"}).slideDown("fast");
        $("body").bind("mousedown", onBodyDown);
    };
    ##显示公司树状列表（上级部门）end

    $.validator.setDefaults(
        {highlight:function(e){$(e).closest(".form-group").removeClass("has-success").addClass("has-error")},
            success:function(e){
                e.closest(".form-group").removeClass("has-error").addClass("has-success")
            },
            errorElement:"span",
            errorPlacement:function(e,r){e.appendTo(r.is(":radio")||r.is(":checkbox")?r.parent().parent().parent():r.parent())},
            errorClass:"help-block m-b-none",validClass:"help-block m-b-none"}
    ),
    $().ready(
        function(){
            var e="<i class='fa fa-times-circle'></i> ";
            $("#commentForm").validate({
                submitHandler:function(form){
                    update();
                }
            });
            {var i=document.querySelector(".js-switch"),
                t=(new Switchery(i,{color:"#1AB394"}));
            };
            var treeData = '${parentTreeJson}';
            ## 生成部门树（上级部门）
            $("#parent_tree").treeview({
                showBorder: !1,
                levels:1,
                data: treeData,
                onNodeSelected: function (e, o) {
                    $("#parent_id").attr("value", o.value);
                    $("#parent_name").attr("value", o.text);
                    $("#parent_tree_content").fadeOut("fast");
                }
            })
        }
    );

    function update(){
        var id = $("#id").val();
        var name = $("#area_name").val();
        var roomPay = $("#room_pay").val();
        var code = $("#code").val();
        var parentId = $("#parent_id").val();
        var item_status = $(".js-switch")[0].checked?"0":"1";
        $.ajax({
            url:"/area/update.json",
            type:"post",
            data:{
                id:id,
                name:name,
                code:code,
                parentId:parentId,
                roomPay:roomPay,
                itemStatus:item_status
            },
            success: function(returnData){
                if(returnData.code == 1){
                    popMsg('更新成功!', "/area/index");
                } else{
                    layer.msg(returnData.info);
                }
            }

        });
    }

    // 返回
    $(".btn-default").click(function(){
        history.go(-1);
    })
</script>
#end