<div style="width: 100%;text-align: center;margin-top: 200px" >
    <h1 style="font-size: 60px;background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#2dbaf3), to(blue));-webkit-background-clip: text;-webkit-text-fill-color: transparent;">欢迎使用万维数据分析平台</h1>
</div>