#set($layout = '/layout/empty.vm')

<!doctype html>
<html>
<head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>管理系统-登录</title>
    <link href="${rc.contextPath}/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="${rc.contextPath}/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="${rc.contextPath}/static/css/animate.min.css" rel="stylesheet">
    <link href="${rc.contextPath}/static/css/style.min.css" rel="stylesheet">
    <link href="${rc.contextPath}/static/css/login.min.css" rel="stylesheet">
</head>

<body class="signin">
##<div class="loginmain">
##    <div class="login_banner"><img src="${rc.contextPath}/static/images/pic-data.png"/></div>
##    <form id="id_loginform" method="post">
##        <input type="hidden" name="returnUrl" value="$!escapeTool.html($!returnUrl)">
##        <div class="logindetail">
##            <p class="login_logo"><img src="${rc.contextPath}/static/images/logo_t.png" width="350" height="60"/></p>
##            <div class="login_input">
##                <input type="text" placeholder="用户名" class="login_text" name="uname" id="id_uname"/>
##
##                <div class="login_passwordmain">
##                    <input type="password" placeholder="密码" class="login_password" autocomplete="off" name="passwd"
##                           id="id_passwd"/>
##                </div>
##                #*<div class="login_code">
##                    <input type="text" placeholder="验证码" class="login_text" name="vcode" id="id_vcode"/>
##                    <img src="${rc.contextPath}/login/generateImage" class="login_image" id="login_image"
##                         onclick="$('#login_image').attr('src','${rc.contextPath}/login/generateImage?'+new Date().getTime())"
##                         style="cursor: pointer">
##                    <a href="javascript:changeImage()" tabindex="-1">换一张</a>
##                </div>
##                <div class="login_detail">
##                    <div class="login_checkbox"><input type="checkbox" name="remember" value="1" id="id_remember">
##                        <label for="id_remember">下次自动登陆</label>
##                    </div>
##                </div>*#
##                <div class="login_error"></div>
##                <a href="javascript:void(0)" class="loginbtn">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
##            </div>
##        </div>
##    </form>
##</div>
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
##                <div class="logopanel m-b">
##                    <h1>[ H+ ]</h1>
##                </div>
##                <div class="m-b"></div>
##                <h4>欢迎使用 <strong>H+ 后台主题UI框架</strong></h4>
##                <ul class="m-b">
##                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势一</li>
##                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势二</li>
##                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势三</li>
##                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势四</li>
##                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势五</li>
##                </ul>
##                <strong>还没有账号？ <a href="#">立即注册&raquo;</a></strong>
            </div>
        </div>
        <div class="col-sm-5">
            <form method="post" action="/user/" id="id_loginform"  onsubmit="return false">
                <input type="hidden" name="returnUrl" value="$!escapeTool.html($!returnUrl)">
                <h4 class="no-margins">登录：</h4>
                <p class="m-t-md">欢迎来到$!{sysInfo.name}后台</p>
                <input type="text" class="form-control uname" placeholder="用户名" name="uname" />
                <input type="password" class="form-control pword m-b" placeholder="密码" name="passwd" />
##                <a href="#">忘记密码了？</a>
                <button class="btn btn-success btn-block">登录</button>
            </form>
        </div>

##        <div class="alert alert-warning">
##        </div>
    </div>
##    <div class="signup-footer">
##        <div class="pull-left">
##            &copy; 2017-2027 All Rights Reserved. XXXXXXXX 版权所有	京ICP证XXXXX号 	京ICP备XXXXXX号-2 	京公网安备XXXXXXXXX
##        </div>
##    </div>
</div>

<script src="${rc.contextPath}/static/js/jquery.min.js" type="text/javascript" language="javascript"></script>
<script src="${rc.contextPath}/static/js/plugins/jquery-form/jquery.form.js" type="text/javascript" language="javascript"></script>
<script src="${rc.contextPath}/static/js/modules/login/login.js" type="text/javascript" language="javascript"></script>

<script type="text/javascript">

    function changeImage() {
        $('#login_image').attr('src', '${rc.contextPath}/login/generateImage?' + new Date().getTime());
    }
    $(function(){
        if(window.top!==window.self){window.top.location=window.location};
        $(".uname").focus();
    });


    ## 支持回车登录
    $("body").keydown(function(ev){
        var ev=ev||event;
        if(ev.keyCode==13){
            $(".btn-block").trigger("click");
        }
    });
</script>
</body>
</html>
