<div class="top">
	<label class="top-l">消费数据：</label>
	<div class="top-r">
		<label class="content-lab">*选择时间：</label>
		<input type="text" id="startTime" name="startTime" class="datepicker">&nbsp;&nbsp;——&nbsp;&nbsp;
		<input type="text" id="endTime" name="endTime" class="datepicker">
		<input type="button" value="  确  定  " class="inp-sure" onclick="refreshData();">
	</div>
	<div class="bottom">
		<span>消费总金额:<b><span id="currencySum">0</span></b>&nbsp;&nbsp;&nbsp;&nbsp;
			铜币代金券：<b><span id="voucherSum">0</span></b>&nbsp;&nbsp;&nbsp;&nbsp;
		用户数：<b><span id="manSum">0</span></b></span>
	</div>
</div>
<!--下拉框-->
<div class="timer" style="margin-bottom:10px;">
	<label>时间周期：</label>
	<select id="timeCycleSel" name="timeCycle">
		<option value="1">日</option>
		<option value="2">周</option>
		<option value="3">月</option>
	</select>		
</div>
		
<div id="tabs">
    <ul>
        <li><a href="#ctrend">消费数据</a></li>
        <li><a href="#consumeway">消费金额阶梯统计</a></li>
        <li><a href="#consumegive">消费类型统计</a></li>
    </ul>

	<!--统计图-->
	<div id="ctrend">
	    <div class="money-con mt-list">
            <input type="button" value="导出" class="money-btn" onclick="exportTrend();">
		</div>
		<div class="pic" id="chartDiv" style="width: 600px;height:400px;margin-left:auto;margin-right:auto">
		</div>
	</div>
	
	<div id="consumeway">
	  #parse('zwsc/consume/index_way.vm')
	</div>
	<div id="consumegive">
	  #parse('zwsc/consume/index_give.vm')
	</div>
</div>
<script src="${rc.contextPath}/static/js/jquery-ui.tab.js"></script>
<link href="${rc.contextPath}/static/css/jquery-ui.tab.css" rel="stylesheet">
<script>
    $(function(){
    	//设置产品选项
    	$("#productSel").html("<option value='1'>中文书城</option>");
    	jsUtil.setHeaderInfo("${rc.contextPath}");
    	//绘制默认图表
    	drawChart();
        $( "#tabs" ).tabs({
            activate: function(event, ui){
                if(ui.newPanel.selector == "#consumeway"){
                	drawWayPage();
                } else if(ui.newPanel.selector == "#consumegive"){
                	drawGivePage();
                }
            }                        
        });
    });
    
    //重绘页面上的所有图表
    function refreshData(){
    	var params = {
    		startTime: $("#startTime").val(),
    		endTime: $("#endTime").val(),
    		version: $("#versionSel").val(),
    		cnids: $("#cnids").val()
    	};
    	drawChart(params);
    	drawWayPage();
    	drawGivePage();
    }
    
    //绘制图表并重新刷新头部信息
    function drawChart(params){
    	if(params === undefined){
    		params = {
    	            timeCycle: $("#timeCycleSel").val(),
    	            startTime: $("#startTime").val(),
    	            endTime: $("#endTime").val(),
    	            version: $("#versionSel").val(),
    	            cnids: $("#cnids").val()
    	        };
    	} else{
    		params["timeCycle"] = $("#timeCycleSel").val();
    	}
    	$.ajax({
    		url: "${rc.contextPath}/zwsc/consume/gettrendchart.json",
    		type: "POST",
    		data: params,
    		success: function(returnData){
    			if(returnData.code == 1){
    				$("#currencySum").text(returnData.data.summary.currencySum);
    				$("#voucherSum").text(returnData.data.summary.voucherSum);
    				$("#manSum").text(returnData.data.summary.manSum);
    				
    				var myChart = echarts.init(document.getElementById("chartDiv"));
    				myChart.setOption(returnData.data.chart);
    			} else{
    				alert(returnData.info);
    				window.location.reload();
    			}
    		}
    	});
    }

    function exportTrend(){
        var startTime = $("#startTime").val();
        var timeCycle = $("#timeCycleSel").val();
        var endTime = $("#endTime").val();
        var version = $("#versionSel").val();
        var cnids = $("#cnids").val();
        window.location.href="/zwsc/consume/exporttrend.json?startTime="+startTime+"" +
                "&endTime="+endTime+"&version="+version+"&cnids="+cnids+"&timeCycle="+timeCycle+"";
    }
    

</script>