#set($layout = '/layout/empty.vm')
<select id="custom_select" ata-placeholder="请选择客户" class="form-control" style="width:350px;" tabindex="2">
    <option value="">请选择客户</option>
    #foreach($data in $customList)
        <option value ="$data.id">$data.name</option>
    #end
</select>


<script>
    $('#custom_select').editableSelect({
        effects: 'slide'
    });
</script>