#set($layout = '/layout/empty.vm')
<select id="person_leader_id" data-placeholder="请选择项目负责人" class="chosen-select" style="width:350px;" tabindex="2"
    #if($!{hasSaleAuth} == false)
        disabled
    #end
>
    <option value="">请选择项目负责人</option>
    #foreach($data in $leaderList)
        <option value ="$data.id">$data.name</option>
    #end
</select>


<script>
    var config = {
        ".chosen-select": {},
        ".chosen-select-deselect": {allow_single_deselect: !0},
        ".chosen-select-no-single": {disable_search_threshold: 10},
        ".chosen-select-no-results": {no_results_text: "Oops, nothing found!"},
        ".chosen-select-width": {width: "95%"}
    };
    for (var selector in config)
        $(selector).chosen(config[selector]);
</script>