#set($layout = '/layout/empty.vm')
<select id="sign_company_select" ata-placeholder="请选择签约公司" class="form-control" style="width:350px;" tabindex="2"
        onchange="signCompanyChange()">
    <option value="">请选择签约公司</option>
    #foreach($data in $signCompanyList)
        <option value ="$data.id"
            #if(${baseExecuteOrder.customSignId} == $data.id)
                selected
            #end
        >$data.name</option>
    #end
</select>


<script>

    $('#sign_company_select').editableSelect({
        effects: 'slide',
        onSelect:function (element) {
            signCompanyChange();
        }
    });

    ##签约公司变更
    function signCompanyChange(){
        $.ajax({
            url:"/saleOrder/customSelect.json?signCustomName=" + $("#sign_company_select").val(),
            type:"get",
            success: function(returnData){
                console.log(returnData);
                $("#custom_content").html(returnData);
            }
        });
    }

</script>