## 引入css
#define($cssblock)
<link href="#springUrl("")/static/css/plugins/switchery/switchery.css?$!application.getAttribute('/static/css/plugins/switchery/switchery.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/plugins/chosen/chosen.css?$!application.getAttribute('/static/css/plugins/chosen/chosen.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/style.min862f.css?v=4.1.0?$!application.getAttribute('/static/css/style.min862f.css?v=4.1.0')" rel="stylesheet">
##table
<link href="#springUrl("")/static/css/plugins/bootstrap-table/bootstrap-table.min.css?$!application.getAttribute('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/plugins/bootstrap-table/bootstrap-editable.css?$!application.getAttribute('/static/css/plugins/bootstrap-table/bootstrap-editable.css')" rel="stylesheet">
##树状展示
<link href="#springUrl("")/static/css/plugins/treeview/bootstrap-treeview.css?$!application.getAttribute('/static/css/plugins/treeview/bootstrap-treeview.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/plugins/editableSelect/jquery.editable-select.min.css?$!application.getAttribute('/static/css/plugins/editableSelect/jquery.editable-select.min.css')" rel="stylesheet">

#end

<form class="form-horizontal m-t" id="commentForm">
    <input type="hidden" id="flowType" name="flowType" value="save">

    <div class="wrapper wrapper-content animated fadeInRight">
        <input type="hidden" id="id" name="id" value="$baseExecuteOrder.id">
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>项目基本信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目编号</label>
                        <div class="col-sm-8">
                            <input value="$!{baseExecuteOrder.orderNum}" id="order_num" name="order_num" maxlength="15" type="text" class="form-control" disabled >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目补充编号</label>
                        <div class="col-sm-8">
                            <input value="$!{baseExecuteOrder.secOrderNum}" id="sec_order_num" name="sec_order_num" maxlength="15" type="text" class="form-control"
                                #if($!{hasSaleAuth} == false)
                                   disabled
                                #end
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目名称</label>
                        <div class="col-sm-8">
                            <input value="$!{baseExecuteOrder.name}" id="p_name" name="p_name" maxlength="50" type="text" class="form-control" required aria-required="true"
                                #if($!{hasSaleAuth} == false)
                                   disabled
                                #end
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目日期</label>
                        <div class="col-sm-8">
                            <input value="$!{format.format($!{baseExecuteOrder.orderDate})}" id="order_date" name="order_date" class="laydate-icon form-control layer-date" required aria-required="true"
                                #if($!{hasSaleAuth} == false)
                                   disabled
                                #end
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">区域</label>
                        <div id="area_content" class="col-sm-9">
                            <input value="$!{baseExecuteOrder.areaId}" id="area_id" hidden >
                            <input value="$!{areaName}" id="area_name" name="area_name" type="text" class="form-control"
                                #if(!${areaTreeJson})
                                   disabled
                                #end
                                   onclick="showAreaList(); return false;" onfocus=this.blur() required aria-required="true"
                                #if($!{hasSaleAuth} == false)
                                   disabled
                                #end
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目负责人</label>
                        <div id="person_leader_content" class="col-sm-8">
                            <select id="person_leader_id" ata-placeholder="请选择项目负责人" class="chosen-select" style="width:350px;" tabindex="2"
                                #if($!{hasSaleAuth} == false)
                                    disabled
                                #end
                            >
                                <option value="">请选择项目负责人</option>
                                #foreach($data in $leaderList)
                                    <option value ="$data.id"
                                            #if(${baseExecuteOrder.personLeaderId} == $data.id)
                                            selected
                                            #end
                                            >$data.name</option>
                                #end
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>客户信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">签约类型</label>
                        <div class="col-sm-8">
                            <select id="sign_type" data-placeholder="选择签约类型..." class="chosen-select" style="width:350px;"  tabindex="2" onchange="signTypeChange()"
                                #if($!{hasSaleAuth} == false)
                                    disabled
                                #end
                            >
                                <option value="">请选择签约类型</option>
                                <option value="1" hassubinfo="true"
                                    #if(${baseExecuteOrder.signType} == 1)
                                        selected
                                    #end
                                >代理</option>
                                <option value="2" hassubinfo="true"
                                    #if(${baseExecuteOrder.signType} == 2)
                                        selected
                                    #end
                                >直客</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">签约公司</label>
                        <div id="sign_company_content" class="col-sm-8">
                            <select id="sign_company_select" ata-placeholder="请选择签约公司" class="form-control" style="width:350px;" tabindex="2"
                                #if($!{hasSaleAuth} == false)
                                    disabled
                                #end>
                                <option value="">请选择签约公司</option>
                                #foreach($data in $signCompanyList)
                                    <option value ="$data.id"
                                        #if(${baseExecuteOrder.customSignId} == "$data.id")
                                            selected
                                        #end
                                    >$data.name</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">客户行业</label>
                        <div class="col-sm-8">
                            <select id="custom_industry_id" ata-placeholder="请选择客户行业" class="chosen-select" style="width:350px;" tabindex="2"
                                #if($!{hasSaleAuth} == false)
                                    disabled
                                #end
                            >
                                <option value="">请选择客户行业</option>
                                #foreach($data in $industryList)
                                    <option value ="$data.id"
                                            #if("$data.id" == $!{baseExecuteOrder.industryId})
                                            selected
                                            #end
                                    >$data.name</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">客户</label>
                        <div id="custom_content" class="col-sm-8">
                            <select id="custom_select" ata-placeholder="请选择客户" class="form-control" style="width:350px;" tabindex="2"
                                #if($!{hasSaleAuth} == false)
                                    disabled
                                #end>
                                <option value="">请选择客户</option>
                                #foreach($data in $customList)
                                    <option value ="$data.id"
                                        #if("$data.id" == $!{baseExecuteOrder.customAdverserId})
                                            selected
                                        #end
                                    >$data.name</option>
                                #end
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>投放信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">投放地区编号</label>
                        <div class="col-sm-8">
                            <select id="delivery_area_ids" data-placeholder="选择投放地区" class="chosen-select" multiple style="width:350px;" tabindex="4"
                                #if($!{hasMediaAuth} == false)
                                    disabled
                                #end
                            >
                                <option value="">请选择投放地区</option>
                                #foreach($data in $regionList)
                                    <option value ="$data.id"
                                    #if($selectedReginList.contains("$data.id"))
                                        selected
                                    #end
                                    >$data.name</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">投放开始日期</label>
                        <div class="col-sm-4">
                            <input value="$!{format.format($!{baseExecuteOrder.startDate})}" id="start_date" placeholder="开始日期" class="laydate-icon form-control layer-date"
                                #if($!{hasMediaAuth} == false)
                                   disabled
                                #end
                            >
                        </div>
                        <div class="col-sm-4">
                            <input value="$!{format.format($!{baseExecuteOrder.endDate})}" id="end_date" placeholder="结束日期" class="laydate-icon form-control layer-date"
                                #if($!{hasMediaAuth} == false)
                                   disabled
                                #end
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>监测信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">监测公司（客户指定）</label>
                        <div class="col-sm-8">
                            <select id="monitor_ids" data-placeholder="请选择监测公司" class="chosen-select" multiple style="width:350px;" tabindex="2"
                                #if($!{hasSaleAuth} == false)
                                    disabled
                                #end
                            >
                                <option value="">请选择监测公司</option>
                                #foreach($data in $monitorRequestList)
                                    <option value ="$data.id"
                                        #if($selectMonitorList.contains("$data.id"))
                                            selected
                                        #end
                                    >$data.name</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">监测公司（我方指定）</label>
                        <div class="col-sm-8">
                            <select id="our_monitor_ids" data-placeholder="请选择监测公司" class="chosen-select" multiple style="width:350px;" tabindex="2"
                                #if($!{hasMediaAuth} == false)
                                    disabled
                                #end
                            >
                                <option value="">请选择监测公司</option>
                                #foreach($data in $monitorRequestList)
                                    <option value ="$data.id"
                                        #if($selectOurMonitorNameList.contains($data.name))
                                            selected
                                        #end
                                    >$data.name</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">报告类型</label>
                        <div class="col-sm-8">
                            <select id="report_type_id" data-placeholder="选择报告类型..." class="chosen-select" multiple style="width:350px;"  tabindex="2"
                                #if($!{hasMediaAuth} == false)
                                    disabled
                                #end
                            >
                                <option value="">请选择报告类型</option>
                                <option value="1" hassubinfo="true"
                                    #if($selectReportList.contains("1"))
                                        selected
                                    #end
                                >日报</option>
                                <option value="2" hassubinfo="true"
                                    #if($selectReportList.contains("2"))
                                        selected
                                    #end>周报</option>
                                <option value="3" hassubinfo="true"
                                    #if($selectReportList.contains("3"))
                                        selected
                                    #end>月报</option>
                                <option value="4" hassubinfo="true"
                                    #if($selectReportList.contains("4"))
                                        selected
                                    #end>年报</option>
                                <option value="5" hassubinfo="true"
                                    #if($selectReportList.contains("5"))
                                        selected
                                    #end>结案报告</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>销售信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">销售负责人</label>
                        <div class="col-sm-8">
                            <input value="$!{salePersonId}" id="person_sales_id" hidden>
                            <input value="$!{salePersonName}" id="person_sales_name" name="person_sales_name" maxlength="100" type="text" class="form-control" aria-required="true" disabled>
                        </div>
                    </div>
##                    <div class="form-group">
##                        <label class="col-sm-3 control-label">项目总金额</label>
##                        <div class="col-sm-8">
##                            <input value="$!{baseExecuteOrder.amount}" id="amount" name="amount" type="text" class="form-control isMoney" aria-required="true"
##                                #if($!{hasSaleAuth} == false)
##                                   disabled
##                                #end
##                            >
##                        </div>
##                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">对公返点</label>
                        <div class="col-sm-8">
                            <input value="$baseExecuteOrder.getPublicRebate().multiply($std)" id="public_rebate" name="public_rebate" type="text" class="form-control isPercent"
                                #if($!{hasSaleAuth} == false)
                                   disabled
                                #end
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">对私返点</label>
                        <div class="col-sm-8">
                            <input value="$baseExecuteOrder.getPrivateRebate().multiply($std)" id="private_rebate" name="private_rebate" type="text" class="form-control isPercent"
                                #if($!{hasSaleAuth} == false)
                                   disabled
                                #end
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">含税金额</label>
                        <div class="col-sm-8">
                            <input value="$!{baseExecuteOrder.taxAmount}" id="tax_amount" name="tax_amount" type="text" class="form-control isMoney"
                                #if($!{hasSaleAuth} == false)
                                   disabled
                                #end
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">不含税金额</label>
                        <div class="col-sm-8">
                            <input value="$!{baseExecuteOrder.taxFreeAmount}" id="tax_free_amount" name="tax_free_amount" type="text" class="form-control isMoney"
                                #if($!{hasSaleAuth} == false)
                                   disabled
                                #end
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>付款信息 </h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">收款负责人</label>
                        <div class="col-sm-8">
                            <input value="$!{baseExecuteOrder.personPayeeId}" id="person_payee_id" maxlength="30" name="person_payee_id" type="text" class="form-control"
                                #if($!{hasSaleAuth} == false)
                                   disabled
                                #end
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">付款比例</label>
                        <div class="col-sm-8 ">
                            <input value="$baseExecuteOrder.getPayPercent().multiply($std)" id="pay_percent" name="pay_percent" type="text" class="form-control isPercent"
                                #if($!{hasFinancialAuth} == false)
                                   disabled
                                #end
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">账期</label>
                        <div class="col-sm-8">
                            <input value="$!{baseExecuteOrder.accountPeriod}" id="account_period" name="account_period" maxlength="5" type="text" class="form-control"
                                #if($!{hasSaleAuth} == false)
                                   disabled
                                #end
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>CPM信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                        <button id="btn_plus" type="button" class="btn btn-outline btn-default">
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                        </button>
                        <button id="btn_trash" type="button" class="btn btn-outline btn-default">
                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                    <table id="exampleTableEvents" data-height="400" data-mobile-responsive="true">
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="num" data-editable="true">行号</th>
                            <th data-field="mediaId" data-editable="true">媒体Id</th>
                            <th data-field="mediaPrice" data-editable="true" >媒体单价</th>
                            <th data-field="firstPrice" data-editable="true" >媒体采购成本单价</th>
                            <th data-field="adTypeId" data-editable="true" >广告形式Id</th>
                            <th data-field="cpm" data-editable="true" >CPM数</th>
                            <th data-field="remark" data-editable="true" >备注</th>
                            <th data-field="id" data-editable="true">id</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-2">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> 保存</button>
                </div>
                <div class="col-sm-2 col-sm-offset-2">
                    <button class="btn btn-info" type="button"><i class="fa fa-play"></i> 发起流程</button>
                </div>
                <div class="col-sm-2 col-sm-offset-2">
                    <button id="btn_cancel" class="btn btn-default" type="button"><i class="fa fa-reply"></i> 取消</button>
                </div>
            </div>
        </div>


    </div>
</form>

<div id="area_tree_content" class="col-sm-6 ibox-content" style="display:none; position: absolute;">
    <div id="area_tree" class="test" ></div>
</div>

## 引入js
#define($jsblock)
    #define($validblock)#end
<script type="text/javascript" src="#springUrl("")/static/js/plugins/switchery/switchery.js?$!application.getAttribute('/static/js/plugins/switchery/switchery.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/chosen/chosen.jquery.js?$!application.getAttribute('/static/js/plugins/chosen/chosen.jquery.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/layer/laydate/laydate.js?$!application.getAttribute('/static/js/plugins/layer/laydate/laydate.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/jsKnob/jquery.knob.js?$!application.getAttribute('/static/js/plugins/jsKnob/jquery.knob.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/treeview/bootstrap-treeview.js?$!application.getAttribute('/static/js/plugins/treeview/bootstrap-treeview.js')"></script>

##table
<script type="text/javascript" src="#springUrl("")/static/js/plugins/bootstrap-table/bootstrap-table.min.js?$!application.getAttribute('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js?$!application.getAttribute('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?$!application.getAttribute('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/bootstrap-table/bootstrap-editable.js?$!application.getAttribute('/static/js/plugins/bootstrap-table/bootstrap-editable.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/bootstrap-table/bootstrap-table-editable.js?$!application.getAttribute('/static/js/plugins/bootstrap-table/bootstrap-table-editable.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/editableSelect/jquery.editable-select.min.js?$!application.getAttribute('/static/js/plugins/editableSelect/jquery.editable-select.min.js')"></script>

<script>

    function areaChange() {
        $.ajax({
            url:"/saleOrder/leaderSelect.json?areaId=" + $("#area_id").val(),
            type:"get",
            success: function(returnData){
                console.log(returnData);
                $("#person_leader_content").html(returnData);
            }
        });
    }

    ##签约类型变更
    function signTypeChange(){
        $.ajax({
            url:"/saleOrder/signCompanySelect.json?signType=" + $("#sign_type").val(),
            type:"get",
            success: function(returnData){
                console.log(returnData);
                $("#sign_company_content").html(returnData);
            }
        });
    }

    $('#sign_company_select').editableSelect({
        effects: 'slide',
        onSelect:function (element) {
            signCompanyChange();
        }
    });

    $('#custom_select').editableSelect({
        effects: 'slide'

    });

    ##签约公司变更
    function signCompanyChange(){
        $.ajax({
            url:"/saleOrder/customSelect.json?signCustomName=" + $("#sign_company_select").val(),
            type:"get",
            success: function(returnData){
                console.log(returnData);
                $("#custom_content").html(returnData);
            }
        });
    }

    ##显示公司列表
    function onBodyDown(event) {
        if (!(event.target.id == "area_id" || event.target.id == "area_tree_content" || $(event.target).parents("#area_tree_content").length>0)) {
            hideMenu();
        }
    }
    function hideMenu() {
        $("#area_tree_content").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }
    function showAreaList() {
        var area_name = $("#area_name");
        var area_content_offSet = $("#area_content").offset();
        var area_name_offSet = area_name.offset();
        $("#area_tree_content").css({left:area_name_offSet.left + "px", top:area_content_offSet.top + area_name.outerHeight() + "px"}).slideDown("fast");
        $("body").bind("mousedown", onBodyDown);
    };
    ##显示公司列表

    var cpmTable =$("#exampleTableEvents");
    $("#btn_plus").click(
        function () {
            var index = cpmTable.bootstrapTable('getData').length;
            var currentId ;
            if (index > 1) {
                currentId = cpmTable.bootstrapTable('getData')[index-1].num;
            } else if (index == 1) {
                currentId = cpmTable.bootstrapTable('getData')[0].num;
            } else {
                currentId = 0;
            }
            cpmTable.bootstrapTable('insertRow', {index: index,row: {
                num: currentId+1,
                mediaId:'',
                mediaPrice:'',
                firstPrice:'',
                adTypeId:'',
                cpm:'',
                remark:'',
                id:''
            }
            });
            return false;
    });
    $("#btn_trash").click(function () {
    var nums = $.map(cpmTable.bootstrapTable('getSelections'), function (row) {return row.num;});
    if (nums.length < 1 ) {return;}
        cpmTable.bootstrapTable('remove', {field: 'num',values: nums});
    });
    function cellStyle(e, t, o) {
        var n = ["active", "success", "info", "warning", "danger"];
        return o % 2 === 0 && o / 2 < n.length ? {classes: n[o / 2]} : {}
    }
    function rowStyle(e, t) {
        var o = ["active", "success", "info", "warning", "danger"];
        return t % 2 === 0 && t / 2 < o.length ? {classes: o[t / 2]} : {}
    }
    function scoreSorter(e, t) {
        return e > t ? 1 : t > e ? -1 : 0
    }
    function nameFormatter(e) {
        return e + '<i class="icon wb-book" aria-hidden="true"></i> '
    }
    function starsFormatter(e) {
        return '<i class="icon wb-star" aria-hidden="true"></i> ' + e
    }
    function queryParams() {
        return {type: "owner", sort: "updated", direction: "desc", per_page: 100, page: 1}
    }
    function buildTable(e, t, o) {
        var n, l, s, a = [], c = [];
        for (n = 0; t > n; n++)a.push({field: "字段" + n, title: "单元" + n});
        for (n = 0; o > n; n++) {
            for (s = {}, l = 0; t > l; l++)s["字段" + l] = "Row-" + n + "-" + l;
            c.push(s)
        }
        e.bootstrapTable("destroy").bootstrapTable({
            columns: a,
            data: c,
            iconSize: "outline",
            icons: {columns: "glyphicon-list"}
        })
    }

    !function (e, t, o) {
        !function () {
            o("#exampleTableEvents").bootstrapTable({
                data: $.parseJSON('$!{baseExecuteOrder.cpmJsonStr}'),
                columns: [
                    {
                        checkbox: true
                    },
                    {
                        field: "num",
                        title: "行号"
                    },
                    {
                        field: "id",
                        title: "id"
                    },
                    {
                        field: "mediaId",
                        title: "媒体",
                        editable: {
                            type: "select",
                            title: "媒体",
                            source: function () {
                                var result = [];
                                $.each($.parseJSON('$mediaListJson'), function (key, value) {
                                    result.push({ value: value.id, text: value.name });
                                }
                                );
                                return result;
                            }
                        }
                    },
                    {
                    field: "mediaPrice",
                    title: "媒体单价",
                        editable: {
                            validate:function (value) {
                                value = $.trim(value);
                                if (!(value = '' || /^(\-|\+)?\d{1,16}(\.\d{1,2})?$/.test(value)))
                                {
                                    return '整数位不超过16位，小数位不超过2位';
                                }
                            }
                        }
                    },
                    {
                        field: "firstPrice",
                        title: "媒体采购成本单价",
                        editable: {
                            validate:function (value) {
                                value = $.trim(value);
                                if (!(value = '' || /^(\-|\+)?\d{1,16}(\.\d{1,2})?$/.test(value)))
                                {
                                    return '整数位不超过16位，小数位不超过2位';
                                }
                            }
                        }
                    },
                    {
                        field: "adTypeId",
                        title: "广告形式",
                        editable: {
                            type: "select",
                            title: "广告形式",
                            source: function () {
                                var result = [];
                                $.each($.parseJSON('$adtypeListJson'), function (key, value) {
                                            result.push({ value: value.id, text: value.name });
                                        }
                                );
                                return result;
                            }
                        }
                    },
                    {
                        field: "cpm",
                        title: "CPM数"
                    },
                    {
                        field: "remark",
                        title: "备注"
                    }
                ]
            });
            $('#exampleTableEvents').bootstrapTable('hideColumn', 'id');
            var e = o("#examplebtTableEventsResult");
            o("#exampleTableEvents")
                    .on("all.bs.table", function (e, t, o) {console.log("Event:", t, ", data:", o)})
                    .on("click-row.bs.table", function () {e.text("Event: click-row.bs.table")})
                    .on("dbl-click-row.bs.table", function () {e.text("Event: dbl-click-row.bs.table")})
                    .on("sort.bs.table", function () {e.text("Event: sort.bs.table")})
                    .on("check.bs.table", function () {e.text("Event: check.bs.table")})
                    .on("uncheck.bs.table", function () {e.text("Event: uncheck.bs.table")})
                    .on("check-all.bs.table", function () {e.text("Event: check-all.bs.table")})
                    .on("uncheck-all.bs.table", function () {e.text("Event: uncheck-all.bs.table")})
                    .on("load-success.bs.table", function () {e.text("Event: load-success.bs.table")})
                    .on("load-error.bs.table", function () {e.text("Event: load-error.bs.table")})
                    .on("column-switch.bs.table", function () {e.text("Event: column-switch.bs.table")})
                    .on("page-change.bs.table", function () {e.text("Event: page-change.bs.table")})
                    .on("search.bs.table", function () {e.text("Event: search.bs.table")})
        }()
    }(document, window, jQuery);
    var start = {
        elem: "#start_date",
        format: "YYYY-MM-DD",
        min: laydate.now(),
        max: "2099-06-16",
        istime: false,
        istoday: false,
        choose: function (datas) {
            end.min = datas;
            end.start = datas
        }
    };
    var end={
        elem:"#end_date",
        format: "YYYY-MM-DD",
        min: laydate.now(),
        max: "2099-06-16",
        istime: false,
        istoday: false,
        choose: function (datas) {
            start.max = datas
        }};
    var order_date = {
        elem:"#order_date",
        format: "YYYY-MM-DD",
        min: laydate.now(),
        max: "2099-06-16",
        istime: false,
        istoday: true
    }
    laydate(start);
    laydate(end);
    laydate(order_date);
    $('#start_date').val(laydate.now(0, 'YYYY-MM-DD'));
    $('#end_date').val(laydate.now(0, 'YYYY-MM-DD'));
    $('#order_date').val(laydate.now(0, 'YYYY-MM-DD'));

    var config = {
        ".chosen-select": {},
        ".chosen-select-deselect": {allow_single_deselect: !0},
        ".chosen-select-no-single": {disable_search_threshold: 10},
        ".chosen-select-no-results": {no_results_text: "Oops, nothing found!"},
        ".chosen-select-width": {width: "95%"}
    };
    for (var selector in config)
        $(selector).chosen(config[selector]);


    $.validator.setDefaults(
        {highlight:function(e){$(e).closest(".form-group").removeClass("has-success").addClass("has-error")},
            success:function(e){
                e.closest(".form-group").removeClass("has-error").addClass("has-success")
            },
            errorElement:"span",
            errorPlacement:function(e,r){e.appendTo(r.is(":radio")||r.is(":checkbox")?r.parent().parent().parent():r.parent())},
            errorClass:"help-block m-b-none",validClass:"help-block m-b-none"}
    ),
    $().ready(
        function(){
            var e="<i class='fa fa-times-circle'></i> ";
            $("#commentForm").validate({
                submitHandler:function(form){
                    update();
                }
            });
            {var i=document.querySelector(".js-switch"),
                    t=(new Switchery(i,{color:"#1AB394"}));
            };
            var areaTreeData = '$!{areaTreeJson}';
            if (areaTreeData == '') {
                areaTreeData = "{}";
            }
            ## 生成区域树
            $("#area_tree").treeview({
                showBorder: !1,
                levels:1,
                data: areaTreeData,
                onNodeSelected: function (e, o) {
                    $("#area_id").attr("value", o.value);
                    $("#area_name").attr("value", o.text);
                    $("#area_tree_content").fadeOut("fast");
                    areaChange();
                }
            });
        }
    );

    /**
     * 字符串转时间（yyyy-MM-dd HH:mm:ss）
     * result （分钟）
     */
    function stringToDate (fDate){
        var fullDate = fDate.split("-");
        return new Date(fullDate[0], fullDate[1]-1, fullDate[2], 0, 0, 0);
    }

    function findSelecedStr(selectId) {

        var selectName = "#" + selectId + " option:selected";
        var selecteds = $(selectName);
        var deliveryAreaNames = "";
        if (selecteds != null) {
            for (var i = 0; i < selecteds.length; i++) {
                var areaSelected = selecteds[i];
                if (deliveryAreaNames == "") {
                    deliveryAreaNames = areaSelected.text;
                } else {
                    deliveryAreaNames = deliveryAreaNames + "," + areaSelected.text;
                }
            };
        }
        return deliveryAreaNames;
    }

    function findSelecedValueStr(selectId) {

        var selectName = "#" + selectId + " option:selected";
        var selecteds = $(selectName);
        var deliveryAreaNames = "";
        if (selecteds != null) {
            for (var i = 0; i < selecteds.length; i++) {
                var areaSelected = selecteds[i];
                if (deliveryAreaNames == "") {
                    deliveryAreaNames = areaSelected.value;
                } else {
                    deliveryAreaNames = deliveryAreaNames + "," + areaSelected.text;
                }
            };
        }
        return deliveryAreaNames;
    }
    function update(){
        var flowType = $("#flowType").val();

        var id =  $("#id").val();
        var name = $("#p_name").val();
        var orderNum = $("#order_num").val();
        var secOrderNum = $("#sec_order_num").val();
        var type = $("#type").val();
        var orderDate = stringToDate($("#order_date").val());
        var personLeaderId = $("#person_leader_id").val();
        if (personLeaderId == "") {
            personLeaderId = "0";
        }

        var areaId = $("#area_id").val();
        var signType = $("#sign_type").val();
//        var signCompanyId = $("#sign_company_id").val();
        var customIndustryId = $("#custom_industry_id").val();
//        var customId = $("#custom_id").val();
        var deliveryAreaIds = findSelecedValueStr("delivery_area_ids");
        var deliveryAreaNames = findSelecedStr("delivery_area_ids");

        var startDate = stringToDate($("#start_date").val());
        var endDate = stringToDate($("#end_date").val());
        var monitorIds = findSelecedValueStr("monitor_ids");
        var monitorNames = findSelecedStr("monitor_ids");

        var ourMonitorIds = findSelecedValueStr("our_monitor_ids");
        var ourMonitorNames = findSelecedStr("our_monitor_ids");
        var reportTypeId = findSelecedValueStr("report_type_id");
        var reportTypeNames = findSelecedStr("report_type_id");
        var personSalesId = $("#person_sales_id").val();
//        var amount = $("#amount").val();
        var publicRebate = $("#public_rebate").val();
        var privateRebate = $("#private_rebate").val();
        var taxAmount = $("#tax_amount").val();
        var taxFreeAmount = $("#tax_free_amount").val();
        var personPayeeId = $("#person_payee_id").val();
        var payPercent = $("#pay_percent").val();
        var accountPeriod = $("#account_period").val();

        var cpmJsonStr = JSON.stringify(cpmTable.bootstrapTable('getData'));

        var customSignName = $("#sign_company_select").val();
        var customAdverserName = $("#custom_select").val();

        $.ajax({
            url:"/saleFrame/update.json",
            type:"post",
            async: false,
            data:{
                flowType:flowType,
                id:id,
                name:name,
                orderNum:orderNum,
                secOrderNum:secOrderNum,
                type:type,
                orderDate:orderDate,
                deliveryAreaIds:deliveryAreaIds,
                deliveryAreaNames:deliveryAreaNames,
                areaId:areaId,
                signType:signType,
//                customSignId:signCompanyId,
//                customAdverserId:customId,
                industryId:customIndustryId,

                customSignName:customSignName,
                customAdverserName:customAdverserName,

                personSalesId:personSalesId,
//                amount:amount,
                publicRebate:publicRebate,
                privateRebate:privateRebate,
                taxAmount:taxAmount,
                taxFreeAmount:taxFreeAmount,

                monitorIds:monitorIds,
                monitorNames:ourMonitorNames,

                ourMonitorName:ourMonitorNames,
                reportTypeId:reportTypeId,

                startDate:startDate,
                endDate:endDate,
                personLeaderId:personLeaderId,
                personPayeeId:personPayeeId,

                payPercent:payPercent,
                accountPeriod:accountPeriod,

                cpmJsonStr:cpmJsonStr
            },
            success: function(returnData){
                if(returnData.code == 1){
                    popMsg('更新成功!', "/saleFrame/index");
                } else{
                    layer.msg(returnData.info);
                }
            }

        });
    }



    // 发起流程
    $(".btn-info").click(function(){
        layer.confirm('发起流程后，在审批结束前申请内容不可修改，是否确认发起流程？', {
            btn: ['确认','取消'] //按钮
        }, function(){
        ## （示例：关闭确认框）
            layer.closeAll('dialog');
            if ($("#commentForm").valid()) {
                $("#flowType").val("start");
                update();
            }
        }, function(){
        });
    })

    // 返回
    $("#btn_cancel").click(function(){
        history.go(-1);
    })
</script>
#end