<div class="content-data">
    <div class="h3-con clearfix">
        <h3>商务用户</h3>
    </div>
    <table border="0" cellspacing="0" cellpadding="0" width="730" class="add-account">
        <tr>
            <th width="125">姓名</th>
            <th width="150">账号</th>
            <th width="125">联系方式</th>
            <th width="200">邮箱</th>
            <th width="200">渠道</th>
            <th>操作</th>
        </tr>
        <tbody id="tableBody">
        </tbody>
    </table>
</div>

<div class="mask">
    <div class="row">
        <div class="col-lg-8  popup">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>分配渠道</h5>
                </div>
                <div class="ibox-content">
                    <table id="franchisorTable"  border="0">
                        <tr><td><input type="hidden" id="userId"/></tr>
                        <tr><td>渠道：</td><td><textarea id="channelId" cols="25" rows="5"></textarea></td></tr>
                    </table>
                </div>
                <div class="sub mt-0"><input class="submit-end" type="submit" value="完成"/><input class="cancel-end" style="background-color: #aa1111" type="submit" value="取消"/></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
    	//填充用户列表
    	listAllUser();
    });
    
    function listAllUser(){
    	$.ajax({
    		url:"${rc.contextPath}/user/getBusinessAll.json",
    		type:"POST",
    		success: function(returnData){
                if(returnData.code == 1 ) {
                    var tableHtml = "";
                    $("#tableBody").html(tableHtml);
                    $.each(returnData.data, function(i, item){
                        tableHtml += "<tr><td>"+ item.realName +"</td><td>"+item.acctId+"</td><td>"+item.phone+
                                "</td><td>"+item.email+ "</td><td>"+item.channel+
                                "</td><td><input type='button'  value='分配渠道' onclick='allotChannel("+item.userId+")'/></td></tr>";
                    });
                    $("#tableBody").html(tableHtml);
                }
    		}
    	});
    }
    

    function allotChannel(userId){
        $("#userId").val(userId);
        $(".mask").show();
        $(".popup").show();
    }

    $(".submit-end").click(function (){
        var channelId = $("#channelId").val();
        var userId = $("#userId").val();
        if(channelId != null &&　channelId != ""){
            $.ajax({
                url:"${rc.contextPath}/user/allotChannel.json",
                data:{
                    channelId : channelId,
                    userId : userId
                },
                type:"POST",
                success: function(returnData){
                    alert(returnData.data);
                }
            });
            $("#userId").val("");
            $("#channelId").val("");
            $(".mask").hide();
            $(".popup").hide();
        }else{
            alert("请输入分配渠道");
        }
    })

    $(".cancel-end").click(function (){
        $("#userId").val("");
        $("#channelId").val("");
        $(".mask").hide();
        $(".popup").hide();
    })

</script>