<div class="content-data">
    <div class="h3-con clearfix">
        <h3>中文书城：&nbsp;<button type="button" class="btn btn-info p25" onclick="addUser();">新增用户</button></h3>
    </div>
    <table border="0" cellspacing="0" cellpadding="0" width="730" class="add-account">
        <tr>
            <th width="125">姓名</th>
            <th width="150">账号</th>
            <th width="125">联系方式</th>
            <th width="200">邮箱</th>
            <th>操作</th>
        </tr>
        <tbody id="tableBody">
        </tbody>
    </table>
</div>
<script>
    $(function(){
    	//填充用户列表
    	listAllUser();
    });
    
    function listAllUser(){
    	$.ajax({
    		url:"${rc.contextPath}/user/getAll.json",
    		type:"POST",
    		success: function(returnData){
                if(returnData.code == 1 ) {
                    var tableHtml = "";
                    $.each(returnData.data, function(i, item){
                        tableHtml += "<tr><td>"+ item.realName +"</td><td>"
                                +item.acctId+"</td><td>"
                                +item.phone+"</td><td>"
                                +item.email+"</td><td><input type='button'  value='编辑' onclick='toEdit("+ item.userId
                                +");'/><input type='button'  value='关闭' /></td></tr>";
                    });
                    $("#tableBody").html(tableHtml);
                }
    		}
    	});
    }
    
    function addUser(){
    	window.location.href = "${rc.contextPath}/user/toAdd";
    }
    
    function toEdit(userId){
    	window.location.href = "${rc.contextPath}/user/toEdit?userId=" + userId;
    }
</script>