## 引入css
#define($cssblock)
<link href="#springUrl("")/static/css/plugins/switchery/switchery.css?$!application.getAttribute('/static/css/plugins/switchery/switchery.css')" rel="stylesheet">

#end

<div class="ibox-content">
    <form class="form-horizontal m-t" id="commentForm">
        <input type="hidden" id="id" name="id" value="$baseAreaFinance.id">
        <div class="form-group">
            <label class="col-sm-3 control-label">所属公司</label>
            <div id="parent_content"  class="col-sm-8">
                <label class="control-label" >$!{areaName}</label>
                <input id="parent_id" hidden value="$!{baseAreaFinance.areaId}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">名称</label>
            <div class="col-sm-8">
                <label class="control-label" >$!{baseAreaFinance.name}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">财务结算日期</label>
            <div class="col-sm-9">
                <label class="control-label" >$!{format.format($!{baseAreaFinance.startDate})} - $!{format.format($!{baseAreaFinance.endDate})}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">房租成本</label>
            <div class="col-sm-8">
                <label class="control-label" >$!{baseAreaFinance.roomPay}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">人员成本</label>
            <div class="col-sm-8">
                <label class="control-label" >$!{baseAreaFinance.personPay}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">其他综合分摊费用</label>
            <div class="col-sm-8">
                <label class="control-label" >$!{baseAreaFinance.otherPay}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">成本</label>
            <div class="col-sm-8">
                <label class="control-label" >$!{baseAreaFinance.costBuy}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">净收入（订单额减去返点）</label>
            <div class="col-sm-8">
                <label class="control-label" >$!{baseAreaFinance.income}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">税费</label>
            <div class="col-sm-8">
                <label class="control-label" >$!{baseAreaFinance.tax}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">销售提成</label>
            <div class="col-sm-8">
                <label class="control-label" >$!{baseAreaFinance.salesCommission}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
                <label class="control-label" >$!{baseAreaFinance.remark}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">启用:</label>
            <div class="col-sm-8">
                <input  disabled id="item_status" name="item_status" type="checkbox" class="js-switch"
                    #if($!{baseAreaFinance.itemStatus} == "0")
                       checked
                    #end
                />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-6">
                <button class="btn btn-default" type="button"><i class="fa fa-reply"></i> 取消</button>
            </div>
        </div>
    </form>
</div>

<div id="parent_tree_content" class="col-sm-8 ibox-content" style="display:none; position: absolute;">
    <div id="parentTreeView" class="test" ></div>
</div>


## 引入js
#define($jsblock)
<script type="text/javascript" src="#springUrl("")/static/js/plugins/switchery/switchery.js?$!application.getAttribute('/static/js/plugins/switchery/switchery.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/jquery.validate.min.js?$!application.getAttribute('/static/js/plugins/validate/jquery.validate.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/messages_zh.min.js?$!application.getAttribute('/static/js/plugins/validate/messages_zh.min.js')"></script>

<script>

    $().ready(
        function(){

            {var i=document.querySelector(".js-switch"),
                t=(new Switchery(i,{color:"#1AB394"}));
            };
        }
    );

    // 返回
    $(".btn-default").click(function(){
        history.go(-1);
    })
</script>
#end