<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.advu.workflow.dao.fcf_vu.BaseAreaMapper">
  <resultMap id="BaseResultMap" type="cn.advu.workflow.domain.fcf_vu.BaseArea">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="item_status" jdbcType="BIT" property="itemStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="room_pay" jdbcType="DECIMAL" property="roomPay" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="person_pay" jdbcType="DECIMAL" property="personPay" />
    <result column="other_pay" jdbcType="DECIMAL" property="otherPay" />
    <result column="tax_amount" jdbcType="DECIMAL" property="taxAmount" />
    <result column="tax_free_amount" jdbcType="DECIMAL" property="taxFreeAmount" />
    <result column="pay2" jdbcType="DECIMAL" property="pay2" />
    <result column="pay3" jdbcType="DECIMAL" property="pay3" />
    <result column="pay4" jdbcType="DECIMAL" property="pay4" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, parent_id, code, del_flag, item_status, create_time, update_time, room_pay, 
    remark, person_pay, other_pay, tax_amount, tax_free_amount, pay2, pay3, pay4
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.advu.workflow.domain.fcf_vu.BaseArea"  keyColumn="id" keyProperty="id"  useGeneratedKeys="true">
    insert into base_area (id, name, parent_id, 
      code, del_flag, item_status, 
      create_time, update_time, room_pay, 
      remark, person_pay, other_pay, 
      tax_amount, tax_free_amount, pay2, 
      pay3, pay4)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{delFlag,jdbcType=BIT}, #{itemStatus,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{roomPay,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{personPay,jdbcType=DECIMAL}, #{otherPay,jdbcType=DECIMAL}, 
      #{taxAmount,jdbcType=DECIMAL}, #{taxFreeAmount,jdbcType=DECIMAL}, #{pay2,jdbcType=DECIMAL}, 
      #{pay3,jdbcType=DECIMAL}, #{pay4,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.advu.workflow.domain.fcf_vu.BaseArea"  keyColumn="id" keyProperty="id"  useGeneratedKeys="true">
    insert into base_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="itemStatus != null">
        item_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="roomPay != null">
        room_pay,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="personPay != null">
        person_pay,
      </if>
      <if test="otherPay != null">
        other_pay,
      </if>
      <if test="taxAmount != null">
        tax_amount,
      </if>
      <if test="taxFreeAmount != null">
        tax_free_amount,
      </if>
      <if test="pay2 != null">
        pay2,
      </if>
      <if test="pay3 != null">
        pay3,
      </if>
      <if test="pay4 != null">
        pay4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="itemStatus != null">
        #{itemStatus,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roomPay != null">
        #{roomPay,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="personPay != null">
        #{personPay,jdbcType=DECIMAL},
      </if>
      <if test="otherPay != null">
        #{otherPay,jdbcType=DECIMAL},
      </if>
      <if test="taxAmount != null">
        #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxFreeAmount != null">
        #{taxFreeAmount,jdbcType=DECIMAL},
      </if>
      <if test="pay2 != null">
        #{pay2,jdbcType=DECIMAL},
      </if>
      <if test="pay3 != null">
        #{pay3,jdbcType=DECIMAL},
      </if>
      <if test="pay4 != null">
        #{pay4,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.advu.workflow.domain.fcf_vu.BaseArea">
    update base_area
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
      <if test="itemStatus != null">
        item_status = #{itemStatus,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roomPay != null">
        room_pay = #{roomPay,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="personPay != null">
        person_pay = #{personPay,jdbcType=DECIMAL},
      </if>
      <if test="otherPay != null">
        other_pay = #{otherPay,jdbcType=DECIMAL},
      </if>
      <if test="taxAmount != null">
        tax_amount = #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxFreeAmount != null">
        tax_free_amount = #{taxFreeAmount,jdbcType=DECIMAL},
      </if>
      <if test="pay2 != null">
        pay2 = #{pay2,jdbcType=DECIMAL},
      </if>
      <if test="pay3 != null">
        pay3 = #{pay3,jdbcType=DECIMAL},
      </if>
      <if test="pay4 != null">
        pay4 = #{pay4,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.advu.workflow.domain.fcf_vu.BaseArea">
    update base_area
    set name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=BIT},
      item_status = #{itemStatus,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      room_pay = #{roomPay,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      person_pay = #{personPay,jdbcType=DECIMAL},
      other_pay = #{otherPay,jdbcType=DECIMAL},
      tax_amount = #{taxAmount,jdbcType=DECIMAL},
      tax_free_amount = #{taxFreeAmount,jdbcType=DECIMAL},
      pay2 = #{pay2,jdbcType=DECIMAL},
      pay3 = #{pay3,jdbcType=DECIMAL},
      pay4 = #{pay4,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>




  <!-- 以上为自动生成SQL，以下为自定义SQL -->
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_area
    <if test="status != null">
      where item_status = #{status,jdbcType=BIT}
    </if>
  </select>
</mapper>