<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.advu.workflow.dao.fcf_vu.BaseCustomMapper">
  <resultMap id="BaseResultMap" type="cn.advu.workflow.domain.fcf_vu.BaseCustom">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="custom_type" jdbcType="TINYINT" property="customType" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="item_status" jdbcType="TINYINT" property="itemStatus" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="updater_id" jdbcType="INTEGER" property="updaterId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, parent_id, custom_type, contacts, mobile, address,
    email, del_flag, item_status, creator_id, updater_id, create_time, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_custom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_custom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.advu.workflow.domain.fcf_vu.BaseCustom" keyColumn="id" keyProperty="id"  useGeneratedKeys="true">
    insert into base_custom (id, name, parent_id, 
      custom_type, contacts,
      mobile, address, email, 
      item_status,
      remark)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{customType,jdbcType=TINYINT}, #{contacts,jdbcType=VARCHAR},
      #{mobile,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{itemStatus,jdbcType=TINYINT},
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.advu.workflow.domain.fcf_vu.BaseCustom" keyColumn="id" keyProperty="id"  useGeneratedKeys="true">
    insert into base_custom
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="customType != null">
        custom_type,
      </if>
      <if test="contacts != null">
        contacts,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="itemStatus != null">
        item_status,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="customType != null">
        #{customType,jdbcType=TINYINT},
      </if>
      <if test="contacts != null">
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="itemStatus != null">
        #{itemStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.advu.workflow.domain.fcf_vu.BaseCustom">
    update base_custom
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="customType != null">
        custom_type = #{customType,jdbcType=TINYINT},
      </if>
      <if test="contacts != null">
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="itemStatus != null">
        item_status = #{itemStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="updaterId != null">
        updater_id = #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.advu.workflow.domain.fcf_vu.BaseCustom">
    update base_custom
    set name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      custom_type = #{customType,jdbcType=TINYINT},
      contacts = #{contacts,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      item_status = #{itemStatus,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!-- 以上为自动生成SQL，以下为自定义SQL -->
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_custom
    where del_flag = '0'
    <if test="status != null">
      and item_status = #{status,jdbcType=TINYINT}
    </if>
  </select>

  <select id="queryParentCustom" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_custom
    where del_flag = 0 and item_status = 0
      and custom_type = 1;
  </select>

  <!-- 查询名称不同的记录 -->
  <select id="queryByIdAndName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_custom
    where del_flag = 0
    <if test="id != null">
    <![CDATA[ and base_custom.id <> #{id, jdbcType=INTEGER}]]>
    </if>
    <![CDATA[ and base_custom.name = #{name, jdbcType=VARCHAR}]]>
    limit 1
  </select>


  <!-- 查找当前4A客户的广告主子节点 -->
  <select id="query4AChildCustom" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_custom
    where del_flag = 0
    and custom_type = 0
    and parent_id = #{id, jdbcType=INTEGER}
  </select>

  <!-- 查找当前客户的广告主子节点 -->
  <select id="queryAllChildCustom" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_custom
    where del_flag = 0
    and parent_id = #{id, jdbcType=INTEGER}
  </select>

  <select id="queryCustomListByCustomType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_custom
    where del_flag = 0 and item_status = 0
    and custom_type = #{customType, jdbcType=TINYINT}
  </select>

</mapper>