<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.advu.workflow.dao.fcf_vu.BaseExecuteOrderActivitiHistoryMapper">
  <resultMap id="BaseResultMap" type="cn.advu.workflow.domain.fcf_vu.BaseExecuteOrderActivitiHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ececute_order_id" jdbcType="INTEGER" property="ececuteOrderId" />
    <result column="activiti_id" jdbcType="INTEGER" property="activitiId" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ececute_order_id, activiti_id, creator_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_execute_order_activiti_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_execute_order_activiti_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.advu.workflow.domain.fcf_vu.BaseExecuteOrderActivitiHistory">
    insert into base_execute_order_activiti_history (id, ececute_order_id, activiti_id, 
      creator_id, create_time)
    values (#{id,jdbcType=INTEGER}, #{ececuteOrderId,jdbcType=INTEGER}, #{activitiId,jdbcType=INTEGER}, 
      #{creatorId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.advu.workflow.domain.fcf_vu.BaseExecuteOrderActivitiHistory">
    insert into base_execute_order_activiti_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ececuteOrderId != null">
        ececute_order_id,
      </if>
      <if test="activitiId != null">
        activiti_id,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ececuteOrderId != null">
        #{ececuteOrderId,jdbcType=INTEGER},
      </if>
      <if test="activitiId != null">
        #{activitiId,jdbcType=INTEGER},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.advu.workflow.domain.fcf_vu.BaseExecuteOrderActivitiHistory">
    update base_execute_order_activiti_history
    <set>
      <if test="ececuteOrderId != null">
        ececute_order_id = #{ececuteOrderId,jdbcType=INTEGER},
      </if>
      <if test="activitiId != null">
        activiti_id = #{activitiId,jdbcType=INTEGER},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.advu.workflow.domain.fcf_vu.BaseExecuteOrderActivitiHistory">
    update base_execute_order_activiti_history
    set ececute_order_id = #{ececuteOrderId,jdbcType=INTEGER},
      activiti_id = #{activitiId,jdbcType=INTEGER},
      creator_id = #{creatorId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>