<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.advu.workflow.dao.fcf_vu.BaseMediaMapper">
  <resultMap id="BaseResultMap" type="cn.advu.workflow.domain.fcf_vu.BaseMedia">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="item_status" jdbcType="TINYINT" property="itemStatus" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="updater_id" jdbcType="INTEGER" property="updaterId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, del_flag, item_status, creator_id, updater_id, create_time, update_time, type,
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_media
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_media
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.advu.workflow.domain.fcf_vu.BaseMedia"  keyColumn="id" keyProperty="id"  useGeneratedKeys="true">
    insert into base_media (id, code, name, 
      del_flag, item_status, creator_id, 
      updater_id, create_time, update_time, 
      remark,type)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=TINYINT}, #{itemStatus,jdbcType=TINYINT}, #{creatorId,jdbcType=INTEGER},
      #{updaterId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.advu.workflow.domain.fcf_vu.BaseMedia"  keyColumn="id" keyProperty="id"  useGeneratedKeys="true">
    insert into base_media
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="itemStatus != null">
        item_status,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="itemStatus != null">
        #{itemStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.advu.workflow.domain.fcf_vu.BaseMedia">
    update base_media
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="itemStatus != null">
        item_status = #{itemStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="updaterId != null">
        updater_id = #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.advu.workflow.domain.fcf_vu.BaseMedia">
    update base_media
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=TINYINT},
      item_status = #{itemStatus,jdbcType=TINYINT},
      creator_id = #{creatorId,jdbcType=INTEGER},
      updater_id = #{updaterId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!-- 以上为自动生成SQL，以下为自定义SQL -->
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_media
    where del_flag = '0'
    <if test="status != null">
      and item_status = #{status,jdbcType=TINYINT}
    </if>
  </select>

  <select id="queryByIdAndName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_media
    where del_flag = 0
    <if test="id != null">
      <![CDATA[ and base_media.id <> #{id, jdbcType=INTEGER}]]>
    </if>
    <![CDATA[ and base_media.name = #{name, jdbcType=VARCHAR}]]>
    limit 1
  </select>

  <select id="queryByIdAndCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_media
    where del_flag = 0
    <if test="id != null">
      <![CDATA[ and base_media.id <> #{id, jdbcType=INTEGER}]]>
    </if>
    <![CDATA[ and base_media.code = #{code, jdbcType=VARCHAR}]]>
    limit 1
  </select>

  <select id="queryByType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_media
    where del_flag = 0
    and base_media.type = #{type, jdbcType=INTEGER}
  </select>

</mapper>