<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.advu.workflow.dao.fcf_vu.BaseAreaMapper">
  <resultMap id="BaseResultMap" type="cn.advu.workflow.domain.fcf_vu.BaseArea">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="room_pay" jdbcType="DECIMAL" property="roomPay" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="item_status" jdbcType="TINYINT" property="itemStatus" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="updater_id" jdbcType="INTEGER" property="updaterId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <!-- 前端展示用 -->
  <resultMap id="AreaVO" type="cn.advu.workflow.domain.fcf_vu.AreaVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="room_pay" jdbcType="DECIMAL" property="roomPay" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="item_status" jdbcType="TINYINT" property="itemStatus" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="updater_id" jdbcType="INTEGER" property="updaterId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <!-- 所属区域名称 -->
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, parent_id, code, room_pay, del_flag, item_status, creator_id, updater_id, 
    create_time, update_time, remark, level
  </sql>
  <!-- -->
  <sql id="Base_Column_AreaVO">
    base_area.id, base_area.name, base_area.parent_id, base_area.code, base_area.room_pay, base_area.del_flag,
    base_area.item_status, base_area.creator_id, base_area.updater_id,
    base_area.create_time, base_area.update_time, base_area.remark, base_area.level,
    base_area_parent.name as parent_name
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.advu.workflow.domain.fcf_vu.BaseArea"  keyColumn="id" keyProperty="id"  useGeneratedKeys="true">
    insert into base_area (id, name, parent_id, 
      code, room_pay, del_flag, 
      item_status, creator_id, updater_id, 
      create_time, update_time, remark, level
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{roomPay,jdbcType=DECIMAL}, #{delFlag,jdbcType=TINYINT},
      #{itemStatus,jdbcType=TINYINT}, #{creatorId,jdbcType=INTEGER}, #{updaterId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.advu.workflow.domain.fcf_vu.BaseArea"  keyColumn="id" keyProperty="id"  useGeneratedKeys="true">
    insert into base_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="roomPay != null">
        room_pay,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="itemStatus != null">
        item_status,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="level != null">
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="roomPay != null">
        #{roomPay,jdbcType=DECIMAL},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="itemStatus != null">
        #{itemStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.advu.workflow.domain.fcf_vu.BaseArea">
    update base_area
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="roomPay != null">
        room_pay = #{roomPay,jdbcType=DECIMAL},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="itemStatus != null">
        item_status = #{itemStatus,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="updaterId != null">
        updater_id = #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.advu.workflow.domain.fcf_vu.BaseArea">
    update base_area
    set name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      room_pay = #{roomPay,jdbcType=DECIMAL},
      del_flag = #{delFlag,jdbcType=TINYINT},
      item_status = #{itemStatus,jdbcType=TINYINT},
      creator_id = #{creatorId,jdbcType=INTEGER},
      updater_id = #{updaterId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>




  <!-- 以上为自动生成SQL，以下为自定义SQL -->
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_area
    <if test="status != null">
      where item_status = #{status,jdbcType=TINYINT}
    </if>
  </select>

  <select id="queryByParent" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_area
    where del_flag = '0' AND item_status = 0
    <if test="parentId != null">
      and parent_id = #{parentId,jdbcType=TINYINT}
    </if>
  </select>

  <select id="queryByParentAreaVO" resultMap="AreaVO">
    select
    <include refid="Base_Column_AreaVO" />
    from base_area left join base_area base_area_parent on base_area.parent_id = base_area_parent.id
    where base_area.del_flag = '0'
    <if test="parentId != null">
      and base_area.parent_id = #{parentId,jdbcType=TINYINT}
    </if>
  </select>

  <update id="updateChildLevel" >
    update base_area
    set level = #{level,jdbcType=INTEGER}
    where parent_id = #{parentId,jdbcType=INTEGER}
    and del_flag = 0
  </update>

  <select id="queryChildList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_area
    where parent_id = #{parentId,jdbcType=INTEGER}
  </select>

</mapper>