<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.advu.workflow.dao.fcf_vu.SequenceMapper">
  <select id="nextVal" resultType="java.lang.Integer">
    SELECT NEXTVAL('orderNum')
  </select>
</mapper>