## 引入css
#define($cssblock)
<link href="#springUrl("")/static/css/plugins/chosen/chosen.css?$!application.getAttribute('/static/css/plugins/chosen/chosen.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/style.min862f.css?v=4.1.0?$!application.getAttribute('/static/css/style.min862f.css?v=4.1.0')" rel="stylesheet">
#end

<div class="ibox-content">
    <form class="form-horizontal m-t" id="commentForm">
        <div class="form-group">
            <label class="col-sm-3 control-label">地域名称:</label>
            <div class="col-sm-8">
                <input id="region_name" name="region_name" maxlength="50" type="text" class="form-control" required="" aria-required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">地域类型:</label>
            <div class="col-sm-8">
                <select data-placeholder="选择区域类型..." class="chosen-select" style="width:350px;" tabindex="2">
                    <option value="">请选择地域类型</option>
                    <option value="1" hassubinfo="true">省</option>
                    <option value="2" hassubinfo="true">市</option>
                    <option value="3" hassubinfo="true">自治州</option>
                    <option value="4" hassubinfo="true">区</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> 保存</button>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <button class="btn btn-default" type="button"><i class="fa fa-reply"></i> 取消</button>
            </div>
        </div>
    </form>
</div>




## 引入js
#define($jsblock)
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/jquery.validate.min.js?$!application.getAttribute('/static/js/plugins/validate/jquery.validate.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/messages_zh.min.js?$!application.getAttribute('/static/js/plugins/validate/messages_zh.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/chosen/chosen.jquery.js?$!application.getAttribute('/static/js/plugins/chosen/chosen.jquery.js')"></script>

<script>
    $.validator.setDefaults(
            {highlight:function(e){$(e).closest(".form-group").removeClass("has-success").addClass("has-error")},
                success:function(e){
                    e.closest(".form-group").removeClass("has-error").addClass("has-success")
                },
                errorElement:"span",
                errorPlacement:function(e,r){e.appendTo(r.is(":radio")||r.is(":checkbox")?r.parent().parent().parent():r.parent())},
                errorClass:"help-block m-b-none",validClass:"help-block m-b-none"}
    ),
            $().ready(
                    function(){
                        var e="<i class='fa fa-times-circle'></i> ";
                        $("#commentForm").validate();
                    }
            );
    var config = {
        ".chosen-select": {},
        ".chosen-select-deselect": {allow_single_deselect: !0},
        ".chosen-select-no-single": {disable_search_threshold: 10},
        ".chosen-select-no-results": {no_results_text: "Oops, nothing found!"},
        ".chosen-select-width": {width: "95%"}
    };
    for (var selector in config)
        $(selector).chosen(config[selector]);

    $(".btn-primary").click(function(){
        addRegion();
    })

    function addRegion(){
        var name = $("#region_name").val();
//        var description = $("#description").val();
//        var is_system = $(".js-switch")[0].checked;
        $.ajax({
            url:"/region/add.json",
            type:"post",
            data:{
                name:name
//                description:description,
//                isSystem:is_system
            },
            success: function(returnData){
                console.log(returnData);
                if(returnData.code == 1){
                    layer.msg('添加成功!');
                    window.location.href = "/region/index";
                } else{
                    layer.msg('添加失败, 请联系技术人员!');
                }
            }

        });
    }

    // 返回
    $(".btn-default").click(function(){
        history.go(-1);
    })
</script>
#end