<div class="top">
    <div class="top-r">
         <label class="content-lab">*选择时间：</label>
         <input type="text" id="startTime" name="startTime" class="datepicker">&nbsp;&nbsp;——&nbsp;&nbsp;
         <input type="text" id="endTime" name="endTime" class="datepicker">
         <input type="button" value="  查  询  " class="inp-sure" onclick="toQuery();">
     </div>
 </div>
 <div id="tabs">
     <ul>
         <li><a href="#csdk">SDK广告数据</a></li>
         <li><a href="#cdirect">直投类广告数据</a></li>
         <li><a href="#collect">SDK广告汇总</a></li>
     </ul>
     <div id="csdk">
        <div class="money-con mt-list">
            <h3>SDK广告数据：</h3>
            广告类型：<select id="adType"></select>
            版本：<input type="text" id="version" name="version">
            <input type="button" value="  查  询  " class="inp-sure" onclick="toQuery();">
            <input type="button" value="导出" class="money-btn" onclick="exportSdkData();">
        </div>
         <table class="money-data mt-10 mb-30">
            <thead>
             <tr>
                 <th width="150">编号</th>
                 <th width="150">日期</th>
                 <th width="150">广告类型</th>
                 <th width="150">曝光PV</th>
                 <th width="150">曝光UV</th>
                 <th width="150">点击PV</th>
                 <th width="150">点击UV</th>
             </tr>
             </thead>
             <tbody id="sdkTable"></tbody>
         </table>
         <div class="tcdPageCodes"></div>
      </div>
      <div id="cdirect">
         #parse('cxb/ad/direct.vm')
      </div>
     <div id="collect">
         #parse('cxb/ad/collect.vm')
      </div>
 </div>
<script src="${rc.contextPath}/static/js/jquery-ui.tab.js"></script>
<link href="${rc.contextPath}/static/css/jquery-ui.tab.css" rel="stylesheet">
<link rel="stylesheet" href="${rc.contextPath}/static/css/page.css">
<script src="${rc.contextPath}/static/js/jquery.page.js"></script>
<script>
    $(function(){
		 $( "#tabs" ).tabs({
		     activate: function(event, ui){
		           if(ui.newPanel.selector == "#cdirect"){
		        	   drawInstallData();
		           }
		           if(ui.newPanel.selector == "#collect"){
                       drawCollectData();
		           }
		       }
		});

        var params = {
            startTime: $("#startTime").val(),
            endTime: $("#endTime").val(),
            cnids: $("#cnids").val(),
            version: $("#version").val(),
            adType: $("#adType").val()
        };

		 setSdkPageData(1);
		 createSdkPageWidget(params);

        $.ajax({
            url: "${rc.contextPath}/cxb/ad/getAdType.json",
            type: "POST",
            success: function(returnData){
                if(returnData.code == 1){
                    var data = returnData.data;
                    $("#adType").html("");
                    $("#adType").append(" <option value=''>----请选择----</option>");
                    for(var i in data){
                        $("#adType").append("<option value="+data[i].adType+">"+data[i].adType+"</option>");
                    }
                } else{
                    alert(returnData.info);
                    return;
                }
            }
        });

    });
	 
    function toQuery(){
        var params = {
            startTime: $("#startTime").val(),
            endTime: $("#endTime").val(),
            cnids: $("#cnids").val(),
            version: $("#version").val(),
            adType: $("#adType").val()
        };
    	setSdkPageData(1);
        createSdkPageWidget(params);
        drawInstallData();
        drawCollectData();
    }
    
    function createSdkPageWidget(params){
         var totalPage = 0;
        //获取总页数
        $.ajax({
            url: "${rc.contextPath}/cxb/ad/getSdkPageCnt.json",
            type: "POST",
            data: params,
            success: function(returnData){
                if(returnData.code == 1){
                    totalPage = returnData.data;
                    //创建分页插件
                    $(".tcdPageCodes").createPage({
                        pageCount: totalPage,
                        current:1,
                        backFn: function(p){//p为当前页号
                            setSdkPageData(p);
                        }
                    });
                } else{
                    alert(returnData.info);
                    return;
                }
            }
        });
    }
    
	 function setSdkPageData(pageNo){
         var params = {
             startTime: $("#startTime").val(),
             endTime: $("#endTime").val(),
             cnids: $("#cnids").val(),
             version: $("#version").val(),
             adType: $("#adType").val(),
             pageNo:pageNo//添加页号信息
         };
        $.ajax({
            url: "${rc.contextPath}/cxb/ad/getSdkDataByPage.json",
            type: "POST",
            data: params,
            success: function(returnData){
                if(returnData.code == 1){
                    var tableData = "";
                    $("#sdkTable").html(tableData);
                    var count = 1;
                    var flag = returnData.data[0].dt;
                    $.each(returnData.data, function(i, item){
                        //要求一个日期一组序号
                        if(item.dt != flag){
                            flag = item.dt;
                            count = 1;
                        }
                        tableData += "<tr><td>"
                            + (count++) + "</td><td>"
                            + item.dt + "</td><td>"
                            + item.adType + "</td><td>"
                            + item.bgpv + "</td><td>"
                            + item.bguv + "</td><td>"
                            + item.djpv + "</td><td>"
                            + item.djuv + "</td></tr>";
                    });
                    $("#sdkTable").html(tableData);
                }
            }
        });		 
	 }
	 
	 function exportSdkData(){
         var startTime = $("#startTime").val();
         var endTime = $("#endTime").val();
         var cnids = $("#cnids").val();
         var adType = $("#adType").val();
         window.location.href="/cxb/ad/exportSdkData.json?startTime="+startTime+"" +
                 "&endTime="+endTime+"&cnids="+cnids+"&adType="+adType+"";
	 }
 </script>