## 引入css
#define($cssblock)
<link href="#springUrl("")/static/css/plugins/switchery/switchery.css?$!application.getAttribute('/static/css/plugins/switchery/switchery.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/plugins/chosen/chosen.css?$!application.getAttribute('/static/css/plugins/chosen/chosen.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/style.min862f.css?v=4.1.0?$!application.getAttribute('/static/css/style.min862f.css?v=4.1.0')" rel="stylesheet">
##树状展示
<link href="#springUrl("")/static/css/plugins/treeview/bootstrap-treeview.css?$!application.getAttribute('/static/css/plugins/treeview/bootstrap-treeview.css')" rel="stylesheet">

#end

<div class="ibox-content">
    <form class="form-horizontal m-t" id="commentForm">
        <div class="form-group">
            <label class="col-sm-3 control-label">所属公司</label>
            <div id="area_content" class="col-sm-9">
                <input id="area_id" hidden value="$!{areaId}">
                <input value="$!{areaName}" id="area_name" name="area_name" type="text" class="form-control"
                    #if(!${areaTreeJson})
                       disabled
                    #end
                       onclick="showAreaList(); return false;" onfocus=this.blur()>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">上级部门</label>
            <div id="parent_content"  class="col-sm-8">
                <input id="parent_id" hidden value="$!{parentId}">
                <input value="$!{parentName}" id="parent_name" name="parent_name" type="text" class="form-control"
                       #if(!${parentTreeJson})
                        disabled
                       #end
                        onclick="showParentList(); return false;" onfocus=this.blur()>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">名称</label>
            <div class="col-sm-8">
                <input id="p_name" name="p_name" maxlength="10" type="text" class="form-control" required aria-required="true"  >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">描述</label>
            <div class="col-sm-8">
                <input id="description" name="description" maxlength="10" type="text" class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">启用</label>
            <div class="col-sm-8">
                <input id="item_status" name="item_status" type="checkbox" class="js-switch" checked />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> 保存</button>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <button class="btn btn-default" type="button"><i class="fa fa-reply"></i> 取消</button>
            </div>
        </div>
    </form>
</div>


<div id="parent_tree_content"  class="col-sm-6 ibox-content" style="display:none; position: absolute;">
    <div id="parent_tree" class="test" ></div>
    <div id="parent_clear_content">
        <a  href="javascript:;" id="clear"  class="btn btn-success btn-sm button_view_pd"><i class="fa fa-remove "></i> 清空 </a>
    </div>
</div>

<div id="area_tree_content" class="col-sm-6 ibox-content" style="display:none; position: absolute;">
    <div id="area_tree" class="test" ></div>
</div>

## 引入js
#define($jsblock)
<script type="text/javascript" src="#springUrl("")/static/js/plugins/switchery/switchery.js?$!application.getAttribute('/static/js/plugins/switchery/switchery.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/jquery.validate.min.js?$!application.getAttribute('/static/js/plugins/validate/jquery.validate.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/messages_zh.min.js?$!application.getAttribute('/static/js/plugins/validate/messages_zh.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/chosen/chosen.jquery.js?$!application.getAttribute('/static/js/plugins/chosen/chosen.jquery.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/treeview/bootstrap-treeview.js?$!application.getAttribute('/static/js/plugins/treeview/bootstrap-treeview.js')"></script>

<script>

    ##所属公司变更
    function areaChange(){
    ##清空上级部门
        $("#parent_id").attr("value", "");
        $("#parent_name").attr("value", "");

    ##联动查询上级部门
        $.ajax({
            url:"/dept/deptTreeList.json?areaId=" + $("#area_id").val(),
            type:"get",
            success: function(returnData){
                console.log(returnData);
                if(returnData.resultJson.code == 1){
                    var parentTreeData = returnData.resultJson.data;
                    if (parentTreeData == '' || parentTreeData == null) {
                        $("#parent_name")[0].disabled = true;
                        parentTreeData = "{}";
                    } else {
                        $("#parent_name")[0].disabled = "";
                    }
                ## 生成部门树
                    $("#parent_tree").treeview({
                        showBorder: !1,
                        levels:1,
                        data: parentTreeData,
                        onNodeSelected: function (e, o) {
                            $("#parent_id").attr("value", o.value);
                            $("#parent_name").attr("value", o.text);
                            $("#parent_tree_content").fadeOut("fast");
                        }
                    });
                } else{
                    layer.msg('初始化部门列表失败，请联系技术人员!');
                }
            }
        });
    }

    function onBodyDown(event) {
        if (!(event.target.id == "parent_id" || event.target.id == "parent_tree_content" || $(event.target).parents("#parent_tree_content").length>0
                || event.target.id == "area_tree_content" || $(event.target).parents("#area_tree_content").length>0)) {
            hideMenu();
        }
    }
    function hideMenu() {
        $("#area_tree_content").fadeOut("fast");
        $("#parent_tree_content").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }

    ##显示部门列表（上级部门）
    function showParentList() {
        var parent_name = $("#parent_name");
        var parent_content_offSet = $("#parent_content").offset();
        var parent_name_offSet = parent_name.offset();
        $("#parent_tree_content").css({left:parent_name_offSet.left + "px", top:parent_content_offSet.top + parent_name.outerHeight() + "px"}).slideDown("fast");
        $("body").bind("mousedown", onBodyDown);
    };

    ##显示公司列表
    function showAreaList() {
        var area_name = $("#area_name");
        var area_content_offSet = $("#area_content").offset();
        var area_name_offSet = area_name.offset();
        $("#area_tree_content").css({left:area_name_offSet.left + "px", top:area_content_offSet.top + area_name.outerHeight() + "px"}).slideDown("fast");
        $("body").bind("mousedown", onBodyDown);
    };

    $("#parent_clear_content").on("click",".btn-success",function(){
        $("#parent_id").attr("value", "")
        $("#parent_name").attr("value", "");
        hideMenu();
    });

    ##初始化下拉框
    var config = {
        ".chosen-select": {},
    };
    for (var selector in config)
        $(selector).chosen(config[selector]);
    ##初始化下拉框

    $.validator.setDefaults(
        {highlight:function(e){$(e).closest(".form-group").removeClass("has-success").addClass("has-error")},
            success:function(e){
                e.closest(".form-group").removeClass("has-error").addClass("has-success")
            },
            errorElement:"span",
            errorPlacement:function(e,r){e.appendTo(r.is(":radio")||r.is(":checkbox")?r.parent().parent().parent():r.parent())},
            errorClass:"help-block m-b-none",validClass:"help-block m-b-none"}
    ),
    $().ready(
        function(){
            var e="<i class='fa fa-times-circle'></i> ";
            $("#commentForm").validate({
                submitHandler:function(form){
                    addRegion();
                }
            });
            {var i=document.querySelector(".js-switch"),
                t=(new Switchery(i,{color:"#1AB394"}));
            };

            var parentTreeData = '$!{parentTreeJson}';
            if (parentTreeData == '') {
                parentTreeData = "{}";
            }
            ## 生成部门树
            $("#parent_tree").treeview({
                showBorder: !1,
                levels:1,
                data: parentTreeData,
                onNodeSelected: function (e, o) {
                    $("#parent_id").attr("value", o.value);
                    $("#parent_name").attr("value", o.text);
                    $("#parent_tree_content").fadeOut("fast");
                }
            });

            var areaTreeData = '$!{areaTreeJson}';
            if (areaTreeData == '') {
                areaTreeData = "{}";
            }
            ## 生成区域树
            $("#area_tree").treeview({
                showBorder: !1,
                levels:1,
                data: areaTreeData,
                onNodeSelected: function (e, o) {
                    $("#area_id").attr("value", o.value);
                    $("#area_name").attr("value", o.text);
                    $("#area_tree_content").fadeOut("fast");
                    areaChange();
                }
            });
        }
    );

    function addRegion(){
        var area_id = $("#area_id").val();
        var parent_id = $("#parent_id").val();
        var p_name = $("#p_name").val();
        var description = $("#description").val();
        var item_status = $(".js-switch")[0].checked?"0":"1";
        $.ajax({
            url:"/dept/add.json",
            type:"post",
            async: false,
            data:{
                name:p_name,
                parentId:parent_id,
                areaId:area_id,
                description:description,
                itemStatus:item_status
            },
            success: function(returnData){
                if(returnData.code == 1){
                    popMsg('添加成功!', "/dept/index");
                } else{
                    layer.msg(returnData.info);
                }
            }

        });
    }

    // 返回
    $(".btn-default").click(function(){
        history.go(-1);
    })
</script>
#end