<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <import resource="classpath*:spring/application.xml"/>

    <mvc:default-servlet-handler/>
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager"/>

    <!-- static resources -->
    <mvc:resources location="/static/" mapping="/static/**" cache-period="864000"/>
    <!-- 24 * 3600 * 10 -->

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
    </bean>
    <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/views/"/>
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
                <prop key="contentType">text/html;charset=UTF-8</prop>
                <prop key="velocimacro.library">macro.vm</prop>
            </props>
        </property>
    </bean>
    <bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="layoutUrl" value="layout/content.vm"></property><!--指定layout文件-->
        <property name="cache" value="${velocity.cache}"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="suffix" value=".vm"/><!-- 视图文件的后缀名 -->
        <!--<property name="toolboxConfigLocation" value="/WEB-INF/tools.xml" />&lt;!&ndash;toolbox配置文件路径&ndash;&gt;-->
        <property name="dateToolAttribute" value="date"/><!--日期函数名称-->
        <property name="numberToolAttribute" value="number"/><!--数字函数名称-->
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="exposeRequestAttributes" value="true"/><!--是否开放request属性-->
        <property name="requestContextAttribute" value="rc"/><!--request属性引用名称-->
        <property name="order" value="0" ></property>
    </bean>


    <!--&lt;!&ndash;配置登录拦截器&ndash;&gt;-->
    <!--<bean id="loginInterceptor" class="cn.advu.workflow.web.common.interceptor.LoginInterceptor"/>-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<mvc:exclude-mapping path="/common/**"/>-->
            <!--<mvc:exclude-mapping path="/diagram-viewer/**"/>-->
            <!--<mvc:exclude-mapping path="/editor-app/**"/>-->
            <!--<mvc:exclude-mapping path="/static/**"/>-->
            <!--<mvc:exclude-mapping path="/*.ico"/>-->

            <!--<mvc:exclude-mapping path="/login/*"/>-->
            <!--<mvc:exclude-mapping path="/service/**"/>-->
            <!--<ref bean="loginInterceptor"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->


    <!--&lt;!&ndash;url拦截器&ndash;&gt;-->
    <!--<bean id="urlInterceptor" class="cn.advu.workflow.web.common.interceptor.UrlInterceptor"/>-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/user/toList"/>-->
            <!--<mvc:mapping path="/user/toAdd"/>-->
            <!--<mvc:mapping path="/role/manage"/>-->
            <!--<mvc:mapping path="/role/toAdd"/>-->
            <!--<ref bean="urlInterceptor"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

    <!--文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="20971520"/> <!-- 20MB -->
        <property name="maxInMemorySize" value="4096"/>  <!-- 4KB -->
    </bean>



    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="mediaTypes">
            <value>
                json=application/json
            </value>
        </property>
        <property name="defaultContentType" value="text/html"/>
    </bean>


    <bean id="contentNegotiatingViewResolver"
          class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="order" value="0"/>
        <property name="contentNegotiationManager" ref="contentNegotiationManager"/>
        <property name="viewResolvers">
            <list>
                <ref bean="velocityViewResolver"/>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <!-- for application/json -->
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
            </list>
        </property>
    </bean>

    <!-- locale related -->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="_clientlocale"/>
        <property name="defaultLocale" value="zh_CN"/>
        <property name="cookieMaxAge" value="2147483647"/>
    </bean>

    <!-- Setup Jackson instance -->
    <bean id="jackson" class="com.fasterxml.jackson.databind.ObjectMapper" />



    <mvc:view-controller path="/resourceNotFound" view-name="error/404"/>
    <mvc:view-controller path="/uncaughtException" view-name="error/500"/>
    <mvc:view-controller path="/dataAccessFailure" view-name="error/500"/>
    <mvc:view-controller path="/accessDenied" view-name="error/500"/>
    <mvc:view-controller path="/RequestMethodNotSupported" view-name="error/500"/>
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <!-- 定义默认的异常处理页面 -->
        <property name="defaultErrorView" value="error/500"/>
        <!-- 定义异常处理页面用来获取异常信息的变量名，如果不添加exceptionAttribute属性，则默认为exception -->
        <property name="exceptionAttribute" value="exception"/>
        <!-- 定义需要特殊处理的异常，用类名或完全路径名作为key，异常页面名作为值 -->
        <property name="exceptionMappings">
            <props>
                <!--<prop key="IOException">error/io.jsp</prop>-->
                <!--<prop key="cn.advu.common.exception.NoCookieException">error/cookie_time_out</prop>-->
            </props>
        </property>
    </bean>

</beans>