
#define($cssblock)
<link href="#springUrl("")/static/css/plugins/webuploader/webuploader.css?$!application.getAttribute('/static/css/plugins/webuploader/webuploader.css')" rel="stylesheet" type="text/css"/>
#end


<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>部署</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>KEY</th>
                        <th>Name</th>
                        <th>Version</th>
                        <th>创建时间</th>
                        <th>最后更新时间</th>
                        <th>元数据</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    #foreach($!{model} in $!{modelList})
                    <tr>
                        <td>${model.id}</td>
                        <td>${model.key}</td>
                        <td>${model.name}</td>
                        <td>${model.version}</td>
                        <td>$!date.format('yyyy-MM-dd HH:mm:ss ',${model.createTime})</td>
                        <td>$!date.format('yyyy-MM-dd HH:mm:ss ',${model.lastUpdateTime})</td>
                        <td>${model.metaInfo}</td>
                        <td>
                            <a href="/modeler.html?modelId=${model.id}" target="_blank">编辑</a>
                            <a href="/workflow/model/deploy/${model.id}">部署</a>
                            导出(<a href="/workflow/model/export/${model.id}/bpmn" target="_blank">BPMN</a>
                            |&nbsp;<a href="/workflow/model/export/${model.id}/json" target="_blank">JSON</a>
                            |&nbsp;<a href="javascript:;" onclick='showSvgTip()'>SVG</a>)
                            <a href="/workflow/model/delete/${model.id}">删除</a>
                        </td>
                    </tr>
                    #end
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>



#define($jsblock)
<script src="#springUrl("")/static/js/plugins/webuploader/webuploader.min.js?$!application.getAttribute('/static/js/plugins/webuploader/webuploader.min.js')" type="text/javascript" language="javascript"></script>


<script>
    $(function(){
    });
</script>
#end