

#define($cssblock)
<link href="#springUrl("")/static/css/plugins/jquery-qtip/jquery.qtip.min.css?$!application.getAttribute('/static/css/plugins/jquery-qtip/jquery.qtip.min.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/plugins/jquery-ui/jquery-ui.min.css?$!application.getAttribute('/static/css/plugins/jquery-ui/jquery-ui.min.css')" rel="stylesheet">
#end

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">

            ## 查询结果
            #foreach($dataForName in ${baseBuyOrderVOList})
                #if($!{velocityCount} == 2) #break #end
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>$!{dataForName.processInstance.processDefinitionName}</h5>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>审批流程名称</th>
                                        <th>申请人</th>
                                        <th>当前节点</th>
                                        <th>任务创建时间</th>
                                        <th>流程版本状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        #foreach($!{data} in $!{baseBuyOrderVOList})
                                        <tr id="$!{data.baseBuyOrder.id}" tid="$!{data.task.id}" pkey="$!data.processInstance.ProcessDefinitionKey" pid="$!{data.processInstance.id}">
                                            <td>$!{data.baseBuyOrder.name}</td>
                                            <td>$!{data.baseBuyOrder.userName}</td>
                                            <td>
                                                <a class="trace" href='javascript:;' pid="$!{data.processInstance.id}" pdid="${data.processInstance.processDefinitionId}" title="点击查看流程图">$!{data.task.name}</a>
                                            </td>
                                        ##                                <td><a target="_blank" href='${ctx}/workflow/resource/process-instance?pid=${data.processInstance.id}&type=xml'>${data.task.name}</a></td>
                                            <td>$!date.format('yyyy-MM-dd HH:mm:ss ',${data.task.createTime})</td>
                                            <td>
                                            ##                                    ${pi.suspended ? "已挂起" : "正常" }；
                                                <b title='流程版本号'>V: $!{data.processDefinition.version}</b>
                                            </td>
                                            <td>
                                                #if(!${data.task.assignee})
                                                    <a href="javascript:;" class="btn btn-info btn-sm button_to_start btn_claim"><i class="fa fa-play "></i> 签收 </a>
                                                #end
                                                #if(${data.task.assignee})
                                                ##  此处用tkey记录当前节点的名称
                                                    <a href="javascript:;" class="btn btn-info btn-sm button_to_start btn_handle" tkey='$!{data.task.taskDefinitionKey}' tname='$!{data.task.name}'><i class="fa fa-play "></i> 办理</a>
                                                #end

                                                <a href="javascript:;" class="btn btn-default btn-sm button_view"><i class="fa fa-search "></i> 查看 </a>
                                            </td>
                                        </tr>
                                        #end
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            #end

            ## 查询结果
            #foreach($dataForName in ${baseBuyOrderFrameVOList})
                #if($!{velocityCount} == 2) #break #end
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>$!{dataForName.processInstance.processDefinitionName}</h5>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>审批流程名称</th>
                                        <th>申请人</th>
                                        <th>当前节点</th>
                                        <th>任务创建时间</th>
                                        <th>流程版本状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        #foreach($!{data} in $!{baseBuyOrderFrameVOList})
                                        <tr id="$!{data.baseBuyOrderFrame.id}" tid="$!{data.task.id}" pkey="$!data.processInstance.ProcessDefinitionKey" pid="$!{data.processInstance.id}">
                                            <td>$!{data.baseBuyOrderFrame.name}</td>
                                            <td>$!{data.baseBuyOrderFrame.userName}</td>
                                            <td>
                                                <a class="trace" href='javascript:;' pid="$!{data.processInstance.id}" pdid="${data.processInstance.processDefinitionId}" title="点击查看流程图">$!{data.task.name}</a>
                                            </td>
                                        ##                                <td><a target="_blank" href='${ctx}/workflow/resource/process-instance?pid=${data.processInstance.id}&type=xml'>${data.task.name}</a></td>
                                            <td>$!date.format('yyyy-MM-dd HH:mm:ss ',${data.task.createTime})</td>
                                            <td>
                                            ##                                    ${pi.suspended ? "已挂起" : "正常" }；
                                                <b title='流程版本号'>V: $!{data.processDefinition.version}</b>
                                            </td>
                                            <td>
                                                #if(!${data.task.assignee})
                                                    <a href="javascript:;" class="btn btn-info btn-sm button_to_start btn_claim"><i class="fa fa-play "></i> 签收 </a>
                                                #end
                                                #if(${data.task.assignee})
                                                ##  此处用tkey记录当前节点的名称
                                                    <a href="javascript:;" class="btn btn-info btn-sm button_to_start btn_handle" tkey='$!{data.task.taskDefinitionKey}' tname='$!{data.task.name}'><i class="fa fa-play "></i> 办理</a>
                                                #end

                                                <a href="javascript:;" class="btn btn-default btn-sm button_view"><i class="fa fa-search "></i> 查看 </a>
                                            </td>
                                        </tr>
                                        #end
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            #end

            ## 查询结果
            #foreach($dataForName in ${baseExecuteOrderVOList})
                #if($!{velocityCount} == 2) #break #end
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>$!{dataForName.processInstance.processDefinitionName}</h5>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>审批流程名称</th>
                                        <th>申请人</th>
                                        <th>当前节点</th>
                                        <th>任务创建时间</th>
                                        <th>流程版本状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        #foreach($!{data} in $!{baseExecuteOrderVOList})
                                        <tr id="$!{data.baseExecuteOrder.id}" tid="$!{data.task.id}" pkey="$!data.processInstance.ProcessDefinitionKey" pid="$!{data.processInstance.id}">
                                            <td>$!{data.baseExecuteOrder.name}</td>
                                            <td>$!{data.baseExecuteOrder.userName}</td>
                                            <td>
                                                <a class="trace" href='javascript:;' pid="$!{data.processInstance.id}" pdid="${data.processInstance.processDefinitionId}" title="点击查看流程图">$!{data.task.name}</a>
                                            </td>
                                        ##                                <td><a target="_blank" href='${ctx}/workflow/resource/process-instance?pid=${data.processInstance.id}&type=xml'>${data.task.name}</a></td>
                                            <td>$!date.format('yyyy-MM-dd HH:mm:ss ',${data.task.createTime})</td>
                                            <td>
                                            ##                                    ${pi.suspended ? "已挂起" : "正常" }；
                                                <b title='流程版本号'>V: $!{data.processDefinition.version}</b>
                                            </td>
                                            <td>
                                                #if(!${data.task.assignee})
                                                    <a href="javascript:;" class="btn btn-info btn-sm button_to_start btn_claim"><i class="fa fa-play "></i> 签收 </a>
                                                #end
                                                #if(${data.task.assignee})
                                                ##  此处用tkey记录当前节点的名称
                                                    <a href="javascript:;" class="btn btn-info btn-sm button_to_start btn_handle" tkey='$!{data.task.taskDefinitionKey}' tname='$!{data.task.name}'><i class="fa fa-play "></i> 办理</a>
                                                #end

                                                <a href="javascript:;" class="btn btn-default btn-sm button_view"><i class="fa fa-search "></i> 查看 </a>
                                            </td>
                                        </tr>
                                        #end
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            #end

            ## 查询结果
            #foreach($dataForName in ${baseExecuteOrderFrameVOList})
                #if($!{velocityCount} == 2) #break #end
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>$!{dataForName.processInstance.processDefinitionName}</h5>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>审批流程名称</th>
                                        <th>申请人</th>
                                        <th>当前节点</th>
                                        <th>任务创建时间</th>
                                        <th>流程版本状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        #foreach($!{data} in $!{baseExecuteOrderFrameVOList})
                                        <tr id="$!{data.baseExecuteOrderFrame.id}" tid="$!{data.task.id}" pkey="$!data.processInstance.ProcessDefinitionKey" pid="$!{data.processInstance.id}">
                                            <td>$!{data.baseExecuteOrderFrame.name}</td>
                                            <td>$!{data.baseExecuteOrderFrame.userName}</td>
                                            <td>
                                                <a class="trace" href='javascript:;' pid="$!{data.processInstance.id}" pdid="${data.processInstance.processDefinitionId}" title="点击查看流程图">$!{data.task.name}</a>
                                            </td>
                                        ##                                <td><a target="_blank" href='${ctx}/workflow/resource/process-instance?pid=${data.processInstance.id}&type=xml'>${data.task.name}</a></td>
                                            <td>$!date.format('yyyy-MM-dd HH:mm:ss ',${data.task.createTime})</td>
                                            <td>
                                            ##                                    ${pi.suspended ? "已挂起" : "正常" }；
                                                <b title='流程版本号'>V: $!{data.processDefinition.version}</b>
                                            </td>
                                            <td>
                                                #if(!${data.task.assignee})
                                                    <a href="javascript:;" class="btn btn-info btn-sm button_to_start btn_claim"><i class="fa fa-play "></i> 签收 </a>
                                                #end
                                                #if(${data.task.assignee})
                                                ##  此处用tkey记录当前节点的名称
                                                    <a href="javascript:;" class="btn btn-info btn-sm button_to_start btn_handle" tkey='$!{data.task.taskDefinitionKey}' tname='$!{data.task.name}'><i class="fa fa-play "></i> 办理</a>
                                                #end

                                                <a href="javascript:;" class="btn btn-default btn-sm button_view"><i class="fa fa-search "></i> 查看 </a>
                                            </td>
                                        </tr>
                                        #end
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            #end








































            ##            ## 查询条件
##            ## 示例（查询条件）
##            <div class="ibox float-e-margins">
##                <div class="ibox-title">
##                    <a href="javascript:;" class="btn btn-success button_view"><i class="fa fa-search "></i> 查询 </a>
##                </div>
##                <div class="ibox-content">
##                    <form class="form-horizontal m-t">
##                        <div class="form-group">
##                            <div class="col-sm-10">
##                                <input placeholder="开始日期" class="laydate-icon form-control layer-date" id="startDate">
##                                <input placeholder="结束日期" class="laydate-icon form-control layer-date" id="endDate">
##                            </div>
##                        </div>
##                    </form>
##                </div>
##            </div>

##            ## 查询结果
##            #foreach($mapKey in ${resultMap.keySet()})
##            #set($mapValue = ${resultMap.get($mapKey)})
##                <div class="row">
##                    <div class="col-sm-12">
##                        <div class="ibox float-e-margins">
##                            <div class="ibox-title">
##                                #foreach($!{data} in $!{mapValue})
##                                    ## 第2行时跳出循环（示例：跳出循环）
##                                    #if($!{velocityCount} == 2) #break #end
##                                    <h5>$!{data.processInstance.processDefinitionName}</h5>
##                                #end
##                            </div>
##                            <div class="ibox-content">
##                                <table class="table table-bordered table-striped">
##                                    <thead>
##                                    <tr>
##                                        <th>审批流程名称</th>
##                                        <th>申请人</th>
##        ##                                <th>申请时间</th>
##        ##                                <th>开始时间</th>
##        ##                                <th>结束时间</th>
##                                        <th>当前节点</th>
##                                        <th>任务创建时间</th>
##                                        <th>流程版本状态</th>
##                                        <th>操作</th>
##                                    </tr>
##                                    </thead>
##                                    <tbody>
##                                        #foreach($!{data} in $!{mapValue})
##                                        <tr id="$!{data.baseBuyOrder.id}" tid="$!{data.task.id}" pkey="$!data.processInstance.ProcessDefinitionKey">
##                                            <td>$!{data.baseBuyOrder.name}</td>
##                                            <td>$!{data.baseBuyOrder.userName}</td>
##        ##                                    <td>$!{data.baseBuyOrder.applyTime}</td>
##        ##                                    <td>$!{data.baseBuyOrder.startTime}</td>
##        ##                                    <td>$!{data.baseBuyOrder.endTime}</td>
##                                            <td>
##                                                <a class="trace" href='javascript:;' pid="$!{data.processInstance.id}" pdid="${data.processInstance.processDefinitionId}" title="点击查看流程图">$!{data.task.name}</a>
##                                            </td>
##                                        ##                                <td><a target="_blank" href='${ctx}/workflow/resource/process-instance?pid=${data.processInstance.id}&type=xml'>${data.task.name}</a></td>
##                                            <td>$!date.format('yyyy-MM-dd HH:mm:ss ',${data.task.createTime})</td>
##                                            <td>
##                                            ##                                    ${pi.suspended ? "已挂起" : "正常" }；
##                                                <b title='流程版本号'>V: $!{data.processDefinition.version}</b>
##                                            </td>
##                                            <td>
##                                                #if(!${data.task.assignee})
##                                                    <a href="javascript:;" class="btn btn-info btn-sm button_to_start btn_claim"><i class="fa fa-play "></i> 签收 </a>
##                                                #end
##                                                #if(${data.task.assignee})
##                                                    ##  此处用tkey记录当前节点的名称
##                                                    <a href="javascript:;" class="btn btn-info btn-sm button_to_start btn_handle" tkey='$!{data.task.taskDefinitionKey}' tname='$!{data.task.name}'><i class="fa fa-play "></i> 办理</a>
##                                                #end
##
##                                                <a href="javascript:;" class="btn btn-default btn-sm button_view"><i class="fa fa-search "></i> 查看 </a>
##                                            </td>
##                                        </tr>
##                                        #end
##                                    </tbody>
##                                </table>
##
##                            </div>
##                        </div>
##                    </div>
##                </div>
##            #end



        </div>
    </div>
</div>


<div class="ibox-content task-audit" style="display:none">
    <form class="form-horizontal m-t" id="commentForm" action="">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                *驳回原因:
            </label>
            <div class="col-sm-8">
##                <input id="reason" name="reason" placeholder="驳回原因" type="text" class="form-control" rows="6">
                <textarea class="form-control"  id="reason" name="reason" placeholder="驳回原因"  rows="3"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-1">
                <button class="btn btn-primary" type="button"><i class="fa fa-check"></i> 同意</button>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <button class="btn btn-danger" type="button"><i class="fa fa-remove"></i> 驳回</button>
            </div>
        </div>
    </form>
</div>


#define($jsblock)
<script type="text/javascript" src="#springUrl("")/static/js/plugins/jquery-ui/jquery-ui.min.js?$!application.getAttribute('/static/js/plugins/jquery-ui/jquery-ui.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/modules/activiti/workflow.js?$!application.getAttribute('/static/js/modules/activiti/workflow.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/jquery-qtip/jquery.qtip.min.js?$!application.getAttribute('/static/js/plugins/jquery-qtip/jquery.qtip.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/jquery-outerhtml/jquery.outerhtml.js?$!application.getAttribute('/static/js/plugins/jquery-outerhtml/jquery.outerhtml.js')"></script>
<script src="#springUrl("")/static/js/plugins/layer/laydate/laydate.js?$!application.getAttribute('/static/js/plugins/layer/laydate/laydate.js')" type="text/javascript" language="javascript"></script>

<script>
    var taskId;
    var pkey;
    var tkey;
    var pid;
    var bizId;
    $(function(){
//        init();
    });


##    ## 示例（开始日期、结束日期）
##    function init(){
##        var start = {
##            elem: "#startDate",
##            format: "YYYY/MM/DD",
##            min: laydate.now(),
##            max: "2099-06-16 23:59:59",
##            istoday: true,
##            choose: function(datas) {
##                end.min = datas;
##                end.start = datas }
##        };
##        var end = {
##            elem: "#endDate",
##            format: "YYYY/MM/DD",
##            min: laydate.now(),
##            max: "2099-06-16 23:59:59",
##            istoday: false,
##            choose: function(datas) {
##                start.max = datas }
##        };
##        laydate(start);
##        laydate(end);
##    }


    // 跟踪
    $('.trace').click(graphTrace);

    ## 签收（示例：弹出确认框）
    $(".btn_claim").click(function(){
        var taskId = $(this).parents('tr').attr('tid');

        layer.confirm('确认签收？', {
            title: '确认',
            btn: ['确认','取消'] //按钮
        }, function(){
            window.location.href = "/workflow/task/claim/" + taskId;
        }, function(){
        });
    })

    ## 打开[办理]页面
    $(".btn_handle").click(function(){
        taskId = $(this).parents('tr').attr('tid');
        pkey = $(this).parents('tr').attr('pkey');
        pid = $(this).parents('tr').attr('pid');
        bizId = $(this).parents('tr').attr('id');
        tkey = $(this).attr('tkey');
//        var url = '/workflow/task/toAudit?pkey=' + pkey + '&tkey='+tkey + '&taskId='+taskId;
        openPopDivPage();
    })

    ## 查看
    $(".button_view").click(function(){
        var taskId = $(this).parents('tr').attr('id'); // 取申请ID
        var pkey = $(this).parents('tr').attr('pkey');
        var url = "${rc.contextPath}/"+ pkey+"/refer?id="+taskId;
        openPopIframePage(url);
    })

    ## 查看（示例：弹出Iframe窗口）
    function openPopIframePage(url){
        layer.open({
            type: 2,
            title: '确认',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '600px'],
            content: url
        });
    }

    ## 办理（示例：弹出确认页）
    function openPopDivPage(){
        layer.open({
            type: 1,
            title: false, //不显示标题
            skin: 'layui-layer-rim', //加上边框
            area: ['600px', '240px'], //宽高
//            closeBtn: 0, //不显示关闭按钮
            shadeClose: true, //开启遮罩关闭
            content: $('.task-audit'),
        });
    }

    ## 同意
    $(".btn-primary").click(function(){
        complete(true);
    })

    ## 驳回
    $(".btn-danger").click(function(){
        if ($.trim($('#reason').val()) == '') {
            layer.msg('请填写驳回原因');
            return;
        }

        complete(false);
    })

    // 添加
    function complete(result){
        var url = '/workflow/task/complete.json';
        $.ajax({
            url:url,
            type:"post",
            data:{
                "pkey":pkey,
                "tkey":tkey,
                "pid":pid,
                "bizId":bizId,
                "taskId":taskId,
                "result":result,
                "reason":$.trim($('#reason').val())
            },
            success: function(returnData){
                if(returnData.code == 1){
                    layer.msg('审批完成');

                    setTimeout(function(){
                        window.location.href = "${rc.contextPath}/workflow/task/todo";
                        }, 300
                    );
                } else{
                    layer.msg('操作失败, 请联系技术人员!');
                }
            }

        });
    }

</script>
#end