

<div class="wrapper wrapper-content">
##    <button type="button" class="btn btn-w-m btn-primary"><i class="fa fa-plus "></i> 添加</button>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
##                <div class="ibox-title">
##                    <h5>部署</h5>
##                </div>
                <div class="ibox-content">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>假种</th>
                            <th>申请人</th>
                            <th>申请时间</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>当前节点</th>
                            <th>任务创建时间</th>
                            <th>流程状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach($!{data} in $!{resultList})
                            <tr id="$!{data.baseBuyOrder.id}" tid="$!{data.task.id}">
                                <td>$!{data.baseBuyOrder.name}</td>
                                <td>$!{data.baseBuyOrder.userId}</td>
                                <td>$!{data.baseBuyOrder.applyTime}</td>
                                <td>$!{data.baseBuyOrder.startTime}</td>
                                <td>$!{data.baseBuyOrder.endTime}</td>
                                <td>
                                    <a class="trace" href='#' pid="$!{data.processInstance.id}" pdid="${data.processInstance.processDefinitionId}" title="点击查看流程图">$!{data.task.name}</a>
                                </td>
##                                <td><a target="_blank" href='${ctx}/workflow/resource/process-instance?pid=${data.processInstance.id}&type=xml'>${data.task.name}</a></td>
                                <td>$!{data.task.createTime}</td>
                                <td>
##                                    ${pi.suspended ? "已挂起" : "正常" }；
                                    <b title='流程版本号'>V: $!{data.processDefinition.version}</b>
                                </td>
                                <td>
                                    #if(!${data.task.assignee})
                                        <a class="claim" href="/workflow/task/claim/$!{data.task.id}">签收</a>
                                    #end
                                    #if(${data.task.assignee})
##                                        此处用tkey记录当前节点的名称
                                        <a class="handle btn_handle" tkey='$!{data.task.taskDefinitionKey}' tname='$!{data.task.name}' href="javascript:;">办理</a>
                                    #end
                                </td>
                            </tr>
                            #end
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



#define($jsblock)
<script>
    $(function(){

    });
    $(".btn_handle").click(function(){
        var taskId = $(this).parents('tr').attr('tid');
        console.log(taskId);
        openPopPage(taskId);
    })
    function openPopPage(taskId){
        doHandle(taskId);
    }
    function doHandle(taskId) {
        window.location.href = "/workflow/task/complete/"+taskId;
    }
</script>
#end