

<div class="wrapper wrapper-content">
##    <button type="button" class="btn btn-w-m btn-primary"><i class="fa fa-plus "></i> 添加</button>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
##                <div class="ibox-title">
##                    <h5>部署</h5>
##                </div>
                <div class="ibox-content">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>KEY</th>
                            <th>Name</th>
                            <th>Version</th>
                            <th>创建时间</th>
                            <th>最后更新时间</th>
                            <th>元数据</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach($!{data} in $!{modelList})
                            <tr>
                                <td>${data.id}</td>
                                <td>${data.key}</td>
                                <td>${data.name}</td>
                                <td>${data.version}</td>
                                <td>$!date.format('yyyy-MM-dd HH:mm:ss ',${data.createTime})</td>
                                <td>$!date.format('yyyy-MM-dd HH:mm:ss ',${data.lastUpdateTime})</td>
                                <td>${data.metaInfo}</td>
                                <td>
##                                    <input type="hidden" value="$!{data.id}">
##                                    <a href="javascript:;" class="btn btn-info btn-sm button_view_pd"><i class="fa fa-pencil "></i> 修改 </a>
##                                    <a href="javascript:;" class="btn btn-danger btn-sm button_view_pd"><i class="fa fa-trash "></i> 删除 </a>
                                    <a href="/modeler.html?modelId=${data.id}" target="_blank">编辑</a>
                                    <a href="/workflow/model/deploy/${data.id}">部署</a>
                                    导出(<a href="/workflow/model/export/${data.id}/bpmn" target="_blank">BPMN</a>
                                    |&nbsp;<a href="/workflow/model/export/${data.id}/json" target="_blank">JSON</a>
                                    |&nbsp;<a href="javascript:;" onclick='showSvgTip()'>SVG</a>)
                                    <a href="/workflow/model/delete/${data.id}">删除</a>
                                </td>
                            </tr>
                            #end
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



#define($jsblock)
<script>
    $(function(){
    });
</script>
#end