#define($cssblock)
<link href="#springUrl("")/static/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css?$!application.getAttribute('/static/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')" rel="stylesheet">
#end


<form class="form-horizontal m-t" id="commentForm">
    <input type="hidden" id="role_id" name="role_id" value="$roleId">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>基础信息</h5>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-warning">
                                <input id="moduleAllCheck" type="checkbox" class="moduleAllCheck">
                                <label for="moduleAllCheck">
                                    <b>全选</b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            广告类型
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="adTypeAllCheck" type="checkbox" class="moduleCheck">
                                                <label for="adTypeAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="1" type="checkbox" class="moduleCheck adTypeCheck function">
                                        <label for="1">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="2" type="checkbox" class="moduleCheck adTypeCheck function">
                                        <label for="2">
                                            更新
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="3" type="checkbox" class="moduleCheck adTypeCheck function">
                                        <label for="3">
                                            删除
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            客户行业
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="industryAllCheck" type="checkbox" class="moduleCheck">
                                                <label for="industryAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="4" type="checkbox" class="moduleCheck industryCheck function">
                                        <label for="4">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="5" type="checkbox" class="moduleCheck industryCheck function">
                                        <label for="5">
                                            更新
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="6" type="checkbox" class="moduleCheck industryCheck function">
                                        <label for="6">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            监测机构
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="monitorAllCheck" type="checkbox" class="moduleCheck">
                                                <label for="monitorAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="7" type="checkbox" class="moduleCheck monitorCheck function">
                                        <label for="7">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="8" type="checkbox" class="moduleCheck monitorCheck function">
                                        <label for="8">
                                            更新
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="9" type="checkbox" class="moduleCheck monitorCheck function">
                                        <label for="9">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            省市地域
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="regionAllCheck" type="checkbox" class="moduleCheck">
                                                <label for="regionAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="10" type="checkbox" class="moduleCheck regionCheck function">
                                        <label for="10">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="11" type="checkbox" class="moduleCheck regionCheck function">
                                        <label for="11">
                                            更新
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="12" type="checkbox" class="moduleCheck regionCheck function">
                                        <label for="12">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            通讯录
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="personAllCheck" type="checkbox" class="moduleCheck">
                                                <label for="personAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="13" type="checkbox" class="moduleCheck personCheck function">
                                        <label for="13">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="14" type="checkbox" class="moduleCheck  personCheck function">
                                        <label for="14">
                                            更新
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="15" type="checkbox" class="moduleCheck  personCheck function">
                                        <label for="15">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            客户管理
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="customAllCheck" type="checkbox" class="moduleCheck">
                                                <label for="customAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="16" type="checkbox" class="moduleCheck customCheck function">
                                        <label for="16">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="17" type="checkbox" class="moduleCheck customCheck function">
                                        <label for="17">
                                            更新
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="18" type="checkbox" class="moduleCheck customCheck function">
                                        <label for="18">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            区域
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="areaAllCheck" type="checkbox" class="moduleCheck">
                                                <label for="areaAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="19" type="checkbox" class="moduleCheck areaCheck function">
                                        <label for="19">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20" type="checkbox" class="moduleCheck areaCheck function">
                                        <label for="20">
                                            更新
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="21" type="checkbox" class="moduleCheck areaCheck function">
                                        <label for="21">
                                            删除
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            财务指标
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="financialAllCheck" type="checkbox" class="moduleCheck">
                                                <label for="financialAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="22" type="checkbox" class="moduleCheck financialCheck function">
                                        <label for="22">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="23" type="checkbox" class="moduleCheck financialCheck function">
                                        <label for="23">
                                            更新
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="24" type="checkbox" class="moduleCheck financialCheck function">
                                        <label for="24">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            媒体
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="mediaAllCheck" type="checkbox" class="moduleCheck">
                                                <label for="mediaAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="25" type="checkbox" class="moduleCheck mediaCheck function">
                                        <label for="25">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="26" type="checkbox" class="moduleCheck mediaCheck function">
                                        <label for="26">
                                            更新
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="27" type="checkbox" class="moduleCheck mediaCheck function">
                                        <label for="27">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            媒体类型
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="mediaTypeAllCheck" type="checkbox" class="moduleCheck">
                                                <label for="mediaTypeAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="28" type="checkbox" class="moduleCheck mediaTypeCheck function">
                                        <label for="28">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="29" type="checkbox" class="moduleCheck mediaTypeCheck function">
                                        <label for="29">
                                            更新
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="30" type="checkbox" class="moduleCheck mediaTypeCheck function">
                                        <label for="30">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            部门
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="deptAllCheck" type="checkbox" class="moduleCheck">
                                                <label for="deptAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="31" type="checkbox" class="moduleCheck deptCheck function">
                                        <label for="31">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="32" type="checkbox" class="moduleCheck deptCheck function">
                                        <label for="32">
                                            更新
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="33" type="checkbox" class="moduleCheck deptCheck function">
                                        <label for="33">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            客户核算
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="customPayAllCheck" type="checkbox" class="moduleCheck">
                                                <label for="customPayAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="34" type="checkbox" class="moduleCheck customPayCheck function">
                                        <label for="34">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="35" type="checkbox" class="moduleCheck customPayCheck function">
                                        <label for="35">
                                            更新
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="36" type="checkbox" class="moduleCheck customPayCheck function">
                                        <label for="36">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6">
                                        区域核算
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkbox checkbox-warning">
                                            <input id="areaPayAllCheck" type="checkbox" class="moduleCheck">
                                            <label for="areaPayAllCheck">
                                                <b>全选</b>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="checkbox checkbox-success checkbox-inline ">
                                    <input id="37" type="checkbox" class="moduleCheck areaPayCheck function">
                                    <label for="37">
                                        新增
                                    </label>
                                </div>
                                <div class="checkbox checkbox-success checkbox-inline ">
                                    <input id="38" type="checkbox" class="moduleCheck areaPayCheck function">
                                    <label for="38">
                                        更新
                                    </label>
                                </div>
                                <div class="checkbox checkbox-success checkbox-inline ">
                                    <input id="39" type="checkbox" class="moduleCheck areaPayCheck function">
                                    <label for="39">
                                        删除
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>流程申请</h5>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-warning">
                                <input id="flowApplyAllCheck" type="checkbox" class="flowApplyCheck">
                                <label for="flowApplyAllCheck">
                                    <b>全选</b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            综合计价
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="totalPricingAllCheck" type="checkbox" class="flowApplyCheck">
                                                <label for="totalPricingAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20000" type="checkbox" class="totalPricingCheck flowApplyCheck">
                                        <label for="20000">
                                            综合计价
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            需求单
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="executeOrderAllCheck" type="checkbox" class="module flowApplyCheck">
                                                <label for="executeOrderAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20001" type="checkbox" class="executeOrderCheck flowApplyCheck">
                                        <label for="20001">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20002" type="checkbox" class="executeOrderCheck flowApplyCheck">
                                        <label for="20002">
                                            修改
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20003" type="checkbox" class="executeOrderCheck flowApplyCheck">
                                        <label for="20003">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            框架需求
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="executeOrderFrameAllCheck" type="checkbox" class="flowApplyCheck">
                                                <label for="executeOrderFrameAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20004" type="checkbox" class="executeOrderFrameCheck flowApplyCheck">
                                        <label for="20004">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20005" type="checkbox" class="executeOrderFrameCheck flowApplyCheck">
                                        <label for="20005">
                                            修改
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20006" type="checkbox" class="executeOrderFrameCheck flowApplyCheck">
                                        <label for="20006">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            采购单
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="buyOrderAllCheck" type="checkbox" class="flowApplyCheck">
                                                <label for="buyOrderAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20007" type="checkbox" class="buyOrderCheck flowApplyCheck">
                                        <label for="20007">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20008" type="checkbox" class="buyOrderCheck flowApplyCheck">
                                        <label for="20008">
                                            修改
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20009" type="checkbox" class="buyOrderCheck flowApplyCheck">
                                        <label for="20009">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            框架采购
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="buyOrderFrameAllCheck" type="checkbox" class="flowApplyCheck">
                                                <label for="buyOrderFrameAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20010" type="checkbox" class="buyOrderFrameCheck flowApplyCheck">
                                        <label for="20010">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20011" type="checkbox" class="buyOrderFrameCheck flowApplyCheck">
                                        <label for="20011">
                                            修改
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="20012" type="checkbox" class="buyOrderFrameCheck flowApplyCheck">
                                        <label for="20012">
                                            删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>流程审批</h5>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-warning">
                                <input id="flowAuditAllCheck" type="checkbox" class="flowAuditCheck">
                                <label for="flowAuditAllCheck">
                                    <b>全选</b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            待处理流程
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="undoAllCheck" type="checkbox" class="flowAuditCheck">
                                                <label for="undoAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="30000" type="checkbox" class="undoCheck flowAuditCheck">
                                        <label for="30000">
                                            办理
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            运行中流程
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="doingAllCheck" type="checkbox" class="flowAuditCheck">
                                                <label for="doingAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="30001" type="checkbox" class="doingCheck flowAuditCheck">
                                        <label for="30001">
                                            查看
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            已结束流程
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="doneAllCheck" type="checkbox" class="flowAuditCheck">
                                                <label for="doneAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="30002" type="checkbox" class="doneCheck flowAuditCheck">
                                        <label for="30002">
                                            查看
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>报表中心</h5>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-warning">
                                <input id="reportAllCheck" type="checkbox" class="reportCheck">
                                <label for="reportAllCheck">
                                    <b>全选</b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            分公司财务分析
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="branchAllCheck" type="checkbox" class="reportCheck">
                                                <label for="branchAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="40000" type="checkbox" class="branchCheck reportCheck">
                                        <label for="40000">
                                            查看
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            采购报表
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="buyAllCheck" type="checkbox" class="reportCheck">
                                                <label for="buyAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="40001" type="checkbox" class="buyCheck reportCheck">
                                        <label for="40001">
                                            查看
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            客户分析报表
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="customAnalyseAllCheck" type="checkbox" class="reportCheck">
                                                <label for="customAnalyseAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="40002" type="checkbox" class="customAnalyseCheck reportCheck">
                                        <label for="40002">
                                            查看
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            销售报表
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="saleALLCheck" type="checkbox" class="reportCheck">
                                                <label for="saleALLCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="40003" type="checkbox" class="saleCheck reportCheck">
                                        <label for="40003">
                                            查看
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>系统管理</h5>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-warning">
                                <input id="systemAllCheck" type="checkbox" class="systemCheck">
                                <label for="systemAllCheck">
                                    <b>全选</b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            用户管理
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="userAllCheck" type="checkbox" class="systemCheck">
                                                <label for="userAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="50000" type="checkbox" class="userCheck systemCheck">
                                        <label for="50000">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="50001" type="checkbox" class="userCheck systemCheck">
                                        <label for="50001">
                                            修改
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="50002" type="checkbox" class="userCheck systemCheck">
                                        <label for="50002">
                                            删除
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            角色管理
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox checkbox-warning">
                                                <input id="authAllCheck" type="checkbox" class="systemCheck">
                                                <label for="authAllCheck">
                                                    <b>全选</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="50003" type="checkbox" class="authCheck systemCheck">
                                        <label for="50003">
                                            新增
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="50004" type="checkbox" class="authCheck systemCheck">
                                        <label for="50004">
                                            修改
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="50005" type="checkbox" class="authCheck systemCheck">
                                        <label for="50005">
                                            删除
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline ">
                                        <input id="50006" type="checkbox" class="authCheck systemCheck">
                                        <label for="50006">
                                            授权
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-3">
                    <button class="btn btn-primary" type="button"><i class="fa fa-check"></i> 保存</button>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <button id="btn_cancel" class="btn btn-default" type="button"><i class="fa fa-reply"></i> 取消</button>
                </div>
            </div>
        </div>

    </div>
</form>

#define($jsblock)
<script type="text/javascript" src="#springUrl("")/static/js/plugins/iCheck/icheck.min.js?$!application.getAttribute('/static/js/plugins/iCheck/icheck.min.js')"></script>
    <script>

        ## 保存
        $(".btn-primary").click(function(){
            auth();
        })
        ## 项目基本信息的全选
        $("#moduleAllCheck").change(function(){
            var moduleCheck = $(".moduleCheck");
            if (this.checked) {
                for (var i = 0; i < moduleCheck.length; i++) {
                    moduleCheck[i].checked = true;
                };
            } else {
                for (var i = 0; i < moduleCheck.length; i++) {
                    moduleCheck[i].checked = false;
                };
            };

        })
        ## 流程审批的全选
        $("#flowAuditAllCheck").change(function(){
            var moduleCheck = $(".flowAuditCheck");
            if (this.checked) {
                for (var i = 0; i < moduleCheck.length; i++) {
                    moduleCheck[i].checked = true;
                };
            } else {
                for (var i = 0; i < moduleCheck.length; i++) {
                    moduleCheck[i].checked = false;
                };
            };

        })
        ## 流程申请的全选
        $("#flowApplyAllCheck").change(function(){
            var moduleCheck = $(".flowApplyCheck");
            if (this.checked) {
                for (var i = 0; i < moduleCheck.length; i++) {
                    moduleCheck[i].checked = true;
                };
            } else {
                for (var i = 0; i < moduleCheck.length; i++) {
                    moduleCheck[i].checked = false;
                };
            };

        })
        ## 报表中心的全选
        $("#reportAllCheck").change(function(){
            var moduleCheck = $(".reportCheck");
            if (this.checked) {
                for (var i = 0; i < moduleCheck.length; i++) {
                    moduleCheck[i].checked = true;
                };
            } else {
                for (var i = 0; i < moduleCheck.length; i++) {
                    moduleCheck[i].checked = false;
                };
            };

        })
        ## 报表中心的全选
        $("#systemAllCheck").change(function(){
            var moduleCheck = $(".systemCheck");
            if (this.checked) {
                for (var i = 0; i < moduleCheck.length; i++) {
                    moduleCheck[i].checked = true;
                };
            } else {
                for (var i = 0; i < moduleCheck.length; i++) {
                    moduleCheck[i].checked = false;
                };
            };

        })
        ## 广告类型的全选
        $("#adTypeAllCheck").change(function(){
            var checkArr = $(".adTypeCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 客户行业的全选
        $("#industryAllCheck").change(function(){
            var checkArr = $(".industryCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 监测机构的全选
        $("#monitorAllCheck").change(function(){
            var checkArr = $(".monitorCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 省市地域的全选
        $("#regionAllCheck").change(function(){
            var checkArr = $(".regionCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 通讯录的全选
        $("#personAllCheck").change(function(){
            var checkArr = $(".personCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 客户管理的全选
        $("#customAllCheck").change(function(){
            var checkArr = $(".customCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 区域的全选
        $("#areaAllCheck").change(function(){
            var checkArr = $(".areaCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 财务指标的全选
        $("#financialAllCheck").change(function(){
            var checkArr = $(".financialCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 媒体的全选
        $("#mediaAllCheck").change(function(){
            var checkArr = $(".mediaCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 媒体类型的全选
        $("#mediaTypeAllCheck").change(function(){
            var checkArr = $(".mediaTypeCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 部门的全选
        $("#deptAllCheck").change(function(){
            var checkArr = $(".deptCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 客户结算的全选
        $("#customPayAllCheck").change(function(){
            var checkArr = $(".customPayCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 区域结算的全选
        $("#areaPayAllCheck").change(function(){
            var checkArr = $(".areaPayCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 综合计价的全选
        $("#totalPricingAllCheck").change(function(){
            var checkArr = $(".totalPricingCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 需求单的全选
        $("#executeOrderAllCheck").change(function(){
            var checkArr = $(".executeOrderCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        ## 需求框架单的全选
        $("#executeOrderFrameAllCheck").change(function(){
            var checkArr = $(".executeOrderFrameCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        $("#buyOrderAllCheck").change(function(){
            var checkArr = $(".buyOrderCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        $("#buyOrderFrameAllCheck").change(function(){
            var checkArr = $(".buyOrderFrameCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        $("#undoAllCheck").change(function(){
            var checkArr = $(".undoCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        $("#doingAllCheck").change(function(){
            var checkArr = $(".doingCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        $("#doneAllCheck").change(function(){
            var checkArr = $(".doneCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        $("#branchAllCheck").change(function(){
            var checkArr = $(".branchCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        $("#saleALLCheck").change(function(){
            var checkArr = $(".saleCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        $("#customAnalyseAllCheck").change(function(){
            var checkArr = $(".customAnalyseCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        $("#buyAllCheck").change(function(){
            var checkArr = $(".buyCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        $("#userAllCheck").change(function(){
            var checkArr = $(".userCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        $("#authAllCheck").change(function(){
            var checkArr = $(".authCheck");
            if (this.checked) {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = true;
                };
            } else {
                for (var i = 0; i < checkArr.length; i++) {
                    checkArr[i].checked = false;
                };
            };

        })
        function auth(){

            var selectedFunctionJsonStr = getSelectedFunctionJsonStr();
            var roleId = $("#role_id").val();

            $.ajax({
                url:"/role/auth.json",
                type:"post",
                data:{
                    functionListJsonStr:selectedFunctionJsonStr,
                    roleId:roleId
                },
                success: function(returnData){
                    console.log(returnData);
                    if(returnData.code == 1){
                        window.location.href = "/role/index";
                    } else{
                        layer.msg('添加失败, 请联系技术人员!');
                    }
                }
            });
        }

        /**
         * 返回选中的功能ID的JSONStr
         *
         */
        function getSelectedFunctionJsonStr() {
            var functionArr = $(".function");
            var selectedFunctionIds = new Array();
            var selectedFunctionArrIndex = 0;
            for (var i = 0; i < functionArr.length; i++) {
                if (functionArr[i].checked) {
                    selectedFunctionIds[selectedFunctionArrIndex] = (functionArr[i].id);
                    selectedFunctionArrIndex = selectedFunctionArrIndex +1;
                }
            };
            var selectedFunctionJsonStr = JSON.stringify(selectedFunctionIds);
            return selectedFunctionJsonStr;
        }
        $().ready(
                function(){
                    var roleFunctionList = ${roleFunctionList};

                    for (var i = 0; i < roleFunctionList.length; i++) {
                        $("#" + roleFunctionList[i])[0].checked = true;
                    }
                }
        );
    </script>
#end

