#set($layout = '/layout/empty.vm')

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title> - 主页示例</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="${rc.contextPath}/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="${rc.contextPath}/static/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="${rc.contextPath}/static/css/animate.css" rel="stylesheet">
    <link href="${rc.contextPath}/static/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="${rc.contextPath}/static/js/plugins/layer/laydate/need/laydate.css" rel="stylesheet">
</head>
<body class="white-bg">
<div class="wrapper wrapper-content">
    <a class="add-qdfc" href="/pc/channelshare/toAddChannelDataScale?scaleType=$!{scaleType}">添加渠道分成比例</a>
    <div class="add-authorizer ml-0">
        <div class="authorizer-name">
            <label>渠道：</label>

            <input type="text" class="inp-name" name="channelid" id="channelid" value="$!{cnid}">
            <input type="button" onclick="Search()" value="查询">
        </div>
    </div>
    <form id="form1" action="/pc/channelshare/getchannelsharelist" method="post" name="pageForm">
        <input type="hidden" name="pageSize" value=$!{page.pageSize} id="pageSize"></input>
        <input type="hidden" name="pageIndex" value=$!{page.pageIndex} id="pageIndex"></input>
        <input type="hidden" name="cnid" value="$!{cnid}" id="cnid"></input>
        <input type="hidden" name="scaleType" value="$!{scaleType}" id="scaleType"></input>
    </form>
    <h2>渠道分成比例列表</h2>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered bc-007">
            <tbody>
            <tr>
                <th>序号</th>
                <th>渠道号</th>
                <th>开始结束日期</th>
                <th>日常PV、UV比例</th>
                <th>新增uv比例</th>
                <th>收入结算比例</th>
                <th>操作</th>
            </tr>
                #foreach($!ChannelDataScale in $!{page.getData()})
                <tr>
                    <td>$!{velocityCount}</td>
                    <td>$!ChannelDataScale.cnid</td>
                    <td>$!{ChannelDataScale.startTime}至$!{ChannelDataScale.endTime}</td>
                    <td>$!ChannelDataScale.newUserScale</td>
                    <td>$!ChannelDataScale.activeUserScale</td>
                    <td>$!ChannelDataScale.incomeScale</td>
                    <td><a href="javascript:void(0)" onclick="updateone($!{ChannelDataScale.id})">修改</a>|<a href="javascript:void(0) " onclick="deleteone($!{ChannelDataScale.id})">删除</a> </td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
</div>
<div class="page mt-30">
    #parse('layout/page.vm')
</div>
<!-- 全局js -->
<script src="${rc.contextPath}/static/js/jquery.min.js?v=2.1.4"></script>
<script src="${rc.contextPath}/static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="${rc.contextPath}/static/js/plugins/layer/laydate/laydate.js"></script>
<!-- 自定义js -->
<script src="${rc.contextPath}/static/js/pc/channelshare.js"></script>
</body>

