
#define($cssblock)
##table
<link href="#springUrl("")/static/css/plugins/bootstrap-table/bootstrap-table.min.css?$!application.getAttribute('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/plugins/bootstrap-table/bootstrap-editable.css?$!application.getAttribute('/static/css/plugins/bootstrap-table/bootstrap-editable.css')" rel="stylesheet">

#end

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table id="log_table" data-height="500" data-mobile-responsive="true" style="word-break:break-all; word-wrap:break-all;">
##                        <thead>
####                        <tr>
######                            <th data-field="content" data-editable="false">内容</th>
####                            <th data-field="operation" data-editable="false">操作</th>
####                            <th data-field="type" data-editable="false" >操作类型</th>
####                            <th data-field="operator" data-editable="false" >操作者</th>
####                        </tr>
##                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


#define($jsblock)
##table
<script type="text/javascript" src="#springUrl("")/static/js/plugins/bootstrap-table/bootstrap-table.min.js?$!application.getAttribute('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js?$!application.getAttribute('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?$!application.getAttribute('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/bootstrap-table/bootstrap-editable.js?$!application.getAttribute('/static/js/plugins/bootstrap-table/bootstrap-editable.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/bootstrap-table/bootstrap-table-editable.js?$!application.getAttribute('/static/js/plugins/bootstrap-table/bootstrap-table-editable.js')"></script>

<script>
    $("#log_table").bootstrapTable({
        sidePagination: "server",
        url: "list",
        dataType: "json",
        pagination: true,
        pageNumber: 1,
        pageSize: 30,
        silent: true,
        queryParamsType:'',
        queryParams: function queryParams(params) {
            var param = {
                pageNumber: params.pageNumber,
                pageSize: params.pageSize
            };
            return param;
        },
        columns: [
            {
                field: 'content',
                title: '内容',
                align: 'center'
            },
            {
            field: 'operation',
            title: '操作',
            align: 'center'
        }, {
            field: 'operator',
            title: '操作者',
            align: 'center'
        }
//        , {
//            field: 'type',
//            title: '操作类型',
//            align: 'center'
//        }
        ]
    });

</script>
#end