@charset "utf-8";
/* reset */
body,div,ul,ol,li,dl,dt,dd,form,input,textarea,p,th,td,h1,h2,h3,h4{margin:0;padding:0;}
img{border:0;}
body,th,td,input,select,textarea,h1,h2,h3,h4,i,em{font:14px Helvetica, "Microsoft YaHei"; font-style:normal;font-weight:normal;}
/*html,body{height:100%;}*/
body{background-color:#fff;color:#333;_background-attachment:fixed;_background-image:url(about:blank);}
ul,ol{list-style-type:none;}
input,select,textarea{outline:none;resize:none;}
input[type=button]{ cursor: pointer;}
input::-ms-clear{display:none;}
a{text-decoration:none;color:#333; cursor: pointer;}
/* initial */
.clearfix:after{display:block;content:"";clear:both;}
.clearfix{zoom:1;}
.fl{float:left;}
.fr{float:right;}
.hide{display:none;}


/*header*/
.header{height: 120px; padding: 10px 30px; background-color: #69cd06; position: relative;}
.header h1{ font-size: 32px; font-weight: bold; padding-top: 15px;}
.system-set{ position: absolute; top:10px; right: 30px;width: 60px; height: 23px; line-height: 23px; text-align: center; font-size: 12px; border-radius: 4px; cursor: pointer; border: 1px solid #ccc;}
.user-name{ float: left; color:#fff; padding-top: 25px; height: 30px; line-height: 30px;}
.user-name span{ margin-right: 30px;}
.user-name a{ color:#fff;}
.subnav{ float: right; padding-top: 25px;}
.subnav li{ float: left; margin-left: 30px; height: 30px; line-height: 30px; color: #fff;}
.subnav li a{ color:#fff;}
.subnav li select{height: 26px;}
.subnav li input{ width: 100px; height: 26px; line-height: 26px; padding: 0 5px;}
.all-product{ margin-left: 80px;}
.user-name select{ height: 26px;}
