@charset "utf-8";
.w-300{
    width: 300px;
}
.w-400{
    width: 400px;
}
.w-500{
    width: 500px;
}
.w-600{
    width: 600px;
}
.w-800{
    width: 800px;
}
.w-1000{
    width: 1000px;
}
.ml-20{
    margin-left: 20px;
}
.ml-50{
    margin-left: 50px;
}
.ml-140{
    margin-left: 140px;
}
.ml-550{
    margin-left: 550px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-0{
    margin-top: 0;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-50{
    margin-top: 50px;
}
.mr-10{
    margin-right: 10px;
}
.p-5{
    padding: 5px;
}
.pl-10{
    padding-left: 10px;
}
.pb-30{
    padding-bottom: 30px;
}
.border{
    border: 1px solid #ccc;
}
.bb{
    border-bottom: 1px solid #000;
}
.blue-sp{
    background-color: #009dd9;
}

.fl-l{
    float: left;
}
.fl-r{
    float: right;
}
.lh-40{
    line-height:40px;
}
.bg-f{
    background-color: #fff;
}
.font-size-18{
    font-size: 18px;
}

/*主体*/
.main{
    padding: 0 20px;
    margin-top: 20px;
    overflow: hidden;
}

/*左侧*/
.left{
    width: 200px;
    padding-left: 10px;
    float: left;
}
.data {
	width: 150px;
	text-align: center;
	border: 1px solid #999;	
}

.data span.active {
	background-color: #53c4ff;
	color:#fff;
}

.data> li {
	border-bottom: 1px solid #999;
	background-color: #ccc;
}
.data> li:last-child{ border-bottom: none;}

.data-con {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    padding-left:10px;
}

.data ul {
    background-color: #fff;
    display: none;
}

.operation > li {
    background: white;
    height: 28px;
    line-height: 28px;
    cursor: default;
    text-align: left;
    padding-left: 15px;
}

/*右侧*/
.content{
    padding: 0 20px;
    margin-left: 170px;
}
.right{
    margin-left: 250px;
    margin-bottom: 30px;
}
.top{
    overflow: hidden;
    background-color: #ccc;
    border-radius: 10px;
    padding: 10px;
}
.top-l{
    margin-left: 5px;
}
.top-r{
    float: right;
}
.inp-sure{
    background-color: #009dd9;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    color: #fff;
    padding: 2px 5px;
    margin-left: 10px;
}
.bottom{
    margin-left: 5px;
    margin-top: 10px;
}
.content b{
    color: orange;
}
.content .timer{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}
.content .add{
    margin-right: 50px;
}
.timer select{
    height: 26px;
    width: 70px;
}
.add select{
    height: 26px;
    width: 50px;
}
.timer{ margin-top: 20px;}
.pic img{
    margin-left: 100px;
    margin-top: 50px;
}
.money-con{
    margin-top: 30px;
    overflow: hidden;
}
.money-con h3{
    margin-left: 10px;
    /*float: left;*/
    line-height: 36px;
}
.money-con .money-btn{
    float: right;
    margin-right: 20px;
    padding: 5px 30px;
    background-color: #009dd9;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.money-con .money-btn1{
    padding: 5px 30px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.money-data{
    width: 100%;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.money-data th{
    width: 40px;
    height: 30px;
    padding: 5px 5px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.money-data td{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 30px;
    text-align: center;
}
.money-data tr a{
    color: #009dd9;
}
.money-data tr a:hover{
    text-decoration: underline;
}
.content span{
    padding: 5px 10px;
    border: 1px solid #ccc;
}
.content-ipt{
    margin-left: 20px;
}
.content-sta{
    width: 600px;
}
.content .content-lab{
    height: 20px;
}
.book-l{
    width: 300px;
    float: left;
    margin-right: 200px;
}
.book-r{
    width: 300px;
    float: left;
}
.read-book{
    width: 600px;
}
.user-footer{
    margin: 30px 0;
}
.lose ul{
    overflow: hidden;
}
.lose li{
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #009dd9;
}
.user-pro{
    overflow: hidden;
}
.user-sexl,.user-agel{
    float: left;
}
.user-sexr,.user-ager{
    width: 400px;
    float: left;
}
.user-sexr td{
    height: 60px;
}
.user-sexr tr{
    height: 60px;
}
.user-area{
    width: 400px;
    margin-left: 100px;
}
.gift-l{
    width: 45%;
    float: left;
    padding: 0 10px;
}
.gift-r{
    width: 45%;
    height: 500px;
    float: right;
    padding: 0 10px;
}
.task{
    height: 300px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    background-color: #ccc;
    padding: 0 10px;
}
.task-l{
    width: 500px;
    float: left;
    margin-left: 50px;
    margin-right: 100px;
}
.task-r{
    width: 400px;
    float: left;
}
.user-new{
	margin-top: 20px;
}
.user-new select{
    height: 26px;
    width: 100px;
}
.user-end{
    width: 300px;
}
.detail{
    float: right;
    display: block;
    line-height: 33px;
    color: #009dd9;
}

.box .money-btn{
    width: 100px;
    height: 30px;
    background-color: #009dd9;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.box input{
    width: 25px;
    height: 15px;
    margin-left:20px;
}
.page a{
    padding: 0 5px;
}
.font p{
    padding: 10px;
}
.font-ss{
    color: #009dd9;
}
.pt10{ padding-top: 10px;}
.pt30{ padding-top: 30px;}
.blue{ color:#009dd9;}
.content-data{ padding: 0 20px;}
.h3-con{ margin-top: 30px;}
.h3-con h3{ float: left;}
.h3-con h3 input{background-color: #009dd9; border-radius: 4px; border: none; font-size: 12px; color:#fff; padding: 2px 5px;}
.choose-time{ float: right; padding-right: 10px;}
.choose-time .inp-sure{ background-color: #009dd9; border-radius: 4px; border: none; font-size: 12px; color:#fff; padding: 2px 5px; margin-left: 10px;}
.zwsc-data{ width: 100%; border-left: 1px solid #ccc; border-top: 1px solid #ccc; margin-top: 20px;}
.zwsc-data th{ height: 30px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; width: 10%;}
.zwsc-data td{ border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; height: 25px; text-align: center;}
.user-data{ width: 600px; margin:0 auto;}
.user-data h3{ width: 460px; border-bottom: 1px solid #69cd06; font-size: 16px; margin-top: 30px;}
.infor-con{ padding: 20px 0;}
.infor-con li{ width: 210px; float: left; padding-bottom: 15px;}
.two-btn input{ background-color: #009dd9; border-radius: 4px; border: none; font-size: 12px; color:#fff; padding:5px; margin-left: 90px;}
.my-product{ border-top: 1px solid #ccc; border-left: 1px solid #ccc; margin-top: 20px;}
.my-product tr th{ border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; height: 30px;}
.my-product tr td{ border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; height: 30px; text-align: center;}
.add-account{ border-top: 1px solid #ccc; border-left: 1px solid #ccc; margin-top: 20px;}
.add-account tr th{ border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; height: 30px;}
.add-account tr td{ border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; height: 30px; text-align: center;}
.add-account input{ background-color: #fff; border: none; font-size: 12px; color:#009dd9; padding-left: 10px;}
.account-manage{ padding: 0 70px;}
.account-manage h3{ padding-top: 30px; font-size: 16px; font-weight: bold;}
.manage-list li{ margin-top: 20px;}
.manage-list li label{ width: 80px; text-align: left; display: block; float: left; height: 27px; line-height: 27px;}
.manage-list li input{ height: 25px; line-height: 25px; margin-right: 73px; display: block; float: left; width: 200px; padding-left: 5px;}
.manage-list li select{ display: block; float: left; margin-right: 20px; font-size: 12px; height: 25px; line-height: 25px; width: 207px;}
.manage-list li .super{width: 90px;}
.manage-list li .channel{ width: 70px; margin-right: 32px;}
.manage-list .w60{ width: 60px;}
.authority li{ padding-top: 15px;}
.authority li input{ margin:0 5px 0 50px;}
.authority li input:first-child{ margin-left: 0;}
.ad-data{ padding-top: 15px;}
.ad-data input{ margin-right: 5px;}
.ad-list{ padding: 15px 0;}
.ad-list input{ margin: 0 5px 0 50px;}
.ad-list input:first-child{ margin-left: 0;}
.refer-btn{ margin: 20px 0 50px 300px;}
.refer-btn input{ display: block; padding: 5px 20px; background-color: #fff; border: 1px solid #666; border-radius: 4px;}
.state{width: 1200px; margin:0 auto; padding-bottom: 50px;}
.subtab{ margin-top: 70px;}
.subtab span{ display: inline-block; padding: 6px 15px; border: 1px solid #ccc; cursor: pointer;}
.subtab span.active{ background-color: #009dd9; color:#fff;}
.subtab input{ height: 25px; line-height: 25px;}
.subtab .sure-btn{ width: 50px; background-color: #009dd9; border: 1px solid #ccc; border-radius: 4px; color:#fff;}
.chart{ margin-top: 50px;}
.choose-date{ float: right; margin: 0 200px 30px 0;}
.choose-date select{ height: 25px; line-height: 25px; width: 80px;}
.choose-date input{ background-color: #009dd9; padding: 3px 5px; margin-left: 10px; border: 1px solid #ccc; color:#fff; border-radius: 4px;}
.h3-title{ margin: 30px 0 15px 0; font-size: 16px;}
.request{ border-left:1px solid #ccc; border-top:1px solid #ccc ;}
.request tr th{ border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; height: 28px;}
.request tr td{ border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; height: 28px; text-align: center;}
.export{ display: block; padding: 3px 20px;  background-color: #009dd9; color:#fff; border: 1px solid #ccc; border-radius: 4px; margin-top: 20px;}
.export-chart{ padding:2px 20px;  background-color: #009dd9; color:#fff; border: 1px solid #ccc; border-radius: 4px; margin-left: 10px; font-size: 12px;}
.pv-data{ border-top:1px solid #ccc; border-left: 1px solid #ccc;}
.pv-data tr th{ border-right:1px solid #ccc; border-bottom: 1px solid #ccc; height: 30px;}
.pv-data tr td{ border-right:1px solid #ccc; border-bottom: 1px solid #ccc; height: 30px; text-align: center;}
.pv-list{ overflow-x: auto; margin-top: 30px;}
.h3-export{ font-size: 18px;}
.export-obj{ margin-top: 20px; overflow: hidden;}
.export-obj label{ display: block; float: left;}
.export-obj ul{ float: left;}
.export-obj li{ float: left; padding-right: 20px;}
.export-obj li input{ margin-right: 5px;}
.lead-out{ margin:30px 0 0 250px;background-color: #009dd9; padding: 5px 20px; border: 1px solid #ccc; color:#fff; border-radius: 4px;}
.list-data{ margin-top: 30px;}
.list-data h3{ margin-bottom: 15px;}
.table-list{ border-top:1px solid #ccc; border-left: 1px solid #ccc;}
.table-list tr th{ border-right:1px solid #ccc; border-bottom: 1px solid #ccc; height: 30px;}
.table-list tr td{ border-right:1px solid #ccc; border-bottom: 1px solid #ccc; height: 30px; text-align: center;}
.tab-list{ width: 100%;}
.search-world{ width: 450px; margin-top: 30px;}
.search-world input{ float: right;}
.read-record{ width: 750px; margin-top: 30px;}
.read-record input{ float: right;}
.data-detail{ margin-left: 10px; color: #009dd9; float: right;}
.phone-record{ width: 1000px; margin-top: 30px;}
.phone-record input{ float: right;}
.phone-chart h3{ text-align: left;}
.phone-chart{ width: 1200px; text-align: center; margin-bottom: 20px; overflow: hidden;}
.chart-left{ width:600px; float: left;}
.task-world{margin: 30px 0 20px 0;}
.task-world input{ float: right;}
.ad-erea{ margin-right: 50px; width:100px;}
.ditch-data{ overflow-x: auto;}
.canal-num{ margin-bottom: 20px;}
.canal-num input[type=text]{ width: 150px; height: 25px; line-height: 25px;}
.canal-num input[type=button]{ padding: 3px 10px; margin-left: 15px; background-color: #009dd9; border: 1px solid #ccc; color:#fff; border-radius: 4px;}
.split-ratio{ margin:30px 0 0 150px;}
.split-ratio li{ padding-bottom: 20px;}
.split-ratio li:first-child{ overflow: hidden;}
.split-ratio li label{ width:150px; text-align: left; display: block; float: left; height: 25px; line-height: 25px;}
.split-ratio span{ display: block; float: left; padding: 0 15px;}
.split-ratio input{ display: block; float: left; height: 25px; line-height: 25px;}
.split-ratio select{ width: 150px; height: 27px;} 
.split-ratio textarea{ width: 300px; height: 150px;}
.split-ratio .put-in{ width: 100px; height: 30px; background-color: #fff; border: 1px solid #999; border-radius: 4px;}
.query-ditch{ padding: 30px;}
.query-ditch p{ padding: 20px 0;}
.sel-time{ padding-bottom: 30px;}
.ad-record{ width: 900px;}
.mt-list{margin-top:0;}
