## 引入css
#define($cssblock)
<link href="#springUrl("")/static/css/plugins/switchery/switchery.css?$!application.getAttribute('/static/css/plugins/switchery/switchery.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/plugins/chosen/chosen.css?$!application.getAttribute('/static/css/plugins/chosen/chosen.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/style.min862f.css?v=4.1.0?$!application.getAttribute('/static/css/style.min862f.css?v=4.1.0')" rel="stylesheet">


#end

<form class="form-horizontal m-t" id="commentForm">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>项目基本信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目名称</label>
                        <div class="col-sm-8">
                            <input id="p_name" name="p_name" maxlength="50" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目编号</label>
                        <div class="col-sm-8">
                            <input id="order_num" name="order_num" maxlength="15" type="text" class="form-control" required aria-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目补充编号</label>
                        <div class="col-sm-8">
                            <input id="sec_order_num" name="sec_order_num" maxlength="15" type="text" class="form-control" required aria-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目类型</label>
                        <div class="col-sm-8">
                            <select id="type" data-placeholder="选择项目类型..." class="chosen-select" style="width:350px;"  tabindex="2">
                                <option value="">请选择项目类型</option>
                                <option value="1" hassubinfo="true">框架</option>
                                <option value="2" hassubinfo="true">单采</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目日期</label>
                        <div class="col-sm-8">
                            <input id="order_date" name="order_date" class="form-control layer-date" placeholder="YYYY-MM-DD" onclick="laydate({istime: false, format: 'YYYY-MM-DD'})">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目负责人ID</label>
                        <div class="col-sm-8">
                            <input id="person_id" name="person_id" maxlength="100" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>投放信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">投放地区编号</label>
                        <div class="col-sm-8">
                            <select id="delivery_area_ids" data-placeholder="选择投放地区" class="chosen-select" multiple style="width:350px;" tabindex="4">
                                <option value="">请选择角色</option>
                                #foreach($data in $areaList)
                                    <option value ="$data.id">$data.name</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">投放开始日期</label>
                        <div class="col-sm-4">
                            <input id="start_date" placeholder="开始日期" class="form-control layer-date" placeholder="YYYY-MM-DD" onclick="laydate({istime: false, format: 'YYYY-MM-DD'})">
                        </div>
                        <div class="col-sm-4">
                            <input id="end_date" placeholder="结束日期" class="form-control layer-date" placeholder="YYYY-MM-DD" onclick="laydate({istime: false, format: 'YYYY-MM-DD'})">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">公司区域编号</label>
                        <div class="col-sm-8">
                            <select id="area_id" ata-placeholder="请选择区域" class="chosen-select" style="width:350px;" tabindex="2">
                                <option value="">请选择区域</option>
                                #foreach($data in $areaList)
                                    <option value ="$data.id">$data.name</option>
                                #end
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>销售信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目总金额</label>
                        <div class="col-sm-8">
                            <input id="amount" name="amount" type="text" class="form-control" aria-required="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>付款信息 </h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">回款比例</label>
                        <div class="col-sm-8 ">
                            <input id="pay_percent" type="text" value="0" class="dial m-r" data-fgColor="#1AB394" data-width="85" data-height="85" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">账期</label>
                        <div class="col-sm-8">
                            <input id="account_period" name="account_period" maxlength="5" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-primary" type="button"><i class="fa fa-check"></i> 保存</button>
            </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <button class="btn btn-default" type="button"><i class="fa fa-reply"></i> 取消</button>
                </div>
            </div>
        </div>

    </div>
</form>

## 引入js
#define($jsblock)
<script type="text/javascript" src="#springUrl("")/static/js/plugins/switchery/switchery.js?$!application.getAttribute('/static/js/plugins/switchery/switchery.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/jquery.validate.min.js?$!application.getAttribute('/static/js/plugins/validate/jquery.validate.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/messages_zh.min.js?$!application.getAttribute('/static/js/plugins/validate/messages_zh.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/chosen/chosen.jquery.js?$!application.getAttribute('/static/js/plugins/chosen/chosen.jquery.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/layer/laydate/laydate.js?$!application.getAttribute('/static/js/plugins/layer/laydate/laydate.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/jsKnob/jquery.knob.js?$!application.getAttribute('/static/js/plugins/jsKnob/jquery.knob.js')"></script>

<script>
    var start = {
        elem: "#start_date",
        format: "YYYY/MM/DD",
        min: laydate.now(),
        max: "2099-06-16",
        istime: false,
        istoday: false,
        choose: function (datas) {
            end.min = datas;
            end.start = datas
        }
    };
    var end={
        elem:"#end_date",
        format: "YYYY/MM/DD",
        min: laydate.now(),
        max: "2099-06-16",
        istime: false,
        istoday: false,
        choose: function (datas) {
            start.max = datas
        }};
    laydate(start);
    laydate(end);

    var config = {
        ".chosen-select": {},
        ".chosen-select-deselect": {allow_single_deselect: !0},
        ".chosen-select-no-single": {disable_search_threshold: 10},
        ".chosen-select-no-results": {no_results_text: "Oops, nothing found!"},
        ".chosen-select-width": {width: "95%"}
    };
    for (var selector in config)
        $(selector).chosen(config[selector]);


    $.validator.setDefaults(
            {highlight:function(e){$(e).closest(".form-group").removeClass("has-success").addClass("has-error")},
                success:function(e){
                    e.closest(".form-group").removeClass("has-error").addClass("has-success")
                },
                errorElement:"span",
                errorPlacement:function(e,r){e.appendTo(r.is(":radio")||r.is(":checkbox")?r.parent().parent().parent():r.parent())},
                errorClass:"help-block m-b-none",validClass:"help-block m-b-none"}
    ),
    $().ready(
            function(){
                var e="<i class='fa fa-times-circle'></i> ";
                $("#commentForm").validate();
                {var i=document.querySelector(".js-switch"),
                        t=(new Switchery(i,{color:"#1AB394"}));
                };
                $("#pay_percent").knob();
            }

    );

    $(".btn-primary").click(function(){
        add();
    })

    function add(){
        var name = $("#p_name").val();
        var orderNum = $("#order_num").val();
        var secOrderNum = $("#sec_order_num").val();
        var type = $("#type").val();
        var orderDate = $("#order_date").val();

        var startDate = $("#start_date").val();
        var endDate = $("#end_date").val();

        var areaId = $("#area_id").val();
        var personId = $("#person_id").val();


        var amount = $("#amount").val();


        var payPercent = $("#pay_percent").val();
        var accountPeriod = $("#account_period").val();

        $.ajax({
            url:"/buyOrder/add.json",
            type:"post",
            data:{
                name:name,
                orderNum:orderNum,
                secOrderNum:secOrderNum,
                type:type,
//                orderDate:orderDate,
                areaId:areaId,
                amount:amount,
//                startDate:startDate,
//                endDate:endDate,
                personId:personId,
//                payPercent:payPercent,
                accountPeriod:accountPeriod
            },
            success: function(returnData){
                console.log(returnData);
                if(returnData.code == 1){
                    layer.msg('添加成功!');

                    setTimeout(function(){
                        window.location.href = "/buyOrder/index";
                        }, 300
                    );
                } else{
                    layer.msg('添加失败, 请联系技术人员!');
                }
            }

        });
    }

    // 返回
    $(".btn-default").click(function(){
        history.go(-1);
    })
</script>
#end