
#define($cssblock)
#end

<div class="wrapper wrapper-content animated fadeInRight">
    <button type="button" class="btn btn-w-m btn-primary"><i class="fa fa-plus "></i> 添加</button>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>项目名称</th>
                            <th>项目编码</th>
                            <th>项目补充编码</th>
                            <th>项目类型</th>
                            <th>管理</th>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach($data in $dataList)
                            <tr class="gradeX">
                                <td>$!{data.name}</td>
                                <td>$!{data.OrderNum}</td>
                                <td>$!{data.secOrderNum}</td>
                                <td>
                                    #if($!{data.type} == "1")
                                        框架
                                    #else
                                        单采
                                    #end</td>
                                <td class="right">
                                    <input type="hidden" value="$!{data.id}">
                                    <a href="javascript:;" class="btn btn-info btn-sm button_view_pd"><i class="fa fa-pencil "></i> 修改 </a>
                                    <a href="javascript:;" class="btn btn-danger btn-sm button_view_pd"><i class="fa fa-trash "></i> 删除 </a>
                                </td>
                            </tr>
                            #end
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


#define($jsblock)
<script>
    $(function(){
    });

    // 添加
    $(".btn-primary").click(function(){
        window.location.href = "${rc.contextPath}/buyOrder/toAddBrach";
    })
    // 修改
    $(".btn-info").click(function(){
        var id = $(this).parent().children(":first").val();
        window.location.href = "${rc.contextPath}/buyOrder/toUpdate?id=" + id;
    })
    // 删除
    $(".btn-danger").click(function(){
        var id = $(this).parent().children(":first").val();
        delItem(function(){
            $.ajax({
                url:"/buyOrder/remove.json",
                type:"post",
                data:{
                    "id":id
                },
                success: function(returnData){
                    if(returnData.code == 1){
                        popMsg('删除成功!', "/buyOrder/index");
                    } else{
                        layer.msg(returnData.info);
                    }
                }

            });
        });

    })

</script>
#end