## 引入css
#define($cssblock)
<link href="#springUrl("")/static/css/plugins/chosen/chosen.css?$!application.getAttribute('/static/css/plugins/chosen/chosen.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/style.min862f.css?v=4.1.0?$!application.getAttribute('/static/css/style.min862f.css?v=4.1.0')" rel="stylesheet">
<link href="#springUrl("")/static/css/plugins/switchery/switchery.css?$!application.getAttribute('/static/css/plugins/switchery/switchery.css')" rel="stylesheet">

#end

<div class="ibox-content">
    <form class="form-horizontal m-t" id="commentForm">
        <div class="form-group">
            <label class="col-sm-3 control-label">*登录名称</label>
            <div class="col-sm-8">
                <input id="login_name" name="login_name" placeholder="2-20位字符，支持字母、数字下划线组合"  minlength="2" type="text" class="form-control" required="" aria-required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">用户名称</label>
            <div class="col-sm-8">
                <input id="user_name" name="user_name" placeholder="填写用户中文姓名" type="text" class="form-control" required="" aria-required="true" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">用户密码</label>
            <div class="col-sm-8">
                <input id="password" name="password"  class="form-control"  type="password" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">确认密码</label>
            <div class="col-sm-8">
                <input id="repassword" name="repassword"  class="form-control"  type="password" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">手机号码</label>
            <div class="col-sm-8">
                <input id="mobile" name="mobile"  class="form-control" type="text" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">电话号码</label>
            <div class="col-sm-8">
                <input id="phone" name="phone"  class="form-control" type="text" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">地址</label>
            <div class="col-sm-8">
                <input id="address" name="address"  class="form-control" type="text" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">email</label>
            <div class="col-sm-8">
                <input id="email" name="email"  type="email"  class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">部门</label>
            <div class="col-sm-8">
                <input id="department_id" type="text" class="form-control" name="url">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">启用</label>
            <div class="col-sm-8">
                <input id="item_status" name="item_status" type="checkbox" class="js-switch" checked />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">角色</label>
            <div class="col-sm-8">
                <select data-placeholder="选择角色" class="chosen-select" multiple style="width:350px;" tabindex="4">
                    <option value="">请选择角色</option>
                        #foreach($data in $roleList)
                            #if($data.selected)
                                <option value ="$data.sysRole.id" selected>$data.sysRole.name</option>
                            #else
                                <option value ="$data.sysRole.id">$data.sysRole.name</option>
                            #end
                        #end
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> 保存</button>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <button class="btn btn-default" type="button"><i class="fa fa-reply"></i> 取消</button>
            </div>
        </div>
    </form>
</div>



## 引入js
#define($jsblock)
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/jquery.validate.min.js?$!application.getAttribute('/static/js/plugins/validate/jquery.validate.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/messages_zh.min.js?$!application.getAttribute('/static/js/plugins/validate/messages_zh.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/chosen/chosen.jquery.js?$!application.getAttribute('/static/js/plugins/chosen/chosen.jquery.js')"></script>
##checkbox
<script type="text/javascript" src="#springUrl("")/static/js/plugins/switchery/switchery.js?$!application.getAttribute('/static/js/plugins/switchery/switchery.js')"></script>

<script>

    var config = {
        ".chosen-select": {},
        ".chosen-select-deselect": {allow_single_deselect: !0},
        ".chosen-select-no-single": {disable_search_threshold: 10},
        ".chosen-select-no-results": {no_results_text: "Oops, nothing found!"},
        ".chosen-select-width": {width: "95%"}
    };
    for (var selector in config)
        $(selector).chosen(config[selector]);

    $.validator.setDefaults(
        {highlight:function(e){$(e).closest(".form-group").removeClass("has-success").addClass("has-error")},
            success:function(e){
                e.closest(".form-group").removeClass("has-error").addClass("has-success")
            },
            errorElement:"span",
            errorPlacement:function(e,r){e.appendTo(r.is(":radio")||r.is(":checkbox")?r.parent().parent().parent():r.parent())},
            errorClass:"help-block m-b-none",validClass:"help-block m-b-none"}
    ),
    $().ready(
        function(){
            var e="<i class='fa fa-times-circle'></i> ";
            $("#commentForm").validate({
                rules:{
                    repassword:{
                        equalTo:"#password"
                    }
                },
                messages:{
                    repassword:{
                        equalTo:e+"两次输入的密码不一致"
                    }
                },
                submitHandler:function(form){
                    addRegion();
                }
            });
            // 启用停用
            {var i=document.querySelector(".js-switch"),
                    t=(new Switchery(i,{color:"#1AB394"}));
            };
        }
    );

    function addRegion(){
        var login_name = $("#login_name").val();
        var user_name = $("#user_name").val();
        var password = $("#password").val();
        var mobile = $("#mobile").val();
        var phone = $("#phone").val();
        var address = $("#address").val();
        var email = $("#email").val();
        var department_id = $("#department_id").val();
        var roleIds = $(".chosen-select").val();
        var item_status = $(".js-switch")[0].checked?"0":"1";
        var userRoleList = "";
        if (roleIds != null) {
            for (var i = 0; i < roleIds.length; i++) {
                var roleIdTemp = roleIds[i];
                if (roleIdTemp != "") {
                    userRoleList = userRoleList + "," + roleIdTemp;
                }
            };
        }
        $.ajax({
            url:"/user/add.json",
            type:"post",
            async: false,
            data:{
                "loginName":login_name,
                "userName":user_name,
                "password":password,
                "mobile":mobile,
                "phone":phone,
                "address":address,
                "email":email,
                "departmentId":department_id,
                "userRoleList":userRoleList,
                "itemStatus":item_status
            },
            success: function(returnData){
                if(returnData.code == 1){
                    popMsg('添加成功!', "/user/index");
                } else{
                    layer.msg(returnData.info);
                }
            }

        });
    }

// 返回
$(".btn-default").click(function(){
    history.go(-1);
})
</script>
#end