

#define($cssblock)
<style>
    .project-completion{font-size: 0;}
    .project-completion lable{background: #D8D8D8; font-size: 14px;}
    .project-completion span{background: #D8D8D8; font-size: 14px; width: 120px; padding: 5px 10px 5px 10px;line-height: 1.5;display:inline-block}
</style>
#end

#if($welcomeFlag == true)
    <div style="width: 100%;text-align: center;margin-top: 200px" >
        <h1 style="font-size: 60px;background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#2dbaf3), to(blue));-webkit-background-clip: text;-webkit-text-fill-color: transparent;">欢迎</h1>
    </div>

#else

    #if($buyFrameFlag == true)
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>工作看板--框架采购单</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-4">
                        <h4 class="example-title">待处理</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $todoListBuyFrame)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey"  >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <h4 class="example-title">进行中</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $handlingListBuyFrame)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey" >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <h4 class="example-title">已完成</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $finishedListBuyFrame)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey" >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #end


    #if($buyOrderFlag == true)
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>工作看板--采购单</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-4">
                        <h4 class="example-title">待处理</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $todoListBuyOrder)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey"  >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <h4 class="example-title">进行中</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $handlingListBuyOrder)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey" >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <h4 class="example-title">已完成</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $finishedListBuyOrder)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey" >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #end


    #if($saleFrameFlag == true)
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>工作看板--框架需求单</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-4">
                        <h4 class="example-title">待处理</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $todoListSaleFrame)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey"  >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <h4 class="example-title">进行中</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $handlingListSaleFrame)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey" >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <h4 class="example-title">已完成</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $finishedListSaleFrame)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey" >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #end


    #if($saleOrderFlag == true)
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>工作看板--需求单</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-4">
                        <h4 class="example-title">待处理</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $todoListSaleOrder)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey"  >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <h4 class="example-title">进行中</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $handlingListSaleOrder)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey" >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <h4 class="example-title">已完成</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $finishedListSaleOrder)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey" >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #end



    #if($executeFlag == true)
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>工作看板--排期执行单</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-4">
                        <h4 class="example-title">待处理</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $todoListExecuteOrder)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey"  >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <h4 class="example-title">进行中</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $handlingListExecuteOrder)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey" >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <h4 class="example-title">已完成</h4>
                        <div class="example">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($data in $finishedListExecuteOrder)
                                    <tr class="gradeX">
                                        <td >
                                            <a href="javascript:;" class="refer-detail" tid="$!data.id" pdKey="$!data.processDefinitionKey" >$!{data.name}</a>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #end


    #if($progressFlag == true)
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>项目进度</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
##            <div class="ibox-content">
##                <div class="project-list">
##                    <table class="table table-hover">
##                        <tbody>
##                            #set($Integer = 0)
##                            #foreach($data in $unFinishedList)
##                                #set($intWorkFlowStep = $Integer.parseInt($data.wfStep))
##                                #set($intContractStatus = $Integer.parseInt($data.contractStatus))
##                                #set($intContractImgStatus = $Integer.parseInt($data.contractImgStatus))
##                                #set($intOriginalContractStatus = $Integer.parseInt($data.originalContractStatus))
##                                #set($intExecuteOrderImgStatus = $Integer.parseInt($data.executeOrderImgStatus))
##                                #set($intOriginalExecuteOrderStatus = $Integer.parseInt($data.originalExecuteOrderStatus))
##                                #set($intConfirmCostStatus = $Integer.parseInt($data.confirmCostStatus))
##                                #set($intReminderPaymentStatus = $Integer.parseInt($data.reminderPaymentStatus))
##
##                            <tr>
##                                <td class="project-title">
##                                    <a href="javascript:;"  class="refer-detail" tid="$!data.id" >$data.name</a>
##                                    <br/>
##                                    <small>更新于 $!date.format('yyyy-MM-dd HH:mm:ss ',${data.updateTime})</small><br/>
##                                    <small>创建于 $!date.format('yyyy-MM-dd HH:mm:ss ',${data.createTime})</small>
##                                </td>
##                                <td class="project-completion">
##                                <span
##                                    #if($data.status == 1 || $data.status == 2 || ($data.status == 0 && $intWorkFlowStep >= 1 ) )
##                                            style="background: #45FF39"
##                                    #end >
##                                    客户已下单</span>
##                                <span
##                                    #if($data.status == 1 || $data.status == 2 || ($data.status == 0 && $intWorkFlowStep > 2 ) )
##                                            style="background: #45FF39"
##                                    #end >
##                                    销售已提交</span>
##                                <span
##                                    #if($data.status == 1 || $data.status == 2 || ($data.status == 0 && $intWorkFlowStep > 3 ) )
##                                            style="background: #45FF39"
##                                    #end >
##                                    销售主管审核</span>
##                                <span
##                                    #if($data.status == 1 || $data.status == 2 || ($data.status == 0 && $intWorkFlowStep > 4 ) )
##                                            style="background: #45FF39"
##                                    #end >
##                                    销售总经理审核</span>
##                                <span
##                                    #if($data.status == 1 || $data.status == 2 || ($data.status == 0 && $intWorkFlowStep > 5 ) )
##                                            style="background: #45FF39"
##                                    #end >
##                                    媒介审核</span>
##                                <span
##                                    #if($data.status == 1 || $data.status == 2 || ($data.status == 0 && $intWorkFlowStep > 6 ) )
##                                            style="background: #45FF39"
##                                    #end >
##                                    财务审核</span>
##                                <span
##                                    #if($data.status == 1 || $data.status == 2)
##                                            style="background: #45FF39"
##                                    #end >
##                                    法务审核</span>
##                                    <br/>
##                                <span
##                                    #if($data.intContractStatus == 0  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    签署合同</span>
##                                <span
##                                    #if($data.intContractImgStatus == 0  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    扫描合同</span>
##                                <span
##                                    #if($data.intOriginalContractStatus == 0  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    原章合同</span>
##                                <span
##                                    #if($data.status == 2 && $intWorkFlowStep >= 1  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    媒介已处理</span>
##                                <span
##                                    #if($data.status == 2 && $intWorkFlowStep > 2  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    媒介审核</span>
##                                <span
##                                    #if($data.status == 2 && $intWorkFlowStep > 3  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    销售总经理审核</span>
##                                <span
##                                    #if($data.status == 2 && $intWorkFlowStep > 4  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    财务审核</span>
##                                <span
##                                    #if($data.status == 2 && $intWorkFlowStep > 5  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    法务审核</span>
##
##                                <span
##                                    #if($data.executeOrderImgStatus == 0  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    扫描排期单</span>
##                                <span
##                                    #if($data.originalExecuteOrderStatus == 0  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    原章排期单</span>
##                                <span
##                                    #if($data.status == 2 && $intWorkFlowStep > 7  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    开始投放</span>
##                                <span
##                                    #if($data.confirmCostStatus == 0  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    收入成本确认单</span>
##                                <span
##                                    #if($data.reminderPaymentStatus == 0  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    催款提醒</span>
##                                <span
##                                    #if($data.status == 3  )
##                                            style="background: #45FF39"
##                                    #end >
##                                    项目已回款</span>
##                                </td>
##                            </tr>
##                            #end
##                        </tbody>
##                    </table>
##                </div>
##            </div>

            <div class="ibox-content">
                <div class="project-list">
                    <table class="table table-hover">
                        <tbody>

                        #foreach($data in $processList)
                        <tr>
                            <td class="project-title">
                                <a href="javascript:;"  class="refer-detail" tid="$!data.id" >$data.name</a>
                                <br/>
                                <small>更新于 $!date.format('yyyy-MM-dd HH:mm:ss ',${data.updateTime})</small><br/>
                                <small>创建于 $!date.format('yyyy-MM-dd HH:mm:ss ',${data.createTime})</small>
                            </td>
                            <td class="project-completion">
                            #if($data.processDefinitionKey == 'buyOrder')
                                <span
                                    #if($data.wfStep >= 0)
                                            style="background: #45FF39"
                                    #end >
                                    媒介下单</span>
                                <span
                                    #if($data.wfStep >= 1)
                                            style="background: #45FF39"
                                    #end >
                                    媒介主管审核</span>
                                <span
                                    #if($data.wfStep >= 2)
                                            style="background: #45FF39"
                                    #end >
                                    销售总经理审核</span>
                                <span
                                    #if($data.wfStep >= 3)
                                            style="background: #45FF39"
                                    #end >
                                    财务审核</span>
                                <span
                                    #if($data.wfStep >= 4)
                                            style="background: #45FF39"
                                    #end >
                                    法务审核</span>


                            #elseif($data.processDefinitionKey == 'buyFrame')
                                <span
                                    #if($data.wfStep >= 0)
                                            style="background: #45FF39"
                                    #end >
                                    媒介下单</span>
                                <span
                                    #if($data.wfStep >= 1)
                                            style="background: #45FF39"
                                    #end >
                                    媒介主管审核</span>
                                <span
                                    #if($data.wfStep >= 2)
                                            style="background: #45FF39"
                                    #end >
                                    销售总经理审核</span>
                                <span
                                    #if($data.wfStep >= 3)
                                            style="background: #45FF39"
                                    #end >
                                    财务审核</span>


                            #elseif($data.processDefinitionKey == 'saleOrder')
                                <span
                                    #if($data.wfStep >= 0)
                                            style="background: #45FF39"
                                    #end >
                                    客户下单</span>
                                <span
                                    #if($data.wfStep >= 0)
                                            style="background: #45FF39"
                                    #end >
                                    销售提交</span>
                                <span
                                    #if($data.wfStep >= 1)
                                            style="background: #45FF39"
                                    #end >
                                    销售主管审核</span>
                                <span
                                    #if($data.wfStep >= 2)
                                            style="background: #45FF39"
                                    #end >
                                    销售总经理审核</span>
                                <span
                                    #if($data.wfStep >= 3)
                                            style="background: #45FF39"
                                    #end >
                                    媒介审核</span>
                                <span
                                    #if($data.wfStep >= 4)
                                            style="background: #45FF39"
                                    #end >
                                    财务审核</span>
                                <span
                                    #if($data.wfStep >= 5)
                                            style="background: #45FF39"
                                    #end >
                                    法务审核</span>
                                <span
                                    #if($data.wfStep >= 6)
                                            style="background: #45FF39"
                                    #end >
                                    签署合同</span>
                                <span
                                    #if($data.wfStep >= 7)
                                            style="background: #45FF39"
                                    #end >
                                    扫描合同</span>
                                <span
                                    #if($data.wfStep >= 8)
                                            style="background: #45FF39"
                                    #end >
                                    追要原章合同</span>


                            #elseif($data.processDefinitionKey == 'saleExecute')
                                <span
                                    #if($data.wfStep >= 0)
                                            style="background: #45FF39"
                                    #end >
                                    发起排期</span>
                                <span
                                    #if($data.wfStep >= 1)
                                            style="background: #45FF39"
                                    #end >
                                    媒介审核</span>
                                <span
                                    #if($data.wfStep >= 2)
                                            style="background: #45FF39"
                                    #end >
                                    销售总经理审核</span>
                                <span
                                    #if($data.wfStep >= 3)
                                            style="background: #45FF39"
                                    #end >
                                    财务审核</span>
                                <span
                                    #if($data.wfStep >= 4)
                                            style="background: #45FF39"
                                    #end >
                                    法务审核</span>
                                <span
                                    #if($data.wfStep >= 5)
                                            style="background: #45FF39"
                                    #end >
                                    扫描排期单</span>
                                <span
                                    #if($data.wfStep >= 6)
                                            style="background: #45FF39"
                                    #end >
                                    追要原章排期</span>
                                <span
                                    #if($data.wfStep >= 7)
                                            style="background: #45FF39"
                                    #end >
                                    开始投放</span>
                                <span
                                    #if($data.wfStep >= 7)
                                            style="background: #45FF39"
                                    #end >
                                    财务确认单据</span>
                                <span
                                    #if($data.wfStep >= 8)
                                            style="background: #45FF39"
                                    #end >
                                    催款提醒</span>
                                <span
                                    #if($data.wfStep >= 9)
                                            style="background: #45FF39"
                                    #end >
                                    项目已回款</span>


                            #elseif($data.processDefinitionKey == 'saleFrame')
                                <span
                                    #if($data.wfStep >= 0)
                                            style="background: #45FF39"
                                    #end >
                                    客户下单</span>
                                <span
                                    #if($data.wfStep >= 0)
                                            style="background: #45FF39"
                                    #end >
                                    销售提交</span>
                                <span
                                    #if($data.wfStep >= 1)
                                            style="background: #45FF39"
                                    #end >
                                    销售主管审核</span>
                                <span
                                    #if($data.wfStep >= 2)
                                            style="background: #45FF39"
                                    #end >
                                    销售总经理审核</span>
                                <span
                                    #if($data.wfStep >= 3)
                                            style="background: #45FF39"
                                    #end >
                                    媒介审核</span>
                                <span
                                    #if($data.wfStep >= 4)
                                            style="background: #45FF39"
                                    #end >
                                    财务审核</span>
                            #end
                            </td>
                        </tr>
                        #end


                        #set($Integer = 0)
                        #foreach($data in $unFinishedList)
                            #set($intWorkFlowStep = $Integer.parseInt($data.wfStep))
                            #set($intContractStatus = $Integer.parseInt($data.contractStatus))
                            #set($intContractImgStatus = $Integer.parseInt($data.contractImgStatus))
                            #set($intOriginalContractStatus = $Integer.parseInt($data.originalContractStatus))
                            #set($intExecuteOrderImgStatus = $Integer.parseInt($data.executeOrderImgStatus))
                            #set($intOriginalExecuteOrderStatus = $Integer.parseInt($data.originalExecuteOrderStatus))
                            #set($intConfirmCostStatus = $Integer.parseInt($data.confirmCostStatus))
                            #set($intReminderPaymentStatus = $Integer.parseInt($data.reminderPaymentStatus))

                        <tr>
                            <td class="project-title">
                                <a href="javascript:;"  class="refer-detail" tid="$!data.id" >$data.name</a>
                                <br/>
                                <small>更新于 $!date.format('yyyy-MM-dd HH:mm:ss ',${data.updateTime})</small><br/>
                                <small>创建于 $!date.format('yyyy-MM-dd HH:mm:ss ',${data.createTime})</small>
                            </td>
                            <td class="project-completion">
                                <span
                                    #if($data.status == 1 || $data.status == 2 || ($data.status == 0 && $intWorkFlowStep >= 1 ) )
                                        style="background: #45FF39"
                                    #end >
                                    客户已下单</span>
                                <span
                                    #if($data.status == 1 || $data.status == 2 || ($data.status == 0 && $intWorkFlowStep > 2 ) )
                                        style="background: #45FF39"
                                    #end >
                                    销售已提交</span>
                                <span
                                    #if($data.status == 1 || $data.status == 2 || ($data.status == 0 && $intWorkFlowStep > 3 ) )
                                            style="background: #45FF39"
                                    #end >
                                    销售主管审核</span>
                                <span
                                    #if($data.status == 1 || $data.status == 2 || ($data.status == 0 && $intWorkFlowStep > 4 ) )
                                            style="background: #45FF39"
                                    #end >
                                    销售总经理审核</span>
                                <span
                                    #if($data.status == 1 || $data.status == 2 || ($data.status == 0 && $intWorkFlowStep > 5 ) )
                                            style="background: #45FF39"
                                    #end >
                                    媒介审核</span>
                                <span
                                    #if($data.status == 1 || $data.status == 2 || ($data.status == 0 && $intWorkFlowStep > 6 ) )
                                            style="background: #45FF39"
                                    #end >
                                    财务审核</span>
                                <span
                                    #if($data.status == 1 || $data.status == 2)
                                            style="background: #45FF39"
                                    #end >
                                    法务审核</span>
                                <br/>
                                <span
                                    #if($data.intContractStatus == 0  )
                                            style="background: #45FF39"
                                    #end >
                                    签署合同</span>
                                <span
                                    #if($data.intContractImgStatus == 0  )
                                            style="background: #45FF39"
                                    #end >
                                    扫描合同</span>
                                <span
                                    #if($data.intOriginalContractStatus == 0  )
                                            style="background: #45FF39"
                                    #end >
                                    原章合同</span>
                                <span
                                    #if($data.status == 2 && $intWorkFlowStep >= 1  )
                                            style="background: #45FF39"
                                    #end >
                                    媒介已处理</span>
                                <span
                                    #if($data.status == 2 && $intWorkFlowStep > 2  )
                                            style="background: #45FF39"
                                    #end >
                                    媒介审核</span>
                                <span
                                    #if($data.status == 2 && $intWorkFlowStep > 3  )
                                            style="background: #45FF39"
                                    #end >
                                    销售总经理审核</span>
                                <span
                                    #if($data.status == 2 && $intWorkFlowStep > 4  )
                                            style="background: #45FF39"
                                    #end >
                                    财务审核</span>
                                <span
                                    #if($data.status == 2 && $intWorkFlowStep > 5  )
                                            style="background: #45FF39"
                                    #end >
                                    法务审核</span>

                                <span
                                    #if($data.executeOrderImgStatus == 0  )
                                            style="background: #45FF39"
                                    #end >
                                    扫描排期单</span>
                                <span
                                    #if($data.originalExecuteOrderStatus == 0  )
                                            style="background: #45FF39"
                                    #end >
                                    原章排期单</span>
                                <span
                                    #if($data.status == 2 && $intWorkFlowStep > 7  )
                                            style="background: #45FF39"
                                    #end >
                                    开始投放</span>
                                <span
                                    #if($data.confirmCostStatus == 0  )
                                            style="background: #45FF39"
                                    #end >
                                    收入成本确认单</span>
                                <span
                                    #if($data.reminderPaymentStatus == 0  )
                                            style="background: #45FF39"
                                    #end >
                                    催款提醒</span>
                                <span
                                    #if($data.status == 3  )
                                            style="background: #45FF39"
                                    #end >
                                    项目已回款</span>
                            </td>
                        </tr>
                        #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    #end
#end



## 引入js
#define($jsblock)
<script type="text/javascript" src="#springUrl("")/static/js/content.min.js?v=1.0.0?$!application.getAttribute('/static/js/content.min.js?v=1.0.0')"></script>

<script>

    ## 查看
    $(".refer-detail").click(function(){
        var id = $(this).attr('tid'); // 取业务ID
        var processDefinitionKey = $(this).attr('pdkey'); // 取业务ID
        if (processDefinitionKey == 'saleExecute') {
            processDefinitionKey = 'saleOrder';
        }
        var url = "/" +processDefinitionKey + "/refer?id="+id;
        openPopIframePage(url);
    })
</script>
#end