<div class="top">
    <div class="top-r">
        <label class="content-lab">$!{dt}版本渠道详细</label>
        <input type="button" value="  查  询  " class="inp-sure" onclick="drawDetailPage();">
    </div>
</div>
<div class="money-con mt-list">
        <h3>数据总览：</h3>
        <input type="button" value="导出" class="money-btn" onclick="exportDetailData();">
    </div>
    <!--列表-->
<table class="money-data mb-30 mt-10">
    <thead>
        <tr>
            <th>渠道</th>
            <th>累计用户</th>
            <th>启动用户</th>
            <th>新增用户</th>
            <th>启动次数</th>
            <th>赠送积分额度</th>
            <th>消费积分额度</th>
            <th>阅读图书</th>
            <th>阅读章节</th>
            <th>人均阅读时长</th>
            <th>渠道留存率</th>
            <th>新增留存率</th>
        </tr>
     </thead>
     <tbody id="tableBody">
     </tbody>        
</table>
<div class="tcdPageCode">
</div>
<link rel="stylesheet" href="${rc.contextPath}/static/css/page.css">
<script src="${rc.contextPath}/static/js/jquery.page.js"></script>
<script>

    $(function(){
        //设置产品选项
        $("#productSel").html("<option value='2'>创新版</option>");
        jsUtil.setHeaderInfo("${rc.contextPath}");
    	drawDetailPage();
    });

    function drawDetailPage(){
        var params = {
            startTime: "$!{dt}",
            endTime: "$!{dt}",
            cnids: $("#cnids").val()
        };
        setWayPageData(1);//加载后即展示第一页数据
        createDetailPageWidget(params);
    }
    
    //创建分页插件, 只应该调用一次
    function createDetailPageWidget(params){
        var totalPage = 0;
        //获取总页数
        $.ajax({
            url: "${rc.contextPath}/cxb/channel/getDetailTotalPages.json",
            type: "POST",
            data: params,
            success: function(returnData){
                if(returnData.code == 1){
                    totalPage = returnData.data;
                    $(".tcdPageCode").createPage({
                        pageCount: totalPage,
                        current:1,
                        backFn: function(p){//p为当前页号
                            setWayPageData(p);
                        }
                    });
                } else{
                    alert(returnData.info);
                    return;
                }
            }
        });      
    }
    
    function setWayPageData(pageNo){
        var params = {
            startTime: "$!{dt}",
            endTime: "$!{dt}",
            cnids: $("#cnids").val(),
            pageNo:pageNo//添加页号信息
        };
        $.ajax({
            url: "${rc.contextPath}/cxb/channel/getDetailPageData.json",
            type: "POST",
            data: params ,
            success: function(returnData){
                if(returnData.code == 1){
                    var tableData = "";
                    $.each(returnData.data, function(i, item){
                        tableData += "<tr><td>"
                           +item.cnid +"</td><td>"
                           + item.accumUsers + "</td><td>" 
                           + item.qdUsers +"</td><td>"
                           + item.newUsers + "</td><td>"
                           + item.qdTimes + "</td><td>"
                           + item.earnIntegral +"</td><td>"
                           + item.consumeIntegral +"</td><td>"
                           + item.bookNum +"</td><td>"
                           + item.chapterNum +"</td><td>"
                           + item.readTime +"</td><td>"
                           + item.qdRemain +"%</td><td>"
                           + item.addRemain +"%</td></tr>";
                    });
                    $("#tableBody").html(tableData);
                } else{
                    alert(returnData.info);
                }
            }
        });
    }
    
    function exportDetailData(){
        var startTime = "$!{dt}";
        var endTime = "$!{dt}";
        var cnids = $("#cnids").val();
        window.location.href="/cxb/channel/exportDetailData.json?startTime="+startTime+"" +
                "&endTime="+endTime+"&cnids="+cnids+"";

    }
</script>