#set($layout = '/layout/empty.vm')
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title> - 主页示例</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="${rc.contextPath}/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="${rc.contextPath}/static/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="${rc.contextPath}/static/css/animate.css" rel="stylesheet">
    <link href="${rc.contextPath}/static/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="${rc.contextPath}/static/js/plugins/layer/laydate/need/laydate.css" rel="stylesheet">
</head>
<body class="white-bg">
<div class="wrapper wrapper-content">
<div class="top">
    <form id="form1" action="/pc/channel/pcrechargedata"  method="post" name="pageForm">
        <input type="hidden"  name="pageSize" id="pageSize" value="$!{page.pageSize}" ></input>
        <input type="hidden"  name="pageIndex" id="pageIndex" value="$!{page.pageIndex}" ></input>
    <div class="top-r">
        <label>*选择时间：</label>
        <input type="text" id="startTime" name="startTime" class="datepicker" value="$!{startTime}">&nbsp;&nbsp;——&nbsp;&nbsp;
        <input type="text" id="endTime" name="endTime" class="datepicker" value="$!{endTime}">
        <label class="ml20">充值方式：</label>
        <select name="type">
            <option name="type" value="0">全部</option>
            <option name="type" value="1" #if("1" eq $!{type})selected="selected" #end>微信</option>
            <option name="type" value="2" #if("2" eq $!{type})selected="selected" #end>支付宝</option>
            <option name="type" value="3" #if("3" eq $!{type})selected="selected" #end>赠送</option>
        </select>
        <label class="ml20">渠道：</label>
        <input type="text" class="inp-name" name="cnid" id="cnid" value="$!{cnid}">
        <input type="submit" value="  查  询  " class="inp-sure" />
    </div>
    </form>
</div>
#*<div class="money-con mt-list">
        <h3>数据总览：</h3>
        <input type="button" value="导出" class="money-btn" onclick="exportDetailData();">
    </div>*#
    <!--列表-->
<table class="table table-bordered">
    <tbody>
        <tr>
            <th >日期</th>
            <th >充值页面uv</th>
            <th>充值人数</th>
            <th>充值页面uv与dau占比</th>
            <th>充值人数与充值页面uv占比</th>
            <th>充值次数</th>
            <th>充值金额(元)</th>
        </tr>
     </tbody>
      #foreach($PcRecharge in $!{page.getData()})
        <tr>
            <td>$!{PcRecharge.dt}</td>
            <td>$!{PcRecharge.payPageUser}</td>
            <td>$!{PcRecharge.rechargeUser}</td>
            <td>$!{PcRecharge.payPageUseruvAnddauPercent}%</td>
            <td>$!{PcRecharge.rechargeUserPayPageUserPercent}%</td>
            <td>$!{PcRecharge.rechargeNum}</td>
            <td>$!{PcRecharge.rechargeMoney}</td>
        </tr>
      #end
</table>
<div class="tcdPageCode">
    #parse('layout/page.vm')
</div>
</div>
</body>
<script src="${rc.contextPath}/static/js/jquery.min.js?v=2.1.4"></script>
<script src="${rc.contextPath}/static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="${rc.contextPath}/static/js/plugins/layer/laydate/laydate.js"></script>
<!-- 自定义js -->
<script src="${rc.contextPath}/static/js/pc/channel.js"></script>
<script>
    function exportDetailData(){
        var startTime = "$!{dt}";
        var endTime = "$!{dt}";
        var version = $("#versionSel").val();
        var cnids = $("#cnids").val();
        window.location.href="/zwsc/channel/exportDetailData.json?startTime="+startTime+"" +
                "&endTime="+endTime+"&version="+version+"&cnids="+cnids+"";

    }
</script>
