<div class="top">
    <label class="top-l">消费数据：</label>
    <div class="top-r">
        <label class="content-lab">*选择时间：</label>
           <input type="text" id="startTime" name="startTime" class="datepicker">&nbsp;&nbsp;——&nbsp;&nbsp;
           <input type="text" id="endTime" name="endTime" class="datepicker">
           <input type="button" value="  确  定  " class="inp-sure" onclick="drawAmtChart();">
    </div>
    <div class="bottom">
        <span>打赏总金额:<b id="moneySum">0</b>铜币&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        打赏次数：<b id="timeSum">0</b>&nbsp;&nbsp;&nbsp;&nbsp;
                        打赏用户数：<b id="userSum">0</b></span>
    </div>
</div>
<!--下拉框-->
<div class="timer" style="margin-bottom:10px;">
    <label>时间周期：</label>
       <select id="timeCycleSel" name="timeCycle">
           <option value="1">日</option>
           <option value="2">周</option>
           <option value="3">月</option>
       </select>   
</div>
<div id="tabs">
    <ul>
           <li><a href="#zdsAmt">打赏消费</a></li>
           <li><a href="#zdsType">打赏对象</a></li>
       </ul>
    <!--统计图-->
    <div id="zdsAmt" style="margin-top:10px">
        <div class="pic" id="chartDiv" style="width: 600px;height:400px;margin-left:auto;margin-right:auto">
        </div>
    </div>
    <div id="zdsType">
        #parse('zwsc/consume/dashang/type.vm')
    </div>
</div>
<script src="${rc.contextPath}/static/js/jquery-ui.tab.js"></script>
<link href="${rc.contextPath}/static/css/jquery-ui.tab.css" rel="stylesheet">
<script>
	$(function(){
	    //设置产品选项
	    $("#productSel").html("<option value='1'>中文书城</option>");
	    jsUtil.setHeaderInfo("${rc.contextPath}");
	    
	    $("#tabs").tabs({
	        activate: function(event, ui){
	            if(ui.newPanel.selector == "#zdsType"){
	                setTypeTableData();                 
	            }
	        }
	    });
	    drawAmtChart();
	});
	
    //绘制echarts图表并展示头部总览数据
    function drawAmtChart(){
        var params = {
            timeCycle: $("#timeCycleSel").val(),
            startTime: $("#startTime").val(),
            endTime: $("#endTime").val()
            //version: $("#versionSel").val(),
            //cnids: $("#cnids").val()
        };
        $.ajax({
            url: "${rc.contextPath}/zwsc/consume/dashang/getAmtChart.json",
            type: "POST",
            data: params,
            success: function(returnData){
                if(returnData.code == 1){
                    var myChart = echarts.init(document.getElementById("chartDiv"));
                    myChart.setOption(returnData.data.chart);
                    $("#moneySum").text(returnData.data.summary.moneySum);
                    $("#timeSum").text(returnData.data.summary.timeSum);
                    $("#userSum").text(returnData.data.summary.userSum);
                } else{
                    alert(returnData.info);
                }
            }
        });
    }	
</script>