<div class="money-con mt-list">
    <h3>打赏对象数据：</h3>
    <input type="button" value="导出" class="money-btn" onclick="exportTypeData();">
</div>
<!--列表-->
<div class="pb-30">
    <table class="money-data mt-10" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>打赏对象</th>
                <th>打赏金额</th>
                <th>用户数</th>
                <th>打赏次数</th>
            </tr>
        </thead>
        <tbody id="typeTable">
        </tbody>
    </table>
</div>
<script>
	function setTypeTableData(){
	    $.ajax({
	        url: "${rc.contextPath}/zwsc/consume/dashang/getTypeData.json",
	        type: "POST",
	        data: {
	            startTime: $("#startTime").val(),
	            endTime: $("#endTime").val()
	        },
	        success: function(returnData){
	            if(returnData.code == 1){
	                var tableData = "";
	                $.each(returnData.data, function(i, item){
	                    tableData += "<tr><td>"
	                       + item.dsType +"</td><td>"
	                       + item.moneySum + "</td><td>" 
	                       + item.userSum + "</td><td>"
	                       + item.timeSum + "</td></tr>";
	                });
	                $("#typeTable").html(tableData);
	            } else{
	                alert(returnData.info);
	            }
	        }
	    });     
	}
	
	function exportTypeData(){
	    $.ajax({
	        url: "${rc.contextPath}/zwsc/consume/dashang/exportTypeData.json",
	        type: "POST",
	        data: {
	            startTime: $("#startTime").val(),
	            endTime: $("#endTime").val()
	        },
	        success: function(returnData){
	            if(returnData.code == 1){
	                var form = $("<form>");
	                form.css("display", "none");
	                form.attr("target", "");
	                form.attr("method", "post");
	                form.attr("action", "${rc.contextPath}/zwsc/consume/dashang/downTypeExcel");
	                $("body").append(form);
	                form.submit();
	            } else{
	                alert("导出失败, 请联系技术人员!");
	            }
	        }
	    });
	}
</script>