## 引入css
#define($cssblock)
<link href="#springUrl("")/static/css/plugins/switchery/switchery.css?$!application.getAttribute('/static/css/plugins/switchery/switchery.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/plugins/chosen/chosen.css?$!application.getAttribute('/static/css/plugins/chosen/chosen.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/style.min862f.css?v=4.1.0?$!application.getAttribute('/static/css/style.min862f.css?v=4.1.0')" rel="stylesheet">
#end

<div class="ibox-content">
    <form class="form-horizontal m-t" id="commentForm">
        <input type="hidden" id="id" name="id" value="$baseCustom.id">
        <div class="form-group">
            <label class="col-sm-3 control-label">客户名称</label>
            <div class="col-sm-8">
                <input value="$!{baseCustom.name}" id="p_name" name="p_name" maxlength="100" type="text" class="form-control">
            </div>
        </div>
##        <div class="form-group">
##            <label class="col-sm-3 control-label">客户行业</label>
##            <div class="col-sm-8">
##                <select data-placeholder="请选择行业" class="chosen-select" style="width:350px;" tabindex="2">
##                    <option value="">请选择行业</option>
##                    #foreach($data in $industryList)
##                        <option value ="$data.id"
##                            #if($!{baseCustom.customIndustryId} == $data.id)
##                                selected
##                            #end
##                        >$data.name</option>
##                    #end
##                </select>
##            </div>
##        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">类型</label>
            <div class="col-sm-8">
                <select id="custom_type" data-placeholder="请选择客户类型" class="chosen-select" style="width:350px;" tabindex="2" onchange="customeTypeChange(this)">
                    <option value="">请选择客户类型</option>
                    <option value="1" hassubinfo="true"
                        #if($!{baseCustom.customType} == 1)
                            selected
                        #end
                    >4A公司</option>
                    <option value="2" hassubinfo="true"
                        #if($!{baseCustom.customType} == 2)
                            selected
                        #end
                        >直客</option>
                    <option value="0" hassubinfo="true"
                        #if($!{baseCustom.customType} == 0)
                            selected
                        #end
                    >代理客户</option>
                </select>
##                <input value="$!{baseCustom.customType}" id="custom_type" name="custom_type" maxlength="50" type="text" class="form-control" required="" aria-required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">隶属代理</label>
            <div id="area_id_content"  class="col-sm-8">
                <select id="parent_id" data-placeholder="请选择代理" style="width:350px;" class="chosen-select" tabindex="2">
                    <option value="">请选择代理</option>
                    #foreach($data in $customList)
                        <option value ="$data.id"
                            #if($!{baseCustom.parentId} == $data.id)
                                selected
                            #end>$data.name</option>
                    #end
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系人</label>
            <div class="col-sm-8">
                <input value="$!{baseCustom.contacts}" id="contacts" name="contacts" maxlength="30" type="text" class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">手机</label>
            <div class="col-sm-8">
                <input value="$!{baseCustom.mobile}" id="mobile" name="mobile" maxlength="30" type="text" class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">地址</label>
            <div class="col-sm-8">
                <input value="$!{baseCustom.address}" id="address" name="address" maxlength="255" type="text" class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱地址</label>
            <div class="col-sm-8">
                <input value="$!{baseCustom.email}" id="email" name="email" maxlength="60" type="text" class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
                <input value="$!{baseCustom.remark}" id="remark" name="remark" maxlength="500" type="text" class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">启用/停用</label>
            <div class="col-sm-8">
                <input id="item_status" name="item_status" type="checkbox" class="js-switch"
                    #if($!{baseCustom.itemStatus} == "0")
                       checked
                    #end
                />
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> 保存</button>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <button class="btn btn-default" type="button"><i class="fa fa-reply"></i> 取消</button>
            </div>
        </div>
    </form>
</div>




## 引入js
#define($jsblock)
<script type="text/javascript" src="#springUrl("")/static/js/plugins/switchery/switchery.js?$!application.getAttribute('/static/js/plugins/switchery/switchery.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/jquery.validate.min.js?$!application.getAttribute('/static/js/plugins/validate/jquery.validate.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/messages_zh.min.js?$!application.getAttribute('/static/js/plugins/validate/messages_zh.min.js')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/chosen/chosen.jquery.js?$!application.getAttribute('/static/js/plugins/chosen/chosen.jquery.js')"></script>

<script>

    function customeTypeChange(obj) {
        if (obj.value != 0) {
            $("#parent_id")[0].disabled = true;
        } else {
            $("#parent_id")[0].disabled = false;
        }
        $("#parent_id").trigger("chosen:updated")
    };

    var config = {
        ".chosen-select": {},
        ".chosen-select-deselect": {allow_single_deselect: !0},
        ".chosen-select-no-single": {disable_search_threshold: 10},
        ".chosen-select-no-results": {no_results_text: "Oops, nothing found!"},
        ".chosen-select-width": {width: "95%"}
    };
    for (var selector in config)
        $(selector).chosen(config[selector]);

    $.validator.setDefaults(
        {highlight:function(e){$(e).closest(".form-group").removeClass("has-success").addClass("has-error")},
            success:function(e){
                e.closest(".form-group").removeClass("has-error").addClass("has-success")
            },
            errorElement:"span",
            errorPlacement:function(e,r){e.appendTo(r.is(":radio")||r.is(":checkbox")?r.parent().parent().parent():r.parent())},
            errorClass:"help-block m-b-none",validClass:"help-block m-b-none"}
    ),
    $().ready(
        function(){
            var e="<i class='fa fa-times-circle'></i> ";
            $("#commentForm").validate({
                submitHandler:function(form){
                    updateRegion();
                }
            });
            {var i=document.querySelector(".js-switch"),
                    t=(new Switchery(i,{color:"#1AB394"}));
            };
        }
    );

//    $(".btn-primary").click(function(){
//        update();
//    })

    function updateRegion(){
        var id = $("#id").val();
        var name = $("#p_name").val();
        var contacts = $("#contacts").val();
        var mobile = $("#mobile").val();
        var address = $("#address").val();
        var email = $("#email").val();
        var remark = $("#remark").val();
        var customIndustryId = $(".chosen-select").val();
        var custom_type = $("#custom_type").val();
        var item_status = $(".js-switch")[0].checked?"0":"1";
        $.ajax({
            url:"/custom/update.json",
            type:"post",
            data:{
                id:id,
                name:name,
                contacts:contacts,
                customIndustryId:customIndustryId,
                mobile:mobile,
                address:address,
                email:email,
                remark:remark,
                customType:custom_type,
                itemStatus:item_status
            },
            success: function(returnData){
                if(returnData.code == 1){
                    popMsg('更新成功!', "/custom/index");
                } else{
                    layer.msg(returnData.info);
                }
            }

        });
    }

    // 返回
    $(".btn-default").click(function(){
        history.go(-1);
    })
</script>
#end