#set($layout = '/layout/empty.vm')

<head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>中文万维渠道用户-登录</title>
    <link href="${rc.contextPath}/static/css/login.css" rel="stylesheet" type="text/css"/>
    <script src="${rc.contextPath}/static/js/jquery-1.12.2.js" type="text/javascript" language="javascript"></script>
    <script src="${rc.contextPath}/static/js/placeholder.js" type="text/javascript" language="javascript"></script>
    <script src="${rc.contextPath}/static/js/login/channellogin.js" type="text/javascript" language="javascript"></script>
    <script src="${rc.contextPath}/static/js/jquery.form.js" type="text/javascript" language="javascript"></script>
#*    <script type="text/javascript" >
        function changeImage() {
            $('#login_image').attr('src', '${rc.contextPath}/login/generateImage?' + new Date().getTime());
        }
    </script>*#
</head>

<body class="oa">
<div class="loginmain">
    <div class="login_banner"><img src="${rc.contextPath}/static/images/login_banner.png"/></div>
    <form id="id_loginform" action="/zwsc/channeluser/doLogin" method="post">
        <div class="logindetail">
            <p class="login_logo"><img src="${rc.contextPath}/static/images/logo_t.png" width="350" height="60"/></p>
            <div class="login_input">
                <input type="text" placeholder="用户名" class="login_text" name="userName" id="id_uname"/>

                <div class="login_passwordmain">
                    <input type="password" placeholder="密码" class="login_password" autocomplete="off" name="password"
                           id="id_passwd"/>
                </div>

                $!{msg}
                <div class="login_error"></div>
                <a href="javascript:void(0)" class="loginbtn">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
            </div>
        </div>
    </form>
</div>


<div class="loginbottom">copyright 中文万维 版权所有	京ICP证010590号 	京ICP备09030667号-2 	京公网安备11010102000012
</div>

</body>

