#set($layout = '/layout/empty.vm')

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>渠道收入</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="${rc.contextPath}/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="${rc.contextPath}/static/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="${rc.contextPath}/static/css/animate.css" rel="stylesheet">
    <link href="${rc.contextPath}/static/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="${rc.contextPath}/static/js/plugins/layer/laydate/need/laydate.css" rel="stylesheet">
</head>
<form id="form1" action="/zwsc/channeluser/getChannelUserData" method="post" name="pageForm">
    <input type="hidden" name="pageSize" id="pageSize" value=$!{page.pageSize} ></input>
    <input type="hidden" name="pageIndex" id="pageIndex" value=$!{page.pageIndex} ></input>
    #*<input type="hidden" name="cnid" value="$!{cnid}" id="cnid"></input>*#
<body class="white-bg">
<div class="wrapper wrapper-content">
    <div class="loginout">
        <p class="loginout-search">收入查询系统</p>
        <a href="javascript:void(0)" id="loginout" onclick="">退出登录</a>
    </div>

    <div class="top m20-auto w-854">
        <div class="top-l">
            <label>*时间周期:</label>
            <select id="cycle" name="cycle"  class="mr20">
                <option  value="1">日</option>
                <option  value="2" #if("2" eq $!{cycle})
               selected="selected" #end>月</option>
            </select>
            <label>*选择时间：</label>
            <input type="text" id="startTime" name="startTime" class="datepicker" value="$!{startTime}">&nbsp;&nbsp;——&nbsp;&nbsp;
            <input type="text" id="endTime" name="endTime" class="datepicker" value="$!{endTime}">
            <label class="ml20">渠道：</label>
            <select name="cnid">
                <option name="cnid" value="0">--全部--</option>
                #foreach($!m in $!{map.entrySet()})
                    <option name="cnid" value="$!{m.key}" #if($!{m.key} eq $!{channelid})selected="selected"  #end >$!{m.value}($!{m.key})</option>
                #end
            </select>
            <input class="ml40" type="button" id="search" onclick="searchchannel()" value="查询"/>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ml220">
        <table class="table table-bordered">
            <tbody>
            <tr>
                #if ($!{income})
                <th>日期</th>
                #end
               #if ("A1" eq $!{newuser})
                <th>新增</th>
                #end
                #if ("A2" eq $!{activityuser})
                <th>活跃</th>
                #end
                #if ("A3" eq $!{income})
                <th>收入</th>
               #end
            </tr>
                #foreach($channelData in $!{page.getData()})
                <tr>
                    <td>$!{channelData.date}</td>
                    #if ("A1" eq $!{newuser})
                    <td>$!{channelData.newUser}</td>
                    #end
                    #if ("A2" eq $!{activityuser})
                    <td>$!{channelData.activeUser}</td>
                #end
                    #if ("A3" eq $!{income})
                    <td>$!{channelData.income}</td>
                    #end
                </tr>
                #end
            </tbody>
        </table>
    </div>
</div>


</div>
<div class="mask">
   <div class="mask-time">
       <p><br>请选择时间!</p>
       <input type="button" value="确定" class="mt40" id="msg">
   </div>
</div>
<div class="w-800 m-auto">
    #parse('layout/page.vm')
</div>
<!-- 全局js -->
<script src="${rc.contextPath}/static/js/jquery.min.js?v=2.1.4"></script>
<script src="${rc.contextPath}/static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="${rc.contextPath}/static/js/plugins/layer/laydate/laydate.js"></script>
<!-- 自定义js -->
<script src="${rc.contextPath}/static/js/zwsc/channeluser.js"></script>
##<script src="${rc.contextPath}/static/js/content.js"></script>
</body>
</form>

