<div class="money-con mt-list">
        <h3>充值方式统计：(充值成功)</h3>
        <input type="button" value="导出" class="money-btn" onclick="exportWayData();">
    </div>
    <!--列表-->
<table class="money-data mb-30 mt-10">
    <thead>
        <tr>
            <th>日期</th>
            <th>充值方式</th>
            <th>金额</th>
            <th>金额占比</th>
            <th>PV</th>
            <th>PV占比</th>
            <th>UV</th>
            <th>UV占比</th>
            <th>详细</th>
        </tr>
     </thead>
     <tbody id="tableBody">
     </tbody>
</table>
<div class="tcdPageCodes">
</div>
<link rel="stylesheet" href="${rc.contextPath}/static/css/page.css">
<script src="${rc.contextPath}/static/js/jquery.page.js"></script>
<script>
	function drawWayPage(){
		var params = {
                startTime: $("#startTime").val(),
                endTime: $("#endTime").val(),
                cnids: $("#cnids").val()
        };
        setWayPageData(1);//加载后即展示第一页数据
        createWayPageWidget(params);
	}
	
	//创建分页插件, 只应该调用一次
	function createWayPageWidget(params){
		var totalPage = 0;
		//获取总页数
		$.ajax({
			url: "${rc.contextPath}/zwsc/charge/getWayTotalPages.json",
            type: "POST",
            data: params,
            success: function(returnData){
            	if(returnData.code == 1){
            		totalPage = returnData.data;
                    $(".tcdPageCodes").createPage({
                        pageCount: totalPage,
                        current:1,
                        backFn: function(p){//p为当前页号
                            setWayPageData(p)
                        }
                    });
            	} else{
            		alert(returnData.info);
            		return;
            	}
            }
		});
		

	}
	
	function setWayPageData(pageNo){
        var params = {
            startTime: $("#startTime").val(),
            endTime: $("#endTime").val(),
            cnids: $("#cnids").val(),
            pageNo: pageNo//添加页号信息
        };
		$.ajax({
            url: "${rc.contextPath}/zwsc/charge/getWayPageData.json",
            type: "POST",
            data: params,
            success: function(returnData){
                if(returnData.code == 1){
                    var tableData = "";
                    $.each(returnData.data, function(i, item){
                        tableData += "<tr><td>"
                           + item.dt+"</td><td>"
                           + item.chargeWay +"</td><td>"
                           + item.chargeMoney + "</td><td>"
                           + item.moneyRate +"%</td><td>"
                           + item.chargePV + "</td><td>"
                           + item.pvRate + "%</td><td>"
                           + item.chargeUV+"</td><td>"
                           + item.uvRate +"%</td><td>"
                           +"<a href='javascript:;' onclick=toWayDetail(" + item.wayCode + ",'"+ item.chargeWay+"','"+ item.dt +"');>详细</td></tr>";
                    });
                    $("#tableBody").html(tableData);
                } else{
                    alert(returnData.info);
                }
            }
        });
	}
	
	function toWayDetail(wayCode, chargeWay,dt){
		var params = "startTime=" + dt +"&endTime=" + dt + "&cnids=" + $("#cnids").val() +
                "&wayCode=" + wayCode + "&chargeWay=" + chargeWay;
		window.location.href = "${rc.contextPath}/zwsc/charge/toWayDetail?" + params;
	}
	
	function exportWayData(){
        var startTime = $("#startTime").val();
        var endTime = $("#endTime").val();
        var version = $("#versionSel").val();
        var cnids = $("#cnids").val();
        window.location.href="/zwsc/charge/exportWay.json?startTime="+startTime+"" +
                "&endTime="+endTime+"&version="+version+"&cnids="+cnids+"";
	}
</script>