<div class="money-con mt-list">
        <h3>充值赠送铜币额度：</h3>
    </div>
    <!--列表-->
<div style="vertical-align: middle;">
<table class="money-data mb-30 mt-10" style="width:50%;margin-left: auto;margin-right: auto;">
    <thead>
        <tr>
            <th>日期</th>
            <th>充值方式</th>
            <th>赠送铜币额度</th>
        </tr>
     </thead>
     <tbody id="giveTableBody">
     </tbody>        
</table>
</div>
<div class="tcdPageCode">
</div>
<link rel="stylesheet" href="${rc.contextPath}/static/css/page.css">
<script src="${rc.contextPath}/static/js/jquery.page.js"></script>
<script>
	function drawGivePage(){
		var params = {
                timeCycle: 1,
                startTime: $("#startTime").val(),
                endTime: $("#endTime").val(),
                version: $("#versionSel").val(),
                cnids: $("#cnids").val()
        };
        setGivePageData(1);//加载后即展示第一页数据
        createGivePageWidget(params);
	}
	
	//创建分页插件, 只应该调用一次
	function createGivePageWidget(params){
		var totalPage = 0;
		//获取总页数
		$.ajax({
			url: "${rc.contextPath}/zwsc/charge/getGiveTotalPages.json",
            type: "POST",
            data: params,
            success: function(returnData){
            	if(returnData.code == 1){
            		totalPage = returnData.data;
                    $(".tcdPageCode").createPage({
                        pageCount: totalPage,
                        current:1,
                        backFn: function(p){//p为当前页号
                            setGivePageData(p)
                        }
                    });
            	} else{
            		alert(returnData.info);
            		return;
            	}
            }
		});
		

	}
	
	function setGivePageData(pageNo){
        var params = {
            startTime: $("#startTime").val(),
            endTime: $("#endTime").val(),
            cnids: $("#cnids").val(),
            pageNo: pageNo//添加页号信息
        };
		$.ajax({
            url: "${rc.contextPath}/zwsc/charge/getGivePageData.json",
            type: "POST",
            data: params,
            success: function(returnData){
                if(returnData.code == 1){
                    var tableData = "";
                    $.each(returnData.data, function(i, item){
                        tableData += "<tr><td>"
                           + item.dt +"</td><td>"
                           + item.chargeWay +"</td><td>"
                           + item.givenCoins + "</td></tr>";
                    });
                    $("#giveTableBody").html(tableData);
                } else{
                    alert(returnData.info);
                }
            }
        });
	}
</script>