#set($layout = '/layout/empty.vm')
<div id="$!{num}" class="row counter">
    <div class="ibox">
        <div class="ibox-title">
            <select id="adtype_id" data-placeholder="请选择广告形式"  style="width:350px;" class="chosen-select adtype_select" tabindex="2" >
                #foreach($data in $baseAdtypeList)
                    <option value ="$data.id">$data.name</option>
                #end
            </select>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up child-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times child-chevron-close"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            #set($formId = $!{num} + "validateForm")
            <form id="$formId">
            <table class="table table-hover no-margins">
                <tbody>
                    <tr>
                        <td style="width:80px;">媒体单价</td>
                        <td style="width:80px;">
                            <input id="media_price" name="media_price" class="form-control input-params isDecimal notZero" required="" aria-required="true">
                        </td>
                        <td style="width:80px;">对公返点<label class="text-danger">(%)</label></td>
                        <td style="width:80px;">
                            <input id="public_rebate" name="public_rebate" class="form-control input-params isDecimal isPercent" >
                        </td>
                        <td style="width:80px;">采购成本</td>
                        <td style="width:80px;">
                            <input id="purchase" name="purchase" class="form-control input-params isDecimal" >
                        </td>
                        <td style="width:80px;">销售激励比例<label class="text-danger">(%)</label></td>
                        <td style="width:80px;">
                            <input id="sales_incentive_rate" name="sales_incentive_rate"  class="form-control input-params isDecimal isPercent" >
                        </td>
                    </tr>

                <tr>
                </tr>
                <tr>
                    <td>净收入</td>
                    <td >
                        <input id="net_income" name="net_income" class="form-control" disabled>
                    </td>
                    <td>主营业务税金及附加</td>
                    <td >
                        <input id="biz_tax" name="biz_tax" class="form-control" disabled>
                    </td>
                    <td>文化建设税</td>
                    <td >
                        <input id="culture_rate" name="culture_rate" class="form-control" disabled>
                    </td>
                    <td>税金合计</td>
                    <td >
                        <input id="total_rate" name="total_rate" class="form-control" disabled>
                    </td>
                </tr>
                <tr>
                    <td>毛利</td>
                    <td >
                        <input id="gross_profit" name="gross_profit" class="form-control" disabled>
                    </td>
                    <td>毛利率(%)</td>
                    <td >
                        <input id="gross_profit_rate" name="gross_profit_rate" class="form-control" disabled>
                    </td>
                    <td>销售提成比例(%)</td>
                    <td >
                        <input id="sales_commissions_rate" name="sales_commissions_rate" class="form-control" disabled>
                    </td>
                    <td>销售提成金额</td>
                    <td >
                        <input id="sales_commissions" name="sales_commissions" class="form-control" disabled>
                    </td>
                </tr>
                <tr>
                    <td>工资房租分摊比例(%)</td>
                    <td >
                        <input id="salary_rent_rate" name="salary_rent_rate" class="form-control" disabled>
                    </td>
                    <td>工资房租分摊额</td>
                    <td >
                        <input id="salary_rent" name="salary_rent" class="form-control" disabled>
                    </td>
                    <td>销售激励金额</td>
                    <td >
                        <input id="sales_incentive" name="sales_incentive" class="form-control" disabled>
                    </td>
                    <td>税前净利</td>
                    <td >
                        <input id="pre_tax_net_profit" name="pre_tax_net_profit" class="form-control" disabled>
                    </td>
                </tr>
                <tr>
                    <td>所得税率(%)</td>
                    <td >
                        <input id="income_tax_rate" name="income_tax_rate" class="form-control" disabled>
                    </td>
                    <td>所得税</td>
                    <td >
                        <input id="income_tax" name="income_tax" class="form-control" disabled>
                    </td>
                    <td>税后净利</td>
                    <td >
                        <input id="after_tax_net_profit" name="after_tax_net_profit" class="form-control" disabled>
                    </td>
                    <td>净利润率(%)</td>
                    <td >
                        <input id="net_profit_rate" name="net_profit_rate" class="form-control" disabled>
                    </td>
                </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>
</div>


<script>
    var config = {
        ".chosen-select": {},
        ".chosen-select-deselect": {allow_single_deselect: !0},
        ".chosen-select-no-single": {disable_search_threshold: 10},
        ".chosen-select-no-results": {no_results_text: "Oops, nothing found!"},
        ".chosen-select-width": {width: "95%"}
    };
    for (var selector in config)
        $(selector).chosen(config[selector]);


</script>