#set($layout = '/layout/empty.vm')
<tr>
    <td style="width:80px;">媒体单价</td>
    <td style="width:80px;">
        <input value="$!{mediaPrice}" id="media_price" name="media_price" class="form-control input-params">
    </td>
    <td style="width:80px;">对公返点(%)</td>
    <td style="width:80px;">
        <input value="$publicRebate.multiply($std)" id="public_rebate" name="public_rebate" class="form-control input-params col-md-8" >
    </td>
    <td style="width:80px;">采购成本</td>
    <td style="width:80px;">
        <input value="$!{purchase}"  id="purchase" name="purchase" class="form-control input-params" >
    </td>
    <td style="width:80px;">销售激励比例(%)</td>
    <td style="width:80px;">
        <input value="$salesIncentiveRate.multiply($std)"  id="sales_incentive_rate" name="sales_incentive_rate" class="form-control input-params " >
    </td>
</tr>
<tr>
</tr>
<tr>
    <td>净收入</td>
    <td >
        <input value="$!{netIncome}"  id="net_income" name="net_income" class="form-control" disabled>
    </td>
    <td>主营业务税金及附加</td>
    <td >
        <input value="$!{bizTax}"  id="biz_tax" name="biz_tax" class="form-control" disabled>
    </td>
    <td>文化建设税</td>
    <td >
        <input value="$!{cultureRate}"  id="culture_rate" name="culture_rate" class="form-control" disabled>
    </td>
    <td>税金合计</td>
    <td >
        <input value="$!{totalTax}"  id="total_rate" name="total_rate" class="form-control" disabled>
    </td>
</tr>
<tr>
    <td>毛利</td>
    <td >
        <input value="$!{grossProfit}"  id="gross_profit" name="gross_profit" class="form-control" disabled>
    </td>
    <td>毛利率(%)</td>
    <td >
        <input value="$grossProfitRate.multiply($std)"  id="gross_profit_rate" name="gross_profit_rate" class="form-control" disabled>
    </td>
    <td>销售提成比例(%)</td>
    <td >
        <input value="$!{salesCommissionsRate}"  id="sales_commissions_rate" name="sales_commissions_rate" class="form-control" disabled>
    </td>
    <td>销售提成金额</td>
    <td >
        <input value="$!{salesCommissions}"  id="sales_commissions" name="sales_commissions" class="form-control" disabled>
    </td>
</tr>
<tr>
    <td>工资房租分摊比例(%)</td>
    <td >
        <input value="$salaryRentRate.multiply($std)"  id="salary_rent_rate" name="salary_rent_rate" class="form-control" disabled>
    </td>
    <td>工资房租分摊额</td>
    <td >
        <input value="$!{salaryRent}"  id="salary_rent" name="salary_rent" class="form-control" disabled>
    </td>
    <td>销售激励金额</td>
    <td >
        <input value="$!{salesIncentive}"  id="sales_incentive" name="sales_incentive" class="form-control" disabled>
    </td>
    <td>税前净利(%)</td>
    <td >
        <input value="$preTaxNetProfit.multiply($std)"  id="pre_tax_net_profit" name="pre_tax_net_profit" class="form-control" disabled>
    </td>
</tr>
<tr>
    <td>所得税率(%)</td>
    <td >
        <input value="$incomeTaxRate.multiply($std)"  id="income_tax_rate" name="income_tax_rate" class="form-control" disabled>
    </td>
    <td>所得税</td>
    <td >
        <input value="$!{incomeTax}"  id="income_tax" name="income_tax" class="form-control" disabled>
    </td>
    <td>税后净利</td>
    <td >
        <input value="$!{afterTaxNetProfit}"  id="after_tax_net_profit" name="after_tax_net_profit" class="form-control" disabled>
    </td>
    <td>净利润率(%)</td>
    <td >
        <input value="$netProfitRate.multiply($std)"  id="net_profit_rate" name="net_profit_rate" class="form-control" disabled>
    </td>
</tr>