
#define($cssblock)
<link href="#springUrl("")/static/css/plugins/chosen/chosen.css?$!application.getAttribute('/static/css/plugins/chosen/chosen.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/style.min862f.css?v=4.1.0?$!application.getAttribute('/static/css/style.min862f.css?v=4.1.0')" rel="stylesheet">

#end

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>CPM详细</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div id="cpm_detail_content" class="ibox-content">
                    <div id="add_row" class="row">
                        <div class="ibox">
                            <div class="ibox-title">
                                <button id="addCounterBtn" type="button" class="btn btn-w-m btn-info">创建CPM计算器</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>汇总信息</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div id="total-content" class="ibox-content " >
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>广告形式</th>
                            <th>净收入单价</th>
                            <th>销售量</th>
                            <th>净收入</th>
                            <th>净利润率</th>
                            <th>净利润</th>
                        </tr>
                        </thead>
                        <tbody id="total">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


#define($jsblock)
<script type="text/javascript" src="#springUrl("")/static/js/content.min.js?v=1.0.0?$!application.getAttribute('/static/js/content.min.js?v=1.0.0')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/chosen/chosen.jquery.js?$!application.getAttribute('/static/js/plugins/chosen/chosen.jquery.js')"></script>
##<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/jquery.validate.min.js?$!application.getAttribute('/static/js/plugins/validate/jquery.validate.min.js')"></script>
##<script type="text/javascript" src="#springUrl("")/static/js/plugins/validate/messages_zh.min.js?$!application.getAttribute('/static/js/plugins/validate/messages_zh.min.js')"></script>

<script>
    $("#cpm_detail_content").on("click",".child-chevron-up",function(){
                    $(this).parent().parent().parent().parent().children(".ibox-content").slideToggle("slow");

        });

    $("#cpm_detail_content").on("click",".child-chevron-close",function(){
        $(this).parent().parent().parent().parent().parent().remove();
        totalSet();
    });

    $("#cpm_detail_content").on("change",".adtype_select",function(){
        totalSet();
    });

    $("#total-content").on("change",".sale_count",function(){
        var rowList = $(this).parent().parent().parent().children(".rowtr");
        var rowCount = rowList.size();

        var inputParamList = new Array();
        for (var i =0; i < rowCount-1; i++) {
            var rowTemp = rowList.get(i);
            var num = rowTemp.id;
            num = "#"+num;

            var map = {};
            map['netIncomePrice']= $(num).find(".net_income_price_total").text();
            map['netProfitRate']= $(num).find(".net_profit_rate_total").text();
            map['adtypeName']= $(num).find(".adtype").text();
            map['saleCount']= $(num).find(".sale_count").val();
            map['num']= $(num).find(".num").val();

            inputParamList.push(map);
        }
        var json = JSON.stringify(inputParamList);
        $.ajax({
            url:"/salePrice/totalInfo.json?",
            type:"post",
            async: false,
            data:{
                json:json
            },
            success: function(returnData){
                console.log(returnData);
                $("#total").html(returnData);
            }
        });

    });

    $("#cpm_detail_content").on("change",".input-params",function(){
        var tbody = $(this).parent().parent().parent();
        var mediaPrice = tbody.find("#media_price").val();
        var publicRebate = tbody.find("#public_rebate").val();
        var purchase = tbody.find("#purchase").val();
        var salesIncentiveRate = tbody.find("#sales_incentive_rate").val();
        if (mediaPrice == ""
                || publicRebate == ""
                || purchase == ""
                || salesIncentiveRate == "") {

            tbody.find("#net_income").val("");
            tbody.find("#biz_tax").val("");
            tbody.find("#culture_rate").val("");
            tbody.find("#total_rate").val("");
            tbody.find("#gross_profit").val("");
            tbody.find("#gross_profit_rate").val("");
            tbody.find("#sales_commissions_rate").val("");
            tbody.find("#sales_commissions").val("");
            tbody.find("#salary_rent_rate").val("");
            tbody.find("#salary_rent").val("");
            tbody.find("#sales_incentive").val("");
            tbody.find("#pre_tax_net_profit").val("");
            tbody.find("#income_tax_rate").val("");
            tbody.find("#income_tax").val("");
            tbody.find("#after_tax_net_profit").val("");
            tbody.find("#net_profit_rate").val("");

            return;
        }
        publicRebate = publicRebate/100;
        salesIncentiveRate = salesIncentiveRate/100;

        $.ajax({
            url:"/salePrice/accoutInfo.json?",
            type:"post",
            async: false,
            data:{
                mediaPrice:mediaPrice,
                publicRebate:publicRebate,
                purchase:purchase,
                salesIncentiveRate:salesIncentiveRate
            },
            success: function(returnData){
                console.log(returnData);
                tbody.html(returnData);
            }
        });
        totalSet();

    })

    function totalSet() {
        var rowList = $("#cpm_detail_content").children(".counter");
        var rowCount = rowList.size();

        var inputParamList = new Array();
        for (var i =0; i < rowCount; i++) {
            var rowTemp = rowList.get(i);
            var num = rowTemp.id;
            num = "#"+num;

            var map = {};
            map['netIncomePrice']= $(num).find("#net_income").val();
            map['netProfitRate']= $(num).find("#net_profit_rate").val();
            var adtypeId = $(num).find("#adtype_id").val();
            map['adtypeId']= adtypeId;

            if (adtypeId != '') {
                map['adtypeName']= $(num).find("#adtype_id").find("option:selected").text();
            } else {
                map['adtypeName']='';
            }
            map['num']= num;
            inputParamList.push(map);
        }
        var json = JSON.stringify(inputParamList);

        var beforeRowList = $(".rowtr");
        var rowCountBefore = beforeRowList.size();

        var inputParamBeforeList = new Array();
        for (var i =0; i < rowCountBefore-1; i++) {
            var rowBeforeTemp = beforeRowList.get(i);
            var numBefore = rowBeforeTemp.id;
            numBefore = "#"+numBefore;

            var map = {};
            map['netIncomePrice']= $(numBefore).find(".net_income_price_total").text();
            map['netProfitRate']= $(numBefore).find(".net_profit_rate_total").text();
            map['adtypeName']= $(numBefore).find(".adtype").text();
            map['saleCount']= $(numBefore).find(".sale_count").val();
            map['num']= $(numBefore).find(".num").val();

            inputParamBeforeList.push(map);
        }
        var jsonBefore = JSON.stringify(inputParamBeforeList);
        $.ajax({
            url:"/salePrice/totalUpdate.json?",
            type:"post",
            async: false,
            data:{
                json:json,
                jsonBefore:jsonBefore
            },
            success: function(returnData){
                console.log(returnData);
                $("#total").html(returnData);
            }
        });
    }
    // 删除
    $(".btn-info").click(function(){
        var add_row = $("#add_row");
        $.ajax({
            url:"/salePrice/addCounter.json",
            type:"post",
            async: false,
            success: function(returnData){
                console.log(returnData);
                add_row.before(returnData);
            }
        });
    }
    )
    $().ready(
            function(){
//                $("#cpm_info").validate({
//                        rules:{
//                            public_rebate:{
//                                range: "[1,100]"
//                            },
//                            sales_incentive_rate:{
//                                range: "[2,100]"
//                            }
//                        }
//                }
//                );
                var config = {
                    ".chosen-select": {},
                    ".chosen-select-deselect": {allow_single_deselect: !0},
                    ".chosen-select-no-single": {disable_search_threshold: 10},
                    ".chosen-select-no-results": {no_results_text: "Oops, nothing found!"},
                    ".chosen-select-width": {width: "95%"}
                };
                for (var selector in config)
                    $(selector).chosen(config[selector]);

            }
    );

</script>
#end