
#define($cssblock)
<link href="#springUrl("")/static/css/plugins/chosen/chosen.css?$!application.getAttribute('/static/css/plugins/chosen/chosen.css')" rel="stylesheet">
<link href="#springUrl("")/static/css/style.min862f.css?v=4.1.0?$!application.getAttribute('/static/css/style.min862f.css?v=4.1.0')" rel="stylesheet">

#end

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>查询条件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="commentForm">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">CPM</label>
                                <div id="cpm_id_content"  class="col-sm-8">
                                    <select id="cpm_id" data-placeholder="请选择请选择CPM" style="width:350px;" class="chosen-select" tabindex="2" onchange="cpmChange(this)">
                                        <option value="">请选择CPM</option>
                                        #foreach($data in $baseOrderCpmVOList)
                                            <option value ="$data.id">$data.mediaName</option>
                                        #end
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>手动输入</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" >
                    <form class="form-horizontal m-t" id="cpm_info">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">媒体单价</label>
                            <div class="col-sm-8">
                                <input id="media_price" name="media_price" class="form-control input-params">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">对公返点比例</label>
                            <div class="col-sm-8">
                                <input id="public_rebate" name="public_rebate" class="form-control input-params" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">媒体采购成本（元／CPM）</label>
                            <div class="col-sm-8">
                                <input id="purchase" name="purchase" class="form-control input-params" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">销售激励比例</label>
                            <div class="col-sm-8">
                                <input id="sales_incentive_rate" name="sales_incentive_rate" class="form-control input-params" >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>自动计算</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" >
                    <form class="form-horizontal m-t" id="accout_info">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">净收入</label>
                            <div class="col-sm-8">
                                <input id="net_income" name="net_income" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">主营业务税金及附加</label>
                            <div class="col-sm-8">
                                <input id="biz_tax" name="biz_tax" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文化建设税</label>
                            <div class="col-sm-8">
                                <input id="culture_rate" name="culture_rate" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">税金合计</label>
                            <div class="col-sm-8">
                                <input id="total_rate" name="total_rate" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">毛利</label>
                            <div class="col-sm-8">
                                <input id="gross_profit" name="gross_profit" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">毛利率</label>
                            <div class="col-sm-8">
                                <input id="gross_profit_rate" name="gross_profit_rate" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">销售提成比例</label>
                            <div class="col-sm-8">
                                <input id="sales_commissions_rate" name="sales_commissions_rate" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">销售提成金额</label>
                            <div class="col-sm-8">
                                <input id="sales_commissions" name="sales_commissions" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">工资房租分摊比例</label>
                            <div class="col-sm-8">
                                <input id="salary_rent_rate" name="salary_rent_rate" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">工资房租分摊额</label>
                            <div class="col-sm-8">
                                <input id="salary_rent" name="salary_rent" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">销售激励金额</label>
                            <div class="col-sm-8">
                                <input id="sales_incentive" name="sales_incentive" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">税前净利</label>
                            <div class="col-sm-8">
                                <input id="pre_tax_net_profit" name="pre_tax_net_profit" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所得税率</label>
                            <div class="col-sm-8">
                                <input id="income_tax_rate" name="income_tax_rate" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所得税</label>
                            <div class="col-sm-8">
                                <input id="income_tax" name="income_tax" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">税后净利</label>
                            <div class="col-sm-8">
                                <input id="after_tax_net_profit" name="after_tax_net_profit" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">净利润率</label>
                            <div class="col-sm-8">
                                <input id="net_profit_rate" name="net_profit_rate" class="form-control" disabled>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


#define($jsblock)
<script type="text/javascript" src="#springUrl("")/static/js/content.min.js?v=1.0.0?$!application.getAttribute('/static/js/content.min.js?v=1.0.0')"></script>
<script type="text/javascript" src="#springUrl("")/static/js/plugins/chosen/chosen.jquery.js?$!application.getAttribute('/static/js/plugins/chosen/chosen.jquery.js')"></script>

<script>
    $().ready(
            function(){

                var config = {
                    ".chosen-select": {},
                    ".chosen-select-deselect": {allow_single_deselect: !0},
                    ".chosen-select-no-single": {disable_search_threshold: 10},
                    ".chosen-select-no-results": {no_results_text: "Oops, nothing found!"},
                    ".chosen-select-width": {width: "95%"}
                };
                for (var selector in config)
                    $(selector).chosen(config[selector]);

            }
    );

    $("#cpm_info").on("change",".input-params",function(){
        getCountInfo();
    })

    function cpmChange(obj) {
        getCpmInfo();
        countInputChange();
    };

    function countInputChange() {
        getCountInfo();
    };

    function getCpmInfo() {
        var cpmId = $("#cpm_id").val();
        $.ajax({
            url:"/salePrice/cpmInfo.json?",
            type:"post",
            async: false,
            data:{
                cpmId:cpmId
            },
            success: function(returnData){
                console.log(returnData);
                $("#cpm_info").html(returnData);
            }
        });
    }

    function getCountInfo() {
        var mediaPrice = $("#media_price").val();
        var publicRebate = $("#public_rebate").val();
        var purchase = $("#purchase").val();
        var salesIncentiveRate = $("#sales_incentive_rate").val();
        if (mediaPrice == ""
                || publicRebate == ""
                || purchase == ""
                || salesIncentiveRate == "") {

            $("#net_income").val("");
            $("#biz_tax").val("");
            $("#culture_rate").val("");
            $("#total_rate").val("");
            $("#gross_profit").val("");
            $("#gross_profit_rate").val("");
            $("#sales_commissions_rate").val("");
            $("#sales_commissions").val("");
            $("#salary_rent_rate").val("");
            $("#salary_rent").val("");
            $("#sales_incentive").val("");
            $("#pre_tax_net_profit").val("");
            $("#income_tax_rate").val("");
            $("#income_tax").val("");
            $("#after_tax_net_profit").val("");
            $("#net_profit_rate").val("");

            return;
        }

        $.ajax({
            url:"/salePrice/accoutInfo.json?",
            type:"post",
            async: false,
            data:{
                mediaPrice:mediaPrice,
                publicRebate:publicRebate,
                purchase:purchase,
                salesIncentiveRate:salesIncentiveRate
            },
            success: function(returnData){
                console.log(returnData);
                $("#accout_info").html(returnData);
            }
        });
    }

</script>
#end